Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-10, with the labels that each got.

#405 From private repo
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/media/azure-stack-resource-manager-deploy-template-vscode/azure-stack-resource-manager-vscode-schema.png
Labels: do-not-merge

#406 From private repo
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-develop-templates.md
  azure-stack/user/azure-stack-developer.md
  azure-stack/user/azure-stack-key-vault-intro.md
  azure-stack/user/azure-stack-key-vault-store-credentials.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/hybrid-solution-retail-footfall-detection.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#409 minor/trivial typo fix
  azure-stack/operator/azure-stack-hci-overview.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server-threshold/prod

#412 From private repo
  azure-stack/operator/azure-stack-connection-models.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-disconnected-deployment.md
  azure-stack/operator/azure-stack-extension-host-prepare.md
  azure-stack/operator/azure-stack-firewall.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/release-notes.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-section_schedule.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-use-portal.md
Labels: do-not-merge, review-team-triage

#407 Update azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#414 From private repo
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#415 From private repo
  .openpublishing.publish.config.json
Labels: do-not-merge, review-team-triage

#416 From private repo
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-extension-host-prepare.md
  azure-stack/operator/azure-stack-firewall.md
  azure-stack/operator/azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-identity-architecture.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/operator/azure-stack-integrate-dns.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-usage-reporting.md
Labels: do-not-merge, review-team-triage

#417 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-operations-checklist.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
Labels: do-not-merge

#418 From private repo
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-subscribe-services.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#419 From private repo
  .openpublishing.publish.config.json
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
Labels: do-not-merge

#420 Fix typo for Cisco ASR
  azure-stack/operator/azure-stack-connect-expressroute.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#421 From private repo
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#422 From private repo
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/user/azure-stack-manage-vm-protect.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#424 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-configure-time.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-integrate-physical-device-auditing.md
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-manage-permissions.md
  azure-stack/operator/azure-stack-manage-portals.md
  azure-stack/operator/azure-stack-offer-services-overview.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/includes/azure-stack-vaas-sas-step_navigate.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-edge-pattern-geo-distribution.md
  azure-stack/user/azure-stack-edge-pattern-hybrid-ci-cd.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-solution-mongodb-ha.md
  azure-stack/user/azure-stack-solution-sql-ha.md
  azure-stack/user/azure-stack-solution-staged-data.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
Labels: do-not-merge

#425 Fix grammar issue
  azure-stack/operator/azure-stack-updates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#426 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/gallerypkg1.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/gallerypkg2.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg1.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg2.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg6.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg6sm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/add-image.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/blob-service.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/blob-storage.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/blob-storagesm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/container.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/toolsmsg.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/toolsmsgsm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/upload.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/uploadsm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/view-marketplace.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/view-marketplacesm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/vmnew1.png
  azure-stack/user/azure-stack-solution-cloud-burst.md
Labels: do-not-merge

#429 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-operations-checklist.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/media/azure-stack-solution-pipeline/agentjob.png
  azure-stack/user/media/azure-stack-solution-pipeline/buildargument.png
  azure-stack/user/media/azure-stack-solution-pipeline/connecttoprojectteamexp.png
Labels: do-not-merge

#431 From private repo
  azure-stack/operator/azure-stack-csp-ref-operations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#432 added PEP event 1017
  azure-stack/operator/azure-stack-integrate-security.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#433 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: do-not-merge

#434 Updates to Cisco links_20191015
  azure-stack/operator/azure-stack-update-oem.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#436 From private repo
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/tutorial-offer-services.md
  azure-stack/user/azure-stack-storage-connect-se.md
Labels: do-not-merge

#437 Minor typo fix in Azure Stack Identity Overview
  azure-stack/operator/azure-stack-identity-overview.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#439 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-manage-storage-physical-memory-capacity.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/sioslogo.png
Labels: do-not-merge

#440 From private repo
  azure-stack/operator/azure-stack-update-plan.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#441 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-11300.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/release-notes.md
Labels: do-not-merge, review-team-triage

#442 From private repo
  azure-stack/operator/azure-stack-integrate-dns.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#443 Replace en-dash with two hyphens in K8S commands.
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#444 From private repo
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
Labels: do-not-merge

#321 Update static routing statements
  azure-stack/operator/azure-stack-border-connectivity.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#430 Update Infra description
  azure-stack/operator/azure-stack-network.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#446 From private repo
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/service-plan-offer-subscription-overview.md
Labels: do-not-merge

#447 From private repo
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/azure-stack-solution-staged-data.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#448 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#449 From private repo
  azure-stack/operator/media/azure-stack-network/recommended-design.png
Labels: do-not-merge, review-team-triage

#450 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#455 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image1.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image2.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image3.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image4.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image5.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image6.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/iscsi-file-server.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/overview.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/process.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/script-flow.png
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/overview.png
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/s2svpntunnels2.png
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/stack-rras1.png
Labels: do-not-merge

#458 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/azure-stack-network-howto-backup-storage.md
  azure-stack/user/media/azure-stack-network-howto-backup-storage/azure-stack-storage-backup.png
  azure-stack/user/media/azure-stack-network-howto-backup-storage/back-up-step1.png
  azure-stack/user/media/azure-stack-network-howto-backup-storage/back-up-step2.png
Labels: do-not-merge
