Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-07, with the labels that each got.

#208 Rewording resume option note
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, tracking (C&L)

#211 From private repo
  azure-stack/asdk/asdk-architecture.md
  azure-stack/operator/azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
  azure-stack/user/azure-stack-key-vault-push-secret-into-vm.md
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/azure-stack-manage-vm-protect.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
  azure-stack/user/azure-stack-solution-hybrid-connectivity.md
  azure-stack/user/azure-stack-solution-hybrid-identity.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#212 Updating latest available hotfix to 1.1906.2.37
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, tracking (C&L)

#213 Clarifying 1906 runtime does not depend on # nodes
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, tracking (C&L)

#218 From private repo
  azure-stack/asdk/asdk-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#214 fixed documentation error in close privileged endpoint
  azure-stack/operator/azure-stack-privileged-endpoint.md
Labels: do-not-merge, review-team-triage, tracking (C&L)

#205 rephrasing of the note message
  azure-stack/operator/azure-stack-security-configuration.md
Labels: Change sent to author, azure-stack/svc, do-not-merge, tracking (C&L)

#220 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#223 From private repo
  azure-stack/operator/azure-stack-privileged-endpoint.md
Labels: do-not-merge, review-team-triage

#222 Update azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-diagnostic-test.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, review-team-triage

#224 Snapshot Azure managed disks support
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, review-team-triage, tracking (C&L)

#225 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1906.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#226 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
Labels: do-not-merge

#229 From private repo
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/azure-stack-powershell-user-docker.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#230 From private repo
  azure-stack/user/azure-stack-manage-permissions.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#232 From private repo
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-metrics-monitor.md
  azure-stack/user/azure-stack-metrics-supported.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-overview.md
  azure-stack/user/azure-stack-policy-module.md
  azure-stack/user/azure-stack-quick-windows-portal.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#234 From private repo
  azure-stack/user/index.yml
  azure-stack/user/media/index/icon-cognitive-services.svg
  azure-stack/user/media/index/kubernetes.png
  azure-stack/user/media/index/service-fabric-cluster.png
Labels: do-not-merge, review-team-triage

#235 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/codiad.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/sugarcrm.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/x2enginesalescrm.png
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-edge-pattern-cross-cloud-scaling.md
  azure-stack/user/azure-stack-edge-pattern-geo-distribution.md
  azure-stack/user/azure-stack-edge-pattern-hybrid-ci-cd.md
  azure-stack/user/azure-stack-edge-pattern-overview.md
  azure-stack/user/media/azure-stack-edge-pattern-cross-cloud-scaling/cross-cloud-scaling.png
  azure-stack/user/media/azure-stack-edge-pattern-geo-distribution/geo-distribution.png
  azure-stack/user/media/azure-stack-edge-pattern-hybrid-ci-cd/hybrid-ci-cd.png
Labels: do-not-merge

#236 From private repo
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#237 From private repo
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#227 Update azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-diagnostic-test.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#238 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1903.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#239 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-edge-pattern-overview.md
  azure-stack/user/azure-stack-hybrid-cloud-patterns.md
  azure-stack/user/azure-stack-solution-cloud-burst.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
  azure-stack/user/azure-stack-solution-hybrid-connectivity.md
  azure-stack/user/azure-stack-solution-hybrid-identity.md
  azure-stack/user/azure-stack-solution-mongodb-ha.md
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/azure-stack-solution-sql-ha.md
  azure-stack/user/azure-stack-solution-staged-data.md
Labels: do-not-merge

#242 From private repo
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#241 Improved code formatting and readability
  azure-stack/operator/azure-stack-diagnostics.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#243 From private repo
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#244 Update Outbound table with support bridge service
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#245 From private repo
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-replace-node.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#247 From private repo
  azure-stack/operator/azure-stack-release-notes-checklist.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#246 Updated links
  azure-stack/operator/azure-stack-node-actions.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#249 From private repo
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/user/azure-stack-manage-permissions.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/azure-stack-subscribe-services.md
  azure-stack/user/azure-stack-understanding-dns.md
  azure-stack/user/azure-stack-use-portal.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#248 Update HW partner links
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-replace-node.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#253 From private repo
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#254 From private repo
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-replace-component.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#255 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-integrate-dns.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
  azure-stack/partner/azure-stack-vaas-automate-with-powershell.md
  azure-stack/partner/azure-stack-vaas-best-practice.md
  azure-stack/partner/azure-stack-vaas-create-oem-package.md
  azure-stack/partner/azure-stack-vaas-interactive-feature-verification.md
  azure-stack/partner/azure-stack-vaas-key-concepts.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/partner/azure-stack-vaas-monitor-test.md
  azure-stack/partner/azure-stack-vaas-overview.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/partner/azure-stack-vaas-schedule-test-pass.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-validate-microsoft-updates.md
  azure-stack/partner/azure-stack-vaas-validate-oem-package.md
  azure-stack/partner/azure-stack-vaas-validate-solution-new.md
  azure-stack/partner/includes/azure-stack-partner-appliesto.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-metrics-monitor.md
  azure-stack/user/azure-stack-metrics-supported.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/azure-stack-vm-sizes.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#256 From private repo
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/media/azure-stack-solution-pipeline/addartifact.png
  azure-stack/user/media/azure-stack-solution-pipeline/agentjob.png
  azure-stack/user/media/azure-stack-solution-pipeline/buildagent.png
  azure-stack/user/media/azure-stack-solution-pipeline/buildargument.png
  azure-stack/user/media/azure-stack-solution-pipeline/cloneproject.png
  azure-stack/user/media/azure-stack-solution-pipeline/connecttoproject.png
  azure-stack/user/media/azure-stack-solution-pipeline/connecttoprojectteamexp.png
  azure-stack/user/media/azure-stack-solution-pipeline/contindeploymentenabled.png
  azure-stack/user/media/azure-stack-solution-pipeline/continuousdeploymenttrigger.png
  azure-stack/user/media/azure-stack-solution-pipeline/copy-app-id.png
  azure-stack/user/media/azure-stack-solution-pipeline/copy-secret.png
  azure-stack/user/media/azure-stack-solution-pipeline/create-app.png
  azure-stack/user/media/azure-stack-solution-pipeline/create-release.png
  azure-stack/user/media/azure-stack-solution-pipeline/createpat.png
  azure-stack/user/media/azure-stack-solution-pipeline/createreleaseicon.png
  azure-stack/user/media/azure-stack-solution-pipeline/endpoint-permissions.png
  azure-stack/user/media/azure-stack-solution-pipeline/endpointform.png
  azure-stack/user/media/azure-stack-solution-pipeline/endpointform2.png
  azure-stack/user/media/azure-stack-solution-pipeline/image3.png
  azure-stack/user/media/azure-stack-solution-pipeline/image4.png
  azure-stack/user/media/azure-stack-solution-pipeline/image5.png
  azure-stack/user/media/azure-stack-solution-pipeline/managesecurity.png
  azure-stack/user/media/azure-stack-solution-pipeline/newstage.png
  azure-stack/user/media/azure-stack-solution-pipeline/packageorfolder.png
  azure-stack/user/media/azure-stack-solution-pipeline/pats.png
  azure-stack/user/media/azure-stack-solution-pipeline/patwarning.png
  azure-stack/user/media/azure-stack-solution-pipeline/predeployafterrelease.png
  azure-stack/user/media/azure-stack-solution-pipeline/predeployment1.png
  azure-stack/user/media/azure-stack-solution-pipeline/releaselog.png
  azure-stack/user/media/azure-stack-solution-pipeline/releasepending.png
  azure-stack/user/media/azure-stack-solution-pipeline/releasesummary.png
  azure-stack/user/media/azure-stack-solution-pipeline/releasetemplate.png
  azure-stack/user/media/azure-stack-solution-pipeline/runtimeidentifier.png
  azure-stack/user/media/azure-stack-solution-pipeline/save-devops-icon.png
  azure-stack/user/media/azure-stack-solution-pipeline/select-one-subscription.png
  azure-stack/user/media/azure-stack-solution-pipeline/select-role.png
  azure-stack/user/media/azure-stack-solution-pipeline/select-subscription.png
  azure-stack/user/media/azure-stack-solution-pipeline/selectazurestack.png
  azure-stack/user/media/azure-stack-solution-pipeline/setvariable.png
  azure-stack/user/media/azure-stack-solution-pipeline/stage1.png
  azure-stack/user/media/azure-stack-solution-pipeline/viewstagetasks.png
Labels: do-not-merge

#257 Update azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#258 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/asdk/asdk-start-stop.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-backup-recover-data.md
  azure-stack/operator/azure-stack-backup-reference.md
  azure-stack/operator/azure-stack-best-practices-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1907.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/media/azure-stack-automatic-log-collection/add-container.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/alert-expiration-date.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/alert-url-expired.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-automatic-log-collection.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-diagnostic-log-decision-tree.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-enable-automatic-log-collection-small.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-enable-automatic-log-collection.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-help-overview-enable-option.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-container-does-not-exist-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-create-storage-account.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-not-authorized-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-over-time-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-overview.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-server-could-not-authenticate-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-start-time-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-under-time-error.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/blob-sas-url.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/blob-storage-lifecycle-management.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/collect-logs-now.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/create-blob-container.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/get-sas.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/sas-properties.png
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
Labels: do-not-merge

#259 Remove reference to 20 update domains
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#261 From private repo
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/blob-storage-lifecycle-management.png
  azure-stack/operator/media/azure-stack-automatic-log-collection/check-storage-account.png
  azure-stack/user/azure-stack-understanding-dns.md
Labels: do-not-merge

#264 From private repo
  azure-stack/operator/azure-stack-best-practices-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/media/azure-stack-automatic-log-collection/azure-stack-log-collection-overview.png
Labels: do-not-merge

#260 Add note to re-enable multitenancy postupdate
  azure-stack/operator/azure-stack-release-notes-checklist.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, do-not-merge

#265 From private repo
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#269 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-solution-cloud-burst.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
  azure-stack/user/azure-stack-solution-hybrid-connectivity.md
  azure-stack/user/azure-stack-solution-hybrid-identity.md
  azure-stack/user/azure-stack-solution-mongodb-ha.md
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/azure-stack-solution-sql-ha.md
  azure-stack/user/azure-stack-solution-staged-data.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#270 From private repo
  azure-stack/operator/index.yml
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-dev-start.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: do-not-merge

#274 From private repo
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-develop-templates.md
  azure-stack/user/azure-stack-developer.md
  azure-stack/user/azure-stack-dns.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#250 Update azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#251 Update azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#263 Updated known issues page for 1907 release
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#271 Adding network infra test
  azure-stack/operator/azure-stack-diagnostic-test.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#275 From private repo
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#280 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#278 Fix broken table
  azure-stack/user/azure-stack-metrics-supported.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#281 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/asdk/asdk-validate-backup.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-release-notes-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
