Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-09, with the labels that each got.

#351 Update azure-stack-node-actions.md
  azure-stack/operator/azure-stack-node-actions.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#352 From private repo
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-release-notes-1908.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1908.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-updates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#353 From private repo
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-capacity-planning.md
  azure-stack/operator/azure-stack-app-service-configure-deployment-sources.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#354 From private repo
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/user/azure-stack-version-profiles-net.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#350 Remove AzS-BGPNAT01
  azure-stack/operator/azure-stack-connect-expressroute.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#355 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-updates.md
Labels: do-not-merge

#356 From private repo
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#358 From private repo
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-update-oem.md
Labels: do-not-merge

#359 From private repo
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-one.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-two.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
Labels: do-not-merge, review-team-triage

#360 From private repo
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1908.md
  azure-stack/operator/azure-stack-update-plan.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-updates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#361 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/operator/azure-stack-release-notes-1908.md
Labels: do-not-merge

#365 From private repo
  azure-stack/operator/azure-stack-release-notes-1908.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#368 From private repo
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-architecture.md
  azure-stack/asdk/asdk-connect.md
  azure-stack/asdk/asdk-deploy-considerations.md
  azure-stack/asdk/asdk-register.md
  azure-stack/operator/app-service-back-up.md
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-add-ips.md
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-app-service-capacity-planning.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-one.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-two.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-backup-back-up-azure-stack.md
  azure-stack/operator/azure-stack-backup-best-practices.md
  azure-stack/operator/azure-stack-backup-enable-backup-console.md
  azure-stack/operator/azure-stack-backup-enable-backup-powershell.md
  azure-stack/operator/azure-stack-backup-infrastructure-backup.md
  azure-stack/operator/azure-stack-backup-recover-data.md
  azure-stack/operator/azure-stack-backup-reference.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-manage-permissions.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#371 Fixed the sequence of network quota
  azure-stack/operator/azure-stack-quota-types.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#372 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/azure-stack-kubernetes-ask-engine-support.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: do-not-merge

#373 From private repo
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/user/azure-stack-understanding-dns.md
Labels: do-not-merge, review-team-triage

#374 Removed a space that broke one of the cmdlets
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#375 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-registration.md
Labels: do-not-merge, review-team-triage

#377 From private repo
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-release-notes-security-updates.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/operator/media/azure-stack-viewing-public-ip-address-consumption/Image01.png
  azure-stack/operator/media/azure-stack-viewing-public-ip-address-consumption/Image02.png
  azure-stack/operator/media/azure-stack-viewing-public-ip-address-consumption/ip-address-consumption-01.png
  azure-stack/operator/media/azure-stack-viewing-public-ip-address-consumption/ip-address-consumption-02.png
  azure-stack/user/azure-stack-version-profiles-net.md
  includes/remove-account.md
Labels: do-not-merge

#378 From private repo
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-cli-admin.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-connected-deployment.md
  azure-stack/operator/azure-stack-connection-models.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#379 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-release-notes-1908.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1908.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-update-plan.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image2.png
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image3.png
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image4.png
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image6.png
Labels: do-not-merge

#380 Fixed typo (Widows)
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#381 From private repo
  azure-stack/operator/azure-stack-integrate-identity.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#382 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#383 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
Labels: do-not-merge

#384 From private repo
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-install.md
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-connected-deployment.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-create-offer.md
  azure-stack/operator/azure-stack-create-plan.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-solution-staged-data.md
Labels: do-not-merge, review-team-triage

#385 Update azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-metrics-azure-data.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#386 Update azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#388 Update prep instructions - customer feedback
  azure-stack/asdk/asdk-validate-backup.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#389 From private repo
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#390 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/hybrid-solution-retail-footfall-detection.md
  azure-stack/user/media/hybrid-pattern-ai-footfall-detection/solution-architecture.png
Labels: do-not-merge

#392 From private repo
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-usage-related-faq.md
Labels: do-not-merge, review-team-triage

#393 added debian 8 latest version
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#394 updated with current marketplace changes
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#395 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
Labels: do-not-merge

#362 Remove disk bandwidth
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#398 From private repo
  azure-stack/operator/azure-stack-aks-engine.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#399 From private repo
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/operator/azure-stack-create-offer.md
  azure-stack/operator/azure-stack-create-plan.md
  azure-stack/operator/azure-stack-delete-offer.md
  azure-stack/operator/azure-stack-plan-offer-quota-overview.md
  azure-stack/operator/azure-stack-subscribe-plan-provision-vm.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/create-add-on-plan.md
  azure-stack/user/azure-stack-subscribe-services.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#396 added valuable marketplace items
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#400 Delete an unnecessary symbol.
  azure-stack/operator/azure-stack-backup-recover-data.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#401 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#402 From private repo
  azure-stack/asdk/asdk-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#403 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#404 From private repo
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-update-plan.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
