Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-08, with the labels that each got.

#279 Multiple formatting and code fixes
  azure-stack/operator/azure-stack-integrate-monitor.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#282 From private repo
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-release-notes-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#284 From private repo
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#286 From private repo
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#288 From private repo
  azure-stack/operator/azure-stack-release-notes-1907.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#290 Update azure-stack-windows-server-faq.md
  azure-stack/operator/azure-stack-windows-server-faq.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#291 From private repo
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/composr.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/drupal.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/etcd.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/grafana.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/nats.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/neo4j.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/reviewboard.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/tensorflow.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/zookeeper.png
  azure-stack/user/azure-stack-metrics-azure-data.md
Labels: do-not-merge

#299 From private repo
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#292 Content is on the wrong page
  azure-stack/operator/azure-stack-network.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#297 Update vm-update-management.md
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#294 Adding MAC address content from network integration
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#300 From private repo
  azure-stack/user/azure-stack-ethereum.md
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-key-vault-intro.md
  azure-stack/user/azure-stack-key-vault-manage-portal.md
  azure-stack/user/azure-stack-key-vault-manage-powershell.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#302 Fix azure-stack-configure-on-demand-diagnostic-log-collection.md Spel…
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#293 Updating with some of the content from network integration
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#304 Corrected Typo
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#306 From private repo
  azure-stack/user/index.yml
Labels: do-not-merge, review-team-triage

#310 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/oracle.png
Labels: do-not-merge

#308 Fixed two typos in this document
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
Labels: Change sent to author, assessing (C&L), azure-stack/svc, ready-to-merge

#305 added parameter for SubscriptionName to Register-AzSGuestDirectoryTenant
  azure-stack/operator/azure-stack-enable-multitenancy.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#311 From private repo
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#313 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#314 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/operator/app-service-back-up.md
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: do-not-merge

#315 From private repo
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-delete-offer.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-plan-offer-quota-overview.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-subscribe-plan-provision-vm.md
  azure-stack/operator/azure-stack-validation-report.md
  azure-stack/user/azure-stack-deploy-template-command-line.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/azure-stack-key-vault-manage-powershell.md
  azure-stack/user/azure-stack-policy-module.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#317 From private repo
  azure-stack/operator/azure-stack-release-notes-1907.md
  azure-stack/operator/azure-stack-supported-os.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#318 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-update-oem.md
Labels: do-not-merge

#319 From private repo
  azure-stack/operator/azure-stack-update-oem.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#322 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-customer-defined.md
  azure-stack/operator/azure-stack-release-notes-1907.md
Labels: do-not-merge

#323 From private repo
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-advanced-eval.md
  azure-stack/asdk/asdk-architecture.md
  azure-stack/asdk/asdk-connect.md
  azure-stack/asdk/asdk-deploy-considerations.md
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-download.md
  azure-stack/operator/app-service-recover.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
Labels: do-not-merge

#324 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#325 From private repo
  azure-stack/asdk/asdk-prepare-host.md
  azure-stack/asdk/media/asdk-prepare-host/step-five-host-ip-config.png
  azure-stack/asdk/media/asdk-prepare-host/step-four-network-adapter.png
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: do-not-merge

#326 From private repo
  azure-stack/operator/azure-stack-integrate-dns.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1907.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#327 From private repo
  azure-stack/operator/azure-stack-backup-enable-backup-console.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#320 Update azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-disk.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#339 From private repo
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/asdk/asdk-validate-backup.md
  azure-stack/asdk/asdk-what-is.md
  azure-stack/operator/azure-stack-add-ips.md
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-add-users-adfs.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#341 Update azure-stack-vpn-gateway-settings.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#343 From private repo
  azure-stack/asdk/asdk-prepare-host.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-windows-server-faq.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#347 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-app-service-update-offline.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-plan-offer-quota-overview.md
  azure-stack/operator/deployment-networking.md
  azure-stack/user/TOC.yml
Labels: do-not-merge

#349 From private repo
  azure-stack/operator/media/azure-stack-updates/update-blade.png
Labels: do-not-merge, review-team-triage
