Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-12, with the labels that each got.

#512 From private repo
  azure-stack/asdk/asdk-start-stop.md
  azure-stack/asdk/asdk-what-is.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/media/azure-stack-overview/azure-stack-integrated-system.png
  azure-stack/operator/media/azure-stack-overview/azure-stack-job-roles.png
  azure-stack/operator/media/azure-stack-overview/azure-stack-scale-architecture-full.png
  azure-stack/operator/media/azure-stack-overview/azure-stack-scale-architecture.png
  azure-stack/operator/media/azure-stack-overview/job-roles.png
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/iaas-architecture-vm-windows.md
Labels: do-not-merge, review-team-triage

#513 From private repo
  azure-stack/operator/azure-stack-replace-disk.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#514 Fix html title
  azure-stack/user/network-howto-f5.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#515 From private repo
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/azure-stack-security-bitlocker.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-sql-resource-provider-11300.md
  azure-stack/operator/azure-stack-sql-resource-provider-11330.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/user/azure-stack-manage-vm-disks.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#516 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-vm-sizes.md
Labels: do-not-merge

#519 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11470.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-sql-resource-provider-11470.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#520 From private repo
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/media/azure-stack-security-av/image1.png
  azure-stack/operator/media/azure-stack-security-av/image2.png
  azure-stack/operator/media/azure-stack-security-av/image3.png
  azure-stack/operator/media/azure-stack-security-av/image4.png
  azure-stack/operator/media/azure-stack-security-av/image5.png
  azure-stack/operator/media/azure-stack-security-av/image6.png
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#522 Inserted "Hub" on multiple occasions
  azure-stack/operator/azure-stack-hci-overview.md
Labels: Change sent to author, do-not-merge, storage/tech, windows-server-threshold/prod

#524 From private repo
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/deployment-networking.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#527 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#528 From private repo
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/partner/azure-stack-vaas-automate-with-powershell.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-validate-microsoft-updates.md
  azure-stack/partner/azure-stack-vaas-validate-oem-package.md
Labels: do-not-merge

#532 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/iaas-architecture-vm-linux.md
Labels: do-not-merge

#533 From private repo
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes-checklist.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#534 From private repo
  azure-stack/docfx.json
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#530 Fix folder structure of certificates
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#535 From private repo
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#536 From private repo
  .openpublishing.publish.config.json
  azure-stack/asdk/index.yml
  azure-stack/partner/index.yml
Labels: do-not-merge

#538 From private repo
  .openpublishing.redirection.json
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#540 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#541 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/known-issues.md
  azure-stack/user/TOC.yml
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/media/authenticate-azure-stack-hub/azure-stack-hub-auth-info.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#542 From private repo
  azure-stack/operator/azure-stack-pki-certs.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#544 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/media/azure-stack-mysql-resource-provider-maintain/mysqlrp-diagnostics-settings.png
  azure-stack/operator/media/azure-stack-mysql-resource-provider-maintain/mysqlrp-event-logs.png
  azure-stack/operator/media/azure-stack-mysql-resource-provider-maintain/mysqlrp-iis-logs.png
  azure-stack/operator/media/azure-stack-sql-resource-provider-maintain/sqlrp-diagnostics-settings.png
  azure-stack/operator/media/azure-stack-sql-resource-provider-maintain/sqlrp-event-logs.png
  azure-stack/operator/media/azure-stack-sql-resource-provider-maintain/sqlrp-iis-logs.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#545 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image1.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image10.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image11.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image12.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image13.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image14.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image15.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image16.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image17.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image18.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image19.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image20.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image21.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image22.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image23.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image24.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image25.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image26.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image27.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image28.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image29.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image4.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image5.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image6.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image7.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image8.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image9.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#547 From private repo
  azure-stack/hybrid/pattern-retail-footfall-detection.md
  azure-stack/operator/service-plan-offer-subscription-overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#548 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#551 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#554 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#555 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#558 From private repo
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/user/azure-stack-manage-vm-protect.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#559 From private repo
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#549 Update Validate Azure Stack Certificates syntax
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#561 From private repo
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-manage-permissions.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-windows-server-faq.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#563 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#564 From private repo
  azure-stack/operator/azure-stack-security-foundations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#565 From private repo
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#566 From private repo
  azure-stack/operator/azure-stack-security-foundations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
