Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-06, with the labels that each got.

#140 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-add-users-adfs.md
  azure-stack/operator/azure-stack-capacity-planner.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-capacity-planning-storage.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1901.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/operator/capacity-planning.md
  azure-stack/user/azure-stack-ethereum.md
Labels: do-not-merge

#141 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-tutorial-tenant-vm.md
  azure-stack/operator/media/azure-stack-replace-disk/DiskAlert.png
  azure-stack/operator/media/azure-stack-replace-disk/GetStorageJobOutput.png
  azure-stack/operator/media/azure-stack-replace-disk/GetVirtualDiskOutput.png
  azure-stack/operator/media/azure-stack-replace-disk/check-replaced-physical-disks-azure-stack.png
  azure-stack/operator/media/azure-stack-replace-disk/get-azure-stack-volumes-health.png
  azure-stack/user/azure-stack-network-differences.md
Labels: do-not-merge

#142 Calling out 1902 as Full Update
  azure-stack/operator/azure-stack-update-1902.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#143 Call out 1901 as full update
  azure-stack/operator/azure-stack-update-1901.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#144 Call out Express Update for 1903
  azure-stack/operator/azure-stack-update-1903.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#146 Remove runtime change from improvements section
  azure-stack/operator/azure-stack-update-1903.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#147 From private repo
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/user/azure-stack-subscribe-services.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#148 Update azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#145 Calling out 1904 as express update
  azure-stack/operator/azure-stack-release-notes-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#149 Fix markdown links
  azure-stack/operator/azure-stack-app-service-overview.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#150 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-diagnostics.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1905.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-update-1901.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/media/azure-stack-help-and-support/get-support-previous.png
  azure-stack/operator/media/azure-stack-help-and-support/get-support-tutorials.png
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
  azure-stack/user/azure-stack-deploy-template-command-line.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-dns.md
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/azure-stack-solution-staged-data-analytics.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-understanding-dns.md
  azure-stack/user/media/azure-stack-solution-hybrid-pipeline/000_18.png
Labels: do-not-merge

#152 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#154 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#155 Adding known issue for preparation prerequisite failures
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#156 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#157 Update azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#159 From private repo
  azure-stack/operator/azure-stack-manage-portals.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#158 Deleted ", SerialNumber" at line 155
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#160 Update kubernetes description
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#161 From private repo
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-integrate-physical-device-auditing.md
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-validate-adfs.md
  azure-stack/operator/azure-stack-validate-graph.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: do-not-merge

#162 Point to the right SUSE BYOS images instead to the PAYG images; fixed…
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#163 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#164 adding ADV190013
  azure-stack/operator/azure-stack-release-notes-security-updates-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#165 Update azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#166 From private repo
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/operator/azure-stack-create-offer.md
  azure-stack/operator/azure-stack-create-plan.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/create-add-on-plan.md
  azure-stack/operator/media/azure-stack-create-offer/change-state.png
  azure-stack/operator/media/azure-stack-create-offer/new-offer.png
  azure-stack/operator/media/azure-stack-create-offer/offer-settings.png
  azure-stack/operator/media/azure-stack-create-offer/review-offer.png
  azure-stack/operator/media/azure-stack-create-offer/select-plan.png
  azure-stack/operator/media/azure-stack-create-plan/plan-name.png
  azure-stack/operator/media/azure-stack-create-plan/resource-group.png
  azure-stack/operator/media/create-add-on-plan/add-on1.png
  azure-stack/operator/media/create-add-on-plan/add-on2.png
  azure-stack/operator/media/create-add-on-plan/add-on3.png
  azure-stack/operator/media/create-add-on-plan/add-on4.png
  azure-stack/operator/media/create-add-on-plan/add-on4lg.png
  azure-stack/user/azure-stack-key-vault-manage-portal.md
  azure-stack/user/media/azure-stack-key-vault-manage-portal/image1.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#167 From private repo
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/user/azure-stack-key-vault-push-secret-into-vm.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#170 From private repo
  azure-stack/operator/azure-stack-release-notes-1905.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#172 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-understanding-dns.md
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#174 From private repo
  azure-stack/operator/azure-stack-add-ips.md
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/operator/azure-stack-capacity-planner.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-capacity-planning-storage.md
  azure-stack/operator/azure-stack-connected-deployment.md
  azure-stack/operator/azure-stack-connection-models.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-disconnected-deployment.md
  azure-stack/operator/azure-stack-extension-host-prepare.md
  azure-stack/operator/azure-stack-firewall.md
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/deployment-networking.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/partner/includes/azure-stack-vaas-sas-step_generate.md
  azure-stack/partner/includes/azure-stack-vaas-sas-step_navigate.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-section_update-azs.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_naming.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_select-agent.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_select-solution.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_submit.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_tags.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_test-params.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_upload-stampinfo.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-completion.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-section_schedule.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-use-portal.md
Labels: do-not-merge

#175 From private repo
  azure-stack/operator/azure-stack-diagnostics.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/azure-stack-key-vault-store-credentials.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-solution-cloud-burst.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
Labels: do-not-merge

#176 From private repo
  azure-stack/asdk/asdk-register.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/veeam.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#177 Update azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-release-notes-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#178 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/azure-stack-delete-offer.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-1905.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1905.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
Labels: do-not-merge

#179 From private repo
  azure-stack/operator/azure-stack-security-bitlocker.md
  azure-stack/operator/index.yml
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#180 Update azure-stack-linux.md
  azure-stack/operator/azure-stack-linux.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#181 From private repo
  azure-stack/asdk/asdk-register.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/TOC.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#182 From private repo
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/01_kub_market_item.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/03_kub_config_settings-aad.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/03_kub_config_settings-adfs.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/04_preview.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#185 Fix property name for autoUpgradeMinorVersion
  azure-stack/operator/azure-stack-release-notes-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#187 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-tutorial-sql-server.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-hybrid-cloud-patterns.md
  azure-stack/user/azure-stack-solution-mongodb-ha.md
  azure-stack/user/azure-stack-solution-sql-ha.md
  azure-stack/user/azure-stack-solution-staged-data-analytics.md
  azure-stack/user/azure-stack-solution-staged-data.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/media/azure-stack-solution-mongdb-ha/image1.png
  azure-stack/user/media/azure-stack-solution-sql-ha/image1.png
  azure-stack/user/media/azure-stack-solution-sql-ha/image2.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/hybrid-pillars.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image1.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image10.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image11.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image12.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image13.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image14.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image15.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image2.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image3.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image4.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image5.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image6.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image7.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image8.png
  azure-stack/user/media/azure-stack-solution-staged-data-analytics/image9.png
  azure-stack/user/media/azure-stack-solution-staged-data/image1.png
  azure-stack/user/media/azure-stack-solution-staged-data/image2.png
  azure-stack/user/media/azure-stack-solution-staged-data/image3.png
Labels: do-not-merge

#189 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/media/azure-stack-create-service-principal/assign-role.png
  azure-stack/operator/media/azure-stack-create-service-principal/assigned-role.png
  azure-stack/operator/media/azure-stack-create-service-principal/image16.png
  azure-stack/operator/media/azure-stack-create-service-principal/image17.png
  azure-stack/operator/media/azure-stack-create-service-principal/select-subscription.png
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-create-service-principals.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: do-not-merge

#190 From private repo
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-windows-server-faq.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#191 From private repo
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#193 From private repo
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#194 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#195 Add 1.1905.3.48 hotfix post install
  azure-stack/operator/azure-stack-release-notes-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#196 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#197 Update azure-stack-storage-transfer.md with minor edits
  azure-stack/user/azure-stack-storage-transfer.md
Labels: ready-to-merge

#202 Update azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#201 Update azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#203 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#204 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-release-notes-1906.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1905.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1906.md
  azure-stack/operator/azure-stack-release-notes-security-updates-1906.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/media/azure-stack-usage-issues/stackres.png
  azure-stack/operator/media/azure-stack-usage-issues/usageerror2.png
  azure-stack/operator/media/azure-stack-usage-issues/usageerror3.png
Labels: do-not-merge

#206 From private repo
  azure-stack/operator/azure-stack-release-notes-1906.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#209 From private repo
  azure-stack/asdk/asdk-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
