Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-05, with the labels that each got.

#60 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-release-notes-checklist.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#62 From private repo
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#65 Update azure-stack-deployment-worksheet.md
  azure-stack/operator/azure-stack-deployment-worksheet.md
Labels: Change sent to author, azure-stack/svc, do-not-merge, triaged

#58 Add fix for IcM issue
  azure-stack/operator/azure-stack-update-1902.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, triaged

#57 Adding aka.ms for automatic update redirection
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge, triaged

#67 Update azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-customer-journey.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#68 From private repo
  azure-stack/asdk/asdk-connect.md
  azure-stack/asdk/asdk-deploy-considerations.md
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-download.md
  azure-stack/asdk/asdk-install.md
  azure-stack/asdk/asdk-register.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11300.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-sql-resource-provider-11300.md
  azure-stack/operator/azure-stack-sql-resource-provider-11330.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/capacity-planning-spreadsheet.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-manage-vm-protect.md
Labels: do-not-merge

#69 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/media/azure-stack-marketplace/marketplace1.png
  azure-stack/operator/media/azure-stack-publish-custom-marketplace-item/image1.png
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy1.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy2.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy3.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy4.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy5.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy6.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy7.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#70 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-hybrid-cloud-patterns.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#75 From private repo
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1901.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#77 From private repo
  azure-stack/operator/azure-stack-diagnostics.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#78 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/media/azure-stack-version-profiles-azurecli2/cli-python-location.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#79 Added DNS name label info
  azure-stack/operator/azure-stack-integrate-dns.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#80 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-deploy-template-command-line.md
  azure-stack/user/azure-stack-key-vault-manage-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#81 Update azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-apply-updates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#82 Update azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-apply-updates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#83 From private repo
  azure-stack/operator/azure-stack-integrate-dns.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1901.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/user/azure-stack-solution-pipeline.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#84 From private repo
  azure-stack/operator/azure-stack-identity-architecture.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-subscribe-plan-provision-vm.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#89 Update azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#92 Update azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#93 Minor fixes to profile versions doc
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#94 Minor code fixes
  azure-stack/operator/azure-stack-powershell-install.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#95 From private repo
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#96 Updated Max NICs for DS1_v2
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#97 From private repo
  azure-stack/asdk/asdk-deploy-considerations.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/azure-stack-storage-dev.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#98 duplicate item
  azure-stack/operator/compare-azure-azure-stack.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#100 From private repo
  azure-stack/asdk/asdk-redeploy.md
  azure-stack/operator/azure-stack-backup-infrastructure-backup.md
  azure-stack/operator/azure-stack-cli-admin.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-manage-permissions.md
  azure-stack/operator/azure-stack-manage-storage-physical-memory-capacity.md
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-provision-storage-account.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/azure-stack-dev-start-howto-vm-go.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-overview.md
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: do-not-merge

#102 From private repo
  azure-stack/operator/azure-stack-powershell-install.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#105 From private repo
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-dev-start-howto-vm-go.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#107 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/media/azure-stack-create-service-principal/create-service-principal-in-azure-stack-secret.png
  azure-stack/operator/media/azure-stack-create-service-principal/image12.png
  azure-stack/operator/media/azure-stack-create-service-principal/image15.png
  azure-stack/operator/media/azure-stack-create-service-principal/image16.png
  azure-stack/operator/media/azure-stack-create-service-principal/image17.png
  azure-stack/user/azure-stack-create-service-principals.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#4 Update additional deployment methods in Next steps
  azure-stack/user/azure-stack-arm-templates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#63 Update azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#108 From private repo
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
  azure-stack/user/azure-stack-manage-vm-disks.md
Labels: do-not-merge

#111 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#112 From private repo
  .openpublishing.redirection.json
  azure-stack/breadcrumb/toc.yml
  azure-stack/index.md
  azure-stack/media/index/azure-stack.svg
  azure-stack/media/index/azure-stack2.svg
  azure-stack/media/index/i_get-started.svg
  azure-stack/media/index/i_guidelines.svg
  azure-stack/media/index/i_overview.svg
  azure-stack/media/index/i_quick-start.svg
  azure-stack/media/index/i_reference.svg
  azure-stack/media/index/i_tasks.svg
  azure-stack/media/index/tutorial.svg
  azure-stack/operator/azure-stack-linux.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-develop-templates.md
  azure-stack/user/azure-stack-developer.md
  azure-stack/user/azure-stack-key-vault-intro.md
  azure-stack/user/azure-stack-key-vault-store-credentials.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#115 From private repo
  azure-stack/index.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#110 Fix azs 1.7.2 modules install
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-powershell-install.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#114 Fixed code in azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#116 Update azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#117 From private repo
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-integrate-identity.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#119 Add known issue with ConvertTo-AzureRmVMManagedDisk
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#121 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#123 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-help-and-support.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/media/azure-stack-help-and-support/get-support-cards.png
  azure-stack/operator/media/azure-stack-help-and-support/get-support-tiles.png
  azure-stack/operator/media/azure-stack-help-and-support/get-support-tutorials.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#124 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/media/app-service-billing-faq/app-service-worker-tiers.png
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-create-service-principals.md
  azure-stack/user/azure-stack-powershell-configure-user.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#126 From private repo
  azure-stack/operator/azure-stack-help-and-support.md
  azure-stack/operator/media/azure-stack-help-and-support/get-support-asdk.png
  azure-stack/operator/media/azure-stack-help-and-support/get-support-cards.png
  azure-stack/operator/media/azure-stack-help-and-support/get-support-integrated.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#127 Update azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#129 From private repo
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/user/azure-stack-solution-cloud-burst.md
  azure-stack/user/azure-stack-solution-geo-distributed.md
  azure-stack/user/azure-stack-solution-hybrid-cloud.md
  azure-stack/user/azure-stack-solution-hybrid-connectivity.md
  azure-stack/user/azure-stack-solution-hybrid-identity.md
  azure-stack/user/azure-stack-solution-pipeline.md
  azure-stack/user/azure-stack-solution-staged-data-analytics.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/media/azure-stack-version-profiles-azurecli2/root-cert-name.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#125 Update azure-stack-updates.md
  azure-stack/operator/azure-stack-updates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#130 Update azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#132 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#134 From private repo
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/user/azure-stack-version-profiles-go.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#135 From private repo
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-linux-portal.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#133 Updated networking issues
  azure-stack/operator/azure-stack-update-1902.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#136 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-release-notes-1904.md
  azure-stack/operator/azure-stack-update-1901.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/operator/capacity-planning-compute.md
  azure-stack/operator/capacity-planning-spreadsheet.md
  azure-stack/operator/capacity-planning-storage.md
  azure-stack/operator/capacity-planning.md
  azure-stack/operator/media/azure-stack-capacity-planning/physical-memory-capacity.png
  azure-stack/operator/media/azure-stack-capacity-planning/storage.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#138 From private repo
  azure-stack/asdk/asdk-register.md
  azure-stack/asdk/asdk-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#139 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-hci-overview.md
  azure-stack/operator/azure-stack-help-and-support.md
  azure-stack/operator/azure-stack-release-notes-known-issues-1904.md
  azure-stack/operator/azure-stack-update-1902.md
  azure-stack/operator/azure-stack-update-1903.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/capacity-planning.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/media/azure-stack-hci/azure-family.png
  azure-stack/operator/media/azure-stack-hci/azure-stack-hci-solution.png
  azure-stack/operator/media/azure-stack-hci/buying-azure-stack-hci.png
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/media/azure-stack-dev-start-vscode-azure/image1.png
  azure-stack/user/media/azure-stack-dev-start-vscode-azure/image2.png
Labels: do-not-merge
