Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2019-11, with the labels that each got.

#465 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
  azure-stack/user/iaas-architecture-nva-architecture.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-vm-windows.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
  azure-stack/user/media/azure-stack-network-howto-backup-replicator/image2.png
  azure-stack/user/media/azure-stack-network-howto-backup-replicator/image4.png
  azure-stack/user/media/azure-stack-network-howto-backup-replicator/image6.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image1.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image2.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image3.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image4.png
  azure-stack/user/media/iaas-architecture-vm-linux/image1.png
  azure-stack/user/media/iaas-architecture-vm-windows/image1.png
  azure-stack/user/media/iaas-architecture-windows-sql-n-tier/image1.png
  azure-stack/user/media/iaas-architecturesql-n-tier-multi-region/image1.png
Labels: do-not-merge

#467 From private repo
  azure-stack/operator/azure-stack-customer-journey.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#468 only one NTP server language added
  azure-stack/operator/azure-stack-configure-time.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#470 From private repo
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/operator/azure-stack-troubleshooting.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#471 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#475 From private repo
  azure-stack/operator/azure-stack-network-offer-backup-commvault.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-provision-storage-account.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
Labels: do-not-merge, review-team-triage

#473 Update release notes
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#477 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-update-plan.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image10.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image11.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image12.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image13.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image14.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image15.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image16.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image17.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image18.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image19.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image20.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image21.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image22.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image23.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image24.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image25.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image26.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image8.png
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/image9.png
Labels: do-not-merge

#478 From private repo
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#479 Bug 5636714: Update external documentation to add info on 2 VM Images
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#480 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-customer-defined.md
  azure-stack/operator/azure-stack-disconnected-deployment.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/partner/azure-stack-vaas-monitor-test.md
  azure-stack/partner/azure-stack-vaas-overview.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/partner/azure-stack-vaas-schedule-test-pass.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-validate-oem-package.md
  azure-stack/partner/azure-stack-vaas-validate-solution-new.md
  azure-stack/partner/includes/azure-stack-partner-appliesto.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-dev-start.md
  azure-stack/user/azure-stack-metrics-monitor.md
  azure-stack/user/azure-stack-metrics-supported.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-vm-sizes.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#486 New known issue uncovered
  azure-stack/operator/known-issues.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#487 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/media/network-howto-f5/image1.png
  azure-stack/user/media/network-howto-f5/image10.png
  azure-stack/user/media/network-howto-f5/image11.png
  azure-stack/user/media/network-howto-f5/image12.png
  azure-stack/user/media/network-howto-f5/image13.png
  azure-stack/user/media/network-howto-f5/image14.png
  azure-stack/user/media/network-howto-f5/image15.png
  azure-stack/user/media/network-howto-f5/image16.png
  azure-stack/user/media/network-howto-f5/image17.png
  azure-stack/user/media/network-howto-f5/image18.png
  azure-stack/user/media/network-howto-f5/image2.png
  azure-stack/user/media/network-howto-f5/image3.png
  azure-stack/user/media/network-howto-f5/image4.png
  azure-stack/user/media/network-howto-f5/image5.png
  azure-stack/user/media/network-howto-f5/image6.png
  azure-stack/user/media/network-howto-f5/image7.png
  azure-stack/user/media/network-howto-f5/image8.png
  azure-stack/user/media/network-howto-f5/image9.png
  azure-stack/user/network-howto-f5.md
Labels: do-not-merge

#491 From private repo
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/operator/azure-stack-firewall.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
Labels: do-not-merge

#370 Added the difference about the SKU of PIP
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#492 Add latest extension name
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#488 Updating new default Hashing algorithms for VPN
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#493 From private repo
  azure-stack/user/azure-stack-version-profiles-python.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#285 Sentense need to be fixed
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#495 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-configure-dns.md
  azure-stack/operator/azure-stack-customer-defined.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/add-from-azure1.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/add-from-azure1sm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/add-from-azure3.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/add-from-azure3sm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/image03.PNG
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/image03sm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/image05.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/tool1.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/tool1sm.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/tool2.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/tool2sm.png
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image6.png
Labels: do-not-merge

#494 Remove unnecessary parameter
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage

#496 From private repo
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#497 From private repo
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#498 From private repo
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#502 From private repo
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-security-av/image1.png
  azure-stack/operator/media/azure-stack-security-av/image3.png
  azure-stack/operator/media/azure-stack-security-av/image4.png
  azure-stack/operator/media/azure-stack-security-av/image5.png
  azure-stack/operator/media/azure-stack-security-av/image6.png
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: do-not-merge

#505 From private repo
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: do-not-merge

#507 From private repo
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#504 [doc] [release notes] Added reference to AKS engine release on Azure Stack
  azure-stack/operator/release-notes.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#508 Update azure-stack-network-howto-backup-replicator.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#509 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11470.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/operator/azure-stack-sql-resource-provider-11470.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#510 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11470.md
  azure-stack/operator/azure-stack-sql-resource-provider-11470.md
  azure-stack/operator/media/azure-stack-security-av/image1.png
  azure-stack/operator/media/azure-stack-security-av/image3.png
  azure-stack/operator/media/azure-stack-security-av/image4.png
  azure-stack/operator/media/azure-stack-security-av/image5.png
  azure-stack/operator/media/azure-stack-security-av/image6.png
Labels: do-not-merge
