Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-08, with the labels that each got.

#940 From private repo
  azure-stack/user/iaas-architecture-vm-linux.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#946 From private repo
  azure-stack/includes/note-powershell-adfs.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/user/azure-stack-powershell-configure-user.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#948 From private repo
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/operator/azure-stack-registration-role.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#952 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/media/kubernetes-aks-engine-custom-vnet/virtual-network-rt-nsg.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#953 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/deploy/before-you-start.md
  azure-stack/hci/get-started.md
  azure-stack/hci/manage/troubleshoot-credssp.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#957 From private repo
  azure-stack/operator/azure-stack-backup-recover-data.md
  azure-stack/operator/azure-stack-backup-reference.md
  azure-stack/operator/azure-stack-security-bitlocker.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#958 From private repo
  azure-stack/docfx.json
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/shopware.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#959 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#961 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/media/cluster/create-cluster-type.png
  azure-stack/hci/release-notes.md
  azure-stack/hci/toc.yml
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/event-hubs-rp-prerequisites.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-help-and-support/save-logs-locally.png
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/gpu-vms-about.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#963 From private repo
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/media/cache/all-flash-deployment-possibilities.png
  azure-stack/hci/concepts/media/cache/cache-read-write-behavior.png
  azure-stack/hci/concepts/media/cache/cache-server-side-architecture.png
  azure-stack/hci/concepts/media/cache/exotic-deployment-possibilities.png
  azure-stack/hci/concepts/media/cache/hybrid-deployment-possibilities.png
  azure-stack/hci/deploy/media/witness/cloud-witness-1.png
  azure-stack/hci/deploy/media/witness/cloud-witness-2.png
  azure-stack/hci/deploy/witness.md
  azure-stack/hci/release-notes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/media/operator-access-workstation/check-hardware-lifecycle-host-version.png
  azure-stack/operator/media/operator-access-workstation/check-operator-access-workstation-vm-version.png
  azure-stack/operator/operator-access-workstation.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: do-not-merge

#964 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/gpu-vms-about.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#966 From private repo
  azure-stack/hci/get-started.md
  azure-stack/hci/manage/media/monitor-cluster/dashboard-alert.png
  azure-stack/hci/manage/media/monitor-cluster/performance-monitor.png
  azure-stack/hci/manage/monitor-cluster.md
  azure-stack/hci/toc.yml
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#967 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#969 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/operator-access-workstation.md
Labels: do-not-merge

#970 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-key-vault-intro.md
  azure-stack/user/gpu-vms-about.md
  azure-stack/user/troubleshoot-vm-known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#971 From private repo
  azure-stack/hci/deploy/network-controller-powershell.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/release-notes.md
  azure-stack/user/gpu-vms-about.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#975 From private repo
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/tutorial-offer-services.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#977 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#978 From private repo
  azure-stack/operator/azure-stack-sql-resource-provider.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#979 From private repo
  azure-stack/operator/azure-stack-network.md
  azure-stack/user/gpu-vms-about.md
Labels: do-not-merge

#986 From private repo
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-portal.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg1.png
  azure-stack/operator/media/azure-stack-create-and-publish-marketplace-item/pkg2.png
  azure-stack/operator/migrate-azurerm-az.md
  azure-stack/partner/azure-stack-vaas-automate-with-powershell.md
  azure-stack/partner/azure-stack-vaas-best-practice.md
  azure-stack/partner/azure-stack-vaas-interactive-feature-verification.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/partner/azure-stack-vaas-monitor-test.md
  azure-stack/partner/azure-stack-vaas-overview.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-schedule-test-pass.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-validate-microsoft-updates.md
  azure-stack/partner/azure-stack-vaas-validate-oem-package.md
  azure-stack/partner/azure-stack-vaas-validate-solution-new.md
  azure-stack/partner/includes/azure-stack-partner-appliesto.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#987 From private repo
  azure-stack/hci/deploy/network-controller-powershell.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/azure-stack-metrics-monitor.md
  azure-stack/user/azure-stack-metrics-supported.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/deploy-foundational-patterns.md
  azure-stack/user/iaas-architecture-nva-architecture.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/network-howto-vpn-tunnel.md
Labels: do-not-merge

#988 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/user/TOC.yml
  azure-stack/user/virtual-machines-use-managed-disks-template.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#989 From private repo
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-related-faq.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#990 From private repo
  azure-stack/operator/azure-stack-network.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#991 From private repo
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-dev-start.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/iaas-architecture-nva-architecture.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-vm-windows.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/network-howto-vpn-tunnel.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#994 From private repo
  azure-stack/operator/azure-stack-manage-permissions.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
  azure-stack/user/network-howto-vpn-tunnel.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#995 From private repo
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#998 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/media/azure-stack-capacity-planning/add-a-node.png
  azure-stack/operator/media/azure-stack-capacity-planning/decrease-vm-size.png
  azure-stack/operator/media/azure-stack-capacity-planning/increase-node-size.png
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge
