Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-07, with the labels that each got.

#883 Update deploy-foundational-patterns.md
  azure-stack/user/deploy-foundational-patterns.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#885 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/hci/concepts/choose-drives.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#886 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/user/deploy-foundational-patterns.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#887 From private repo
  azure-stack/operator/azure-stack-backup-best-practices.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#890 From private repo
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-manage-vm-protect.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#891 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#892 From private repo
  azure-stack/asdk/index.yml
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#893 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-registration.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#894 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/user/TOC.yml
  azure-stack/user/troubleshoot-vm-known-issues.md
  azure-stack/zone-pivot-groups.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#895 From private repo
  azure-stack/operator/TOC.yml
Labels: do-not-merge

#897 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#901 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#902 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#903 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-troubleshooting.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#904 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/manage/media/azure-network-adapter/add-azure-network-adapter.png
  azure-stack/hci/manage/use-azure-network-adapter.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
Labels: do-not-merge

#899 Update azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#898 Update azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-get-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#900 Update azure-stack-validate-pki-certs.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#906 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#908 From private repo
  azure-stack/operator/azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
  azure-stack/user/azure-stack-powershell-configure-user.md
  azure-stack/user/delete-vm.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
  azure-stack/user/media/delete-vm/azure-stack-hub-delete-vm-portal.png
Labels: do-not-merge

#909 From private repo
  azure-stack/operator/azure-stack-node-actions.md
Labels: do-not-merge

#910 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#913 Update typo
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#916 From private repo
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/fault-tolerance.md
  azure-stack/hci/concepts/security.md
  azure-stack/hci/deploy/before-you-start.md
  azure-stack/hci/deploy/validate.md
  azure-stack/hci/deploy/witness.md
  azure-stack/hci/manage/azure-site-recovery.md
  azure-stack/hci/manage/cluster-powershell.md
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/languages.md
  azure-stack/hci/manage/use-azure-backup.md
  azure-stack/hci/manage/use-azure-network-adapter.md
  azure-stack/hci/manage/vm-affinity.md
  azure-stack/hci/manage/vm-powershell.md
  azure-stack/hci/overview.md
  azure-stack/index.yml
  azure-stack/operator/TOC.yml
  azure-stack/partner/TOC.yml
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/iaas-architecture-vm-linux.md
Labels: do-not-merge

#917 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/overview.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/partner/TOC.yml
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-powershell-user-docker.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#919 From private repo
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#921 From private repo
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/index.yml
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-powershell-user-docker.md
Labels: do-not-merge

#924 From private repo
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/user/azure-stack-dev-start.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#925 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/create-stretched-volumes.md
  azure-stack/operator/azure-stack-app-service-configure-deployment-sources.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#926 From private repo
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-vm-sizes.md
  azure-stack/user/create-ssh-key-on-windows.md
  azure-stack/user/iaas-architecture-vm-windows.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/user-overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#927 From private repo
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-manage-vm-disks.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#928 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/overview.md
  azure-stack/operator/azure-stack-troubleshooting.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#929 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/manage/vm-powershell.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/partner/TOC.yml
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-vm-windows.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#930 From private repo
  azure-stack/hci/overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#934 From private repo
  azure-stack/asdk/TOC.yml
  azure-stack/hci/toc.yml
  azure-stack/operator/TOC.yml
  azure-stack/user/TOC.yml
Labels: do-not-merge, review-team-triage

#937 Typo "Microsoft storage explorer"→"Microsoft Azure Storage Explorer"
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#938 Typo "storage explorer"→"Storage Explorer"
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#939 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
