Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-12, with the labels that each got.

#1162 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/toc.yml
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1163 From private repo
  azure-stack/asdk/asdk-cli.md
  azure-stack/includes/operator-note-owa.md
  azure-stack/mdc/azure-stack-version-profiles-azurecli-2-tzl.md
  azure-stack/operator/azure-stack-network-offer-backup-commvault.md
  azure-stack/operator/azure-stack-network-solutions-enable.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/migrate-azurerm-az.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-dev-start-deploy-app.md
  azure-stack/user/azure-stack-dev-start-howto-deploy-linux.md
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/azure-stack-dev-start-howto-vm-go.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-dev-start.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-backup-storage.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-version-profiles.md
  azure-stack/user/create-ssh-key-on-windows.md
  azure-stack/user/deploy-foundational-patterns.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
  azure-stack/user/network-howto-vpn-tunnel.md
  azure-stack/user/user-overview.md
Labels: do-not-merge

#1164 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/deploy-linux-application.md
  azure-stack/aks-hci/deploy-windows-application.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/media/create-kubernetes-cluster/basics.png
  azure-stack/aks-hci/media/create-kubernetes-cluster/networking.png
  azure-stack/aks-hci/media/extension-manager.png
  azure-stack/aks-hci/media/setup/dashboard.png
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/persistent-storage-windows-nodes.md
  azure-stack/aks-hci/persistent-volume.md
  azure-stack/aks-hci/prepare-windows-nodes-gmsa.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1165 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/deploy/network-controller-powershell.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1167 From private repo
  .github/workflows/greetings.yml
  .openpublishing.redirection.json
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/deploy-linux-application.md
  azure-stack/aks-hci/deploy-windows-application.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/persistent-volume.md
  azure-stack/aks-hci/prepare-windows-nodes-gmsa.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/hci/concepts/stretched-clusters.md
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/deployment-overview.md
  azure-stack/mdc/integration-overview.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1168 Changed the depth of an indent
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1169 Add known issue for CRL checking
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1171 From private repo
  .github/workflows/greetings.yml
  azure-stack/hci/deploy/deployment-overview.md
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1172 From private repo
  azure-stack/hci/deploy/deployment-overview.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/delete-vm.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1174 From private repo
  azure-stack/hci/release-notes.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-storage-dev.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1175 From private repo
  azure-stack/operator/diagnostic-log-collection.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1177 Minor phrasing updates to LLDP section
  azure-stack/hci/concepts/physical-network-requirements.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1178 From private repo
  azure-stack/hci/concepts/billing.md
  azure-stack/hci/concepts/media/utility-applications/altaro-logo.png
  azure-stack/hci/concepts/media/utility-applications/commvault-logo.png
  azure-stack/hci/concepts/media/utility-applications/datadog-logo.png
  azure-stack/hci/concepts/media/utility-applications/veeam-logo.png
  azure-stack/hci/concepts/media/utility-applications/veritas-logo.png
  azure-stack/hci/concepts/utility-applications.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/deployment-quickstart.md
  azure-stack/hci/deploy/media/cluster/create-cluster-define-networks.png
  azure-stack/hci/deploy/media/cluster/create-cluster-management-adapters.png
  azure-stack/hci/deploy/media/cluster/create-cluster-network-controller.png
  azure-stack/hci/deploy/media/cluster/create-cluster-rdma.png
  azure-stack/hci/deploy/media/cluster/create-cluster-virtual-switches.png
  azure-stack/hci/deploy/media/cluster/create-cluster-wizard.png
  azure-stack/hci/deploy/media/cluster/create-cluster.png
  azure-stack/hci/deploy/media/migrate/migrate-cluster.png
  azure-stack/hci/deploy/migrate-cluster-new-hardware.md
  azure-stack/hci/deploy/migrate-cluster-same-hardware.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/get-started.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/get-support.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/media/manage-cluster/add-server.png
  azure-stack/hci/manage/media/manage-cluster/remove-server.png
  azure-stack/hci/manage/media/monitor-cluster/performance-monitor.png
  azure-stack/hci/manage/troubleshoot-credssp.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/media/get-started/example-counter.png
  azure-stack/hci/media/get-started/performance-monitor.png
  azure-stack/hci/media/get-started/servers-inventory.png
  azure-stack/hci/media/get-started/servers-summary.png
  azure-stack/hci/overview.md
  azure-stack/hci/release-notes.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1179 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/data-collection.md
  azure-stack/hci/concepts/utility-applications.md
  azure-stack/hci/deploy/deployment-quickstart.md
  azure-stack/hci/deploy/media/migrate/migrate-cluster-same-hardware.png
  azure-stack/hci/deploy/migrate-cluster-same-hardware.md
  azure-stack/hci/faq.md
  azure-stack/hci/known-issues.md
  azure-stack/hci/release-information.md
  azure-stack/hci/release-notes.md
  azure-stack/hci/toc.yml
  azure-stack/operator/powershell-install-az-module.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1180 From private repo
  azure-stack/.vscode/launch.json
  azure-stack/hci/deploy/deployment-overview.md
  azure-stack/hci/deploy/deployment-quickstart.md
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/get-support.md
  azure-stack/hci/overview.md
  azure-stack/includes/event-hubs-scale.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/event-hubs-rp-capacity-planning.md
  azure-stack/operator/event-hubs-rp-install.md
  azure-stack/operator/event-hubs-rp-manage.md
  azure-stack/operator/event-hubs-rp-overview.md
  azure-stack/operator/event-hubs-rp-prerequisites.md
  azure-stack/operator/event-hubs-rp-remove.md
  azure-stack/operator/event-hubs-rp-rotate-secrets.md
  azure-stack/user/event-hubs-overview.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
  azure-stack/user/media/event-hubs-quickstart-cluster-portal/1-deployment-complete.png
  azure-stack/user/media/event-hubs-quickstart-cluster-portal/2-view-cluster.png
  azure-stack/user/media/event-hubs-quickstart-cluster-portal/3-event-hubs-namespace-overview.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1158 Update azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1173 Update azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-add-scale-node.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1181 From private repo
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
  azure-stack/operator/event-hubs-rp-overview.md
  azure-stack/user/event-hubs-overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1184 From private repo
  azure-stack/docfx.json
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1185 From private repo
  azure-stack/hci/overview.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1186 From private repo
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/media/azure-stack-region-management/regions.png
  azure-stack/operator/media/azure-stack-region-management/regionssm.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1188 From private repo
  azure-stack/mdc/azure-stack-capacity-planner.md
  azure-stack/mdc/azure-stack-capacity-planning-overview.md
  azure-stack/mdc/azure-stack-kubernetes-aks-engine-deploy-windows-tzl.md
  azure-stack/mdc/azure-stack-manage-vm-protect-tzl.md
  azure-stack/mdc/azure-stack-vm-considerations.md
  azure-stack/mdc/azure-stack-vm-sizes.md
  azure-stack/mdc/network-appendix.md
  azure-stack/mdc/network-deployment.md
  azure-stack/mdc/operator/azure-stack-backup-best-practices-tzl.md
  azure-stack/mdc/operator/azure-stack-download-azure-marketplace-item-tca.md
  azure-stack/mdc/operator/azure-stack-manage-basics-tzl.md
  azure-stack/mdc/operator/azure-stack-node-actions-tzl.md
  azure-stack/mdc/operator/container-registry-template-rotate-secrets-tzl.md
  azure-stack/mdc/operator/container-registry-template-update-tzl.md
  azure-stack/mdc/operator/registration-tzl.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/reference/pep-2002/Register-CustomDnsServer.md
  azure-stack/ruggedized/azure-stack-capacity-planning-overview.md
  azure-stack/ruggedized/customer-journey.md
Labels: do-not-merge

#1189 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/concepts/media/configure-firewalls/firewalls-diagram.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/media/azure-stack-apply-updates/dashboard.png
  azure-stack/operator/media/azure-stack-apply-updates/image1.png
  azure-stack/operator/media/azure-stack-apply-updates/image3.png
  azure-stack/operator/media/azure-stack-update-apply/image1.png
  azure-stack/operator/media/azure-stack-update-apply/image2.png
  azure-stack/operator/media/azure-stack-update-apply/image3.png
  azure-stack/operator/media/azure-stack-update-apply/image4.png
  azure-stack/operator/media/azure-stack-update-apply/image5.png
  azure-stack/operator/media/azure-stack-update-apply/image6.png
  azure-stack/operator/media/azure-stack-update-apply/image7.png
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/delete-vm.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1190 From private repo
  azure-stack/hci/deploy/sdn-express.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1191 Update azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1194 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1195 From private repo
  azure-stack/hci/concepts/utility-applications.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-plan-offer.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1198 From private repo
  azure-stack/hci/preview-release-notes.md
  azure-stack/hci/release-information.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1199 From private repo
  azure-stack/mdc/operator/registration-tzl.md
  azure-stack/ruggedized/operator/billing-model-overview-tzl.md
  azure-stack/ruggedized/operator/registration-tzl.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1200 From private repo
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/concepts/stretched-clusters.md
  azure-stack/hci/preview-release-notes.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1201 From private repo
  azure-stack/hci/manage/troubleshoot-credssp.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1202 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1203 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#664 Version mismatch
  azure-stack/asdk/asdk-post-deploy.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#1205 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/operator/azure-stack-get-azurestacklog.md
  azure-stack/operator/diagnostic-log-collection.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#943 Update azure-stack-add-ips.md
  azure-stack/operator/azure-stack-add-ips.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#1014 Update azure-stack-security-av.md
  azure-stack/operator/azure-stack-security-av.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#1055 Update azure-stack-vpn-gateway-settings.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1056 Update azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1206 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/toc.yml
Labels: do-not-merge
