Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-01, with the labels that each got.

#567 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#568 Update azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-add-vm-image.md
Labels: Change sent to author, azure-stack/svc, do-not-merge, ready-to-merge

#569 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#571 From private repo
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling.md
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/media/app-service-deploy-ha/008.PNG
  azure-stack/operator/media/app-service-deploy-ha/01.PNG
  azure-stack/operator/media/app-service-deploy-ha/02.PNG
  azure-stack/operator/media/app-service-deploy-ha/03.PNG
  azure-stack/operator/media/app-service-deploy-ha/04.PNG
  azure-stack/operator/media/app-service-deploy-ha/05.PNG
  azure-stack/operator/media/app-service-deploy-ha/06.PNG
  azure-stack/operator/media/app-service-deploy-ha/07.PNG
  azure-stack/operator/media/app-service-deploy-ha/08.PNG
  azure-stack/operator/media/app-service-deploy-ha/09.PNG
  azure-stack/operator/media/app-service-deploy-ha/10.PNG
  azure-stack/operator/media/app-service-deploy-ha/11.PNG
  azure-stack/operator/media/app-service-deploy-ha/12.PNG
  azure-stack/operator/media/app-service-deploy-ha/13.PNG
  azure-stack/operator/media/app-service-deploy-ha/14.PNG
  azure-stack/operator/media/app-service-deploy-ha/15.PNG
  azure-stack/operator/media/app-service-deploy-ha/16.PNG
  azure-stack/operator/media/azure-stack-add-vm-image/tca1.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca2.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca3.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca4.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca5.png
Labels: do-not-merge

#573 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#574 From private repo
  azure-stack/hybrid/overview-patterns-solution-examples.md
  azure-stack/hybrid/pattern-cross-cloud-scale-onprem-data.md
  azure-stack/hybrid/pattern-cross-cloud-scale.md
  azure-stack/hybrid/pattern-geo-distributed.md
  azure-stack/hybrid/pattern-train-ml-model-at-edge.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/azure-stack-validate-adfs.md
  azure-stack/operator/azure-stack-validate-graph.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-version-profiles.md
  azure-stack/user/network-howto-f5.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#550 Update CSR generation with new syntax
  azure-stack/operator/azure-stack-get-pki-certs.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#575 changed "EventHub" to "EventHubs"
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#576 From private repo
  .openpublishing.publish.config.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-validation-report.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/service-plan-offer-subscription-overview.md
  azure-stack/operator/tutorial-offer-services.md
  azure-stack/operator/tutorial-test-offer.md
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/azure-stack-key-vault-manage-powershell.md
  azure-stack/user/azure-stack-policy-module.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#579 From private repo
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#581 From private repo
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#585 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-rotate-certificates.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/user/azure-stack-key-vault-manage-portal.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/media/azure-stack-kubernetes-aks-engine-deploy-cluster/putty-key-generator.png
Labels: azure-stack/svc, do-not-merge

#586 From private repo
  azure-stack/operator/app-service-rotate-certificates.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/azure-stack-subscribe-plan-provision-vm.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty01a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty02a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty03a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty04a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty05a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image1.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image2.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image3.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image4.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image5.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image6.png
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-01.PNG
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-02.PNG
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-03.PNG
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-04.PNG
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-05a.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image01.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image02.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image03.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image04.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image05.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image06.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image1.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image2.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image3.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image4.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image5.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image6.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image7.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#587 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/azure-stack-app-service-update-offline.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/media/azure-stack-app-service-deploy-offline/app-service-azure-stack-subscription-information.png
  azure-stack/operator/media/azure-stack-app-service-deploy/app-service-azure-stack-subscription-information.png
  azure-stack/operator/media/azure-stack-app-service-update-offline/app-service-installation-detected.PNG
  azure-stack/operator/media/azure-stack-app-service-update/app-service-installation-detected.PNG
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-ethereum.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#589 From private repo
  azure-stack/operator/TOC.yml
Labels: do-not-merge

#590 From private repo
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-register.md
  azure-stack/asdk/index.yml
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/release-notes-checklist.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/azure-stack-dev-start-howto-deploy-linux.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-subscribe-services.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#593 Rename EventHub to EventHubs
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#595 From private repo
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/azure-stack-app-service-update-offline.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#588 Rename Azure Stack Hub HCI to Azure Stack HCI
  azure-stack/operator/compare-azure-azure-stack.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#580 Update remove-account.md
  includes/remove-account.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#596 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
Labels: do-not-merge

#476 Update app-service-billing-faq.md
  azure-stack/operator/app-service-billing-faq.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, ready-to-merge

#597 From private repo
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#598 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-metrics-monitor.md
  azure-stack/user/azure-stack-network-howto-backup-replicator.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-storage-connect-se.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#600 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-hci-overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#601 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/teradici.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#602 From private repo
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#604 From private repo
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-use-portal.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: do-not-merge

#605 Change 'go version' for 'node --version'
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#606 From private repo
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#608 From private repo
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/user/azure-stack-version-profiles-net.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#609 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/tutorial-offer-services.md
Labels: do-not-merge

#611 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
Labels: do-not-merge

#614 From private repo
  azure-stack/hybrid/pattern-hybrid-relay.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-add-users-adfs.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-capacity-planner.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-identity-architecture.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-security-bitlocker.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-solution-template-kubernetes-trouble.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#615 From private repo
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/media/azure-stack-network/NetworkDiagram.png
  azure-stack/operator/media/azure-stack-network/recommended-design.png
Labels: Change sent to author, azure-stack/svc, do-not-merge
