Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-05, with the labels that each got.

#786 From private repo
  azure-stack/operator/event-hubs-rp-capacity-planning.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/iaas-architecture-nva-architecture.md
  azure-stack/user/media/azure-stack-connect-vpn/Image2.png
  azure-stack/user/media/azure-stack-connect-vpn/azure-stack-connect-vpn-image2.svg
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/iscsi-file-server.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/iscsi-file-server.svg
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/overview-iscsi2.svg
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/overview.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/process.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/process.svg
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/script-flow.png
  azure-stack/user/media/azure-stack-network-howto-iscsi-storage/script-flow.svg
  azure-stack/user/media/azure-stack-powershell-overview/Azure-Stack-PowerShell.png
  azure-stack/user/media/azure-stack-powershell-overview/azure-stack-powershell.svg
  azure-stack/user/media/azure-stack-vpn-s2s/site-to-site.png
  azure-stack/user/media/azure-stack-vpn-s2s/site-to-site.svg
  azure-stack/user/media/iaas-architecture-nva-architecture/iaas-architecture-nva-architecture-image1.svg
  azure-stack/user/media/iaas-architecture-nva-architecture/iaas-architecture-nva-architecture-image2.svg
  azure-stack/user/media/iaas-architecture-nva-architecture/iaas-architecture-nva-architecture-image3.svg
  azure-stack/user/media/iaas-architecture-nva-architecture/iaas-architecture-nva-architecture-image4.svg
  azure-stack/user/media/iaas-architecture-nva-architecture/image1.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image2.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image3.png
  azure-stack/user/media/iaas-architecture-nva-architecture/image4.png
Labels: do-not-merge

#787 From private repo
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/media/azure-stack-metrics-azure-data/azs-monitor-computersubset.png
  azure-stack/user/media/azure-stack-metrics-azure-data/azs-monitor-computersubset.svg
  azure-stack/user/media/azure-stack-metrics-azure-data/azs-monitor-othersubset.png
  azure-stack/user/media/azure-stack-metrics-azure-data/azs-monitor-othersubset.svg
  azure-stack/user/media/azure-stack-network-howto-backup-commvault/backup-vm-commvault-diagram.png
  azure-stack/user/media/azure-stack-network-howto-backup-commvault/backup-vm-commvault-diagram.svg
  azure-stack/user/media/azure-stack-network-howto-extend-datacenter/azure-stack-network-howto-extend-datacenter-image1.svg
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/overview.png
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/overview.svg
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/s2svpntunnels2.png
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/s2svpntunnels2.svg
  azure-stack/user/media/azure-stack-storage-overview/AzureStackStorageOverview.png
  azure-stack/user/media/azure-stack-storage-overview/azurestackstorageoverview.svg
Labels: Change sent to author, azure-stack/svc, do-not-merge

#789 From private repo
  azure-stack/hci/manage/azure-site-recovery.md
  azure-stack/hci/manage/media/azure-site-recovery/protect-vm-setting-asr.png
  azure-stack/hci/manage/media/azure-site-recovery/protect-vm-setting.png
  azure-stack/hci/manage/media/azure-site-recovery/set-up-host-with-asr.png
  azure-stack/hci/manage/media/azure-site-recovery/set-up-vm-protection.png
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#790 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/guacamole.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/hashicorp.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/jasper.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/kong.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/liferay.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/matomo.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/phabricator.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/sandbox.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/silverstripe.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/sonarqube.png
  azure-stack/operator/release-notes-checklist.md
  azure-stack/operator/resource-provider-apply-updates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#791 From private repo
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection-tzl.md
  azure-stack/operator/azure-stack-configure-dns.md
  azure-stack/operator/azure-stack-configure-time.md
  azure-stack/operator/azure-stack-customer-defined.md
  azure-stack/operator/azure-stack-delete-offer.md
  azure-stack/operator/azure-stack-deployment-worksheet.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview-tzl.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#793 From private repo
  .openpublishing.redirection.json
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-connect.md
  azure-stack/asdk/asdk-deploy-considerations.md
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-register.md
  azure-stack/hybrid/pattern-train-ml-model-at-edge.md
  azure-stack/hybrid/solution-deployment-guide-connectivity.md
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling-onprem-data.md
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling.md
  azure-stack/hybrid/solution-deployment-guide-geo-distributed.md
  azure-stack/hybrid/solution-deployment-guide-identity.md
  azure-stack/hybrid/solution-deployment-guide-mongodb-ha.md
  azure-stack/hybrid/solution-deployment-guide-retail-footfall-detection.md
  azure-stack/hybrid/solution-deployment-guide-sql-ha.md
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/includes/marketplace-resource-provider-prerequisites.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/app-service-deploy-ha.md
  azure-stack/operator/app-service-release-notes-2020-Q2.md
  azure-stack/operator/azure-stack-add-ips.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-capacity-planning.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-one.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-two.md
  azure-stack/operator/azure-stack-app-service-update-offline.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-identity-architecture.md
  azure-stack/operator/azure-stack-manage-storage-infrastructure.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/event-hubs-rp-install.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-app-service-deploy/app-service-cloud-quantities.png
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#794 From private repo
  .openpublishing.redirection.json
  azure-stack/docfx.json
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#796 Corrected link to azure-stack-network.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#797 From private repo
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#798 From private repo
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#799 docs improvement for remove registration scenario
  azure-stack/operator/azure-stack-registration.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#800 From private repo
  azure-stack/hybrid/solution-deployment-guide-identity.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#801 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#802 From private repo
  azure-stack/hci/overview.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-tutorial-sql.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#803 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/media/site-to-site/vpn-connection.png
  azure-stack/user/network-virtual-appliance.md
  azure-stack/user/site-to-site.md
Labels: do-not-merge

#804 From private repo
  azure-stack/asdk/TOC.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/app-service-rotate-certificates.md
  azure-stack/operator/azure-stack-app-service-configure-deployment-sources.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11470.md
  azure-stack/operator/azure-stack-network-offer-backup-commvault.md
  azure-stack/operator/azure-stack-network-solutions-enable.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/operator/azure-stack-sql-resource-provider-11470.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/user/TOC.yml
Labels: do-not-merge

#805 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/user/TOC.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#806 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-tutorial-sql.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#808 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image1.svg
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image2.svg
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image3.svg
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image4.svg
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image5.svg
  azure-stack/user/TOC.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#809 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#810 From private repo
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/network-virtual-appliance.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#811 From private repo
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
Labels: do-not-merge

#813 From private repo
  azure-stack/asdk/TOC.yml
  azure-stack/asdk/asdk-what-is.md
  azure-stack/hybrid/TOC.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/media/azure-stack-manage-storage-shares/diskmigrationjob.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/diskmigrationstop.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/diskmigrationsubtask.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/disks.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/listvolumes.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/listvolumespowershell.png
  azure-stack/partner/TOC.yml
  azure-stack/user/TOC.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#814 From private repo
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/manage-cluster/cluster-dashboard.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-access.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-encryption.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-hyperv.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-liv-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-memory.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-numa.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-session.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-shutdown.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-ssd.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-sto-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-vm-load.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-witness.png
  azure-stack/hci/toc.yml
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#812 Add subscription info for removing azure stack registration
  azure-stack/operator/azure-stack-registration.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#818 From private repo
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/cluster-powershell.md
  azure-stack/hci/manage/media/manage-cluster/add-server.png
  azure-stack/hci/manage/media/manage-cluster/remove-server.png
  azure-stack/hci/manage/media/manage-cluster/validate-cluster.png
  azure-stack/hci/manage/media/manage-vm/host-metrics.png
  azure-stack/hci/manage/media/manage-vm/new-vm.png
  azure-stack/hci/manage/media/manage-vm/vm-details.png
  azure-stack/hci/manage/media/manage-vm/vm-inventory.png
  azure-stack/hci/manage/media/manage-vm/vm-more-azure.png
  azure-stack/hci/manage/media/manage-vm/vm-more-import.png
  azure-stack/hci/manage/media/manage-vm/vm-more-move.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-boot.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-checkpoint.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-disk.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-general.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-memory.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-network.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-processor.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-security.png
  azure-stack/hci/manage/vm-powershell.md
  azure-stack/hci/manage/vm.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: do-not-merge

#819 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#821 From private repo
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/azure-stack-cli-admin.md
  azure-stack/operator/azure-stack-network-solutions-enable.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/partner/azure-stack-vaas-key-concepts.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/partner/includes/azure-stack-vaas-sas-step_generate.md
  azure-stack/partner/includes/azure-stack-vaas-sas-step_navigate.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-section_update-azs.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_naming.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_select-agent.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_select-solution.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_submit.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_tags.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_test-params.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_upload-stampinfo.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-completion.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-section_schedule.md
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-arm-templates.md
  azure-stack/user/azure-stack-connect-azure-stack.md
  azure-stack/user/azure-stack-deploy-template-command-line.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/azure-stack-metrics-azure-data.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-howto-backup-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-network-overview.md
  azure-stack/user/azure-stack-powershell-configure-user.md
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-dev.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#822 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-dev-start-deploy-app.md
  azure-stack/user/azure-stack-dev-start-howto-deploy-linux.md
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-dev-start-howto-vm-go.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
  azure-stack/user/azure-stack-develop-templates.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/azure-stack-manage-vm-protect.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-use-portal.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#823 From private repo
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/user/site-to-site.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#824 From private repo
  azure-stack/operator/azure-stack-add-ips.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/user/site-to-site.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#825 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
