Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-11, with the labels that each got.

#1111 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/diagnostic-log-collection.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1112 From private repo
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1113 Fixed 'with' to 'will'
  azure-stack/operator/azure-stack-enable-multitenancy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1115 From private repo
  azure-stack/asdk/TOC.yml
  azure-stack/asdk/asdk-cli.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: do-not-merge

#1095 Update powershell-install-az-module.md
  azure-stack/operator/powershell-install-az-module.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1118 From private repo
  azure-stack/hci/faq.md
  azure-stack/includes/operator-note-owa.md
  azure-stack/mdc/operator/azure-stack-node-actions-tzl.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-manage-portals.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/operator-access-workstation.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1120 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1121 Update and renew are the same operation in this situation
  azure-stack/operator/azure-stack-registration.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1122 From private repo
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/asdk/asdk-telemetry.md
  azure-stack/mdc/TOC.yml
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/operator/media/azure-stack-add-scale-node/select-node1.png
  azure-stack/operator/media/azure-stack-add-scale-node/select-node2.png
  azure-stack/operator/operator-access-workstation.md
  azure-stack/reference/pep-2002/Get-ClusterLog.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1123 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1124 From private repo
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/media/manage-vm/host-metrics.png
  azure-stack/hci/manage/media/manage-vm/new-vm.png
  azure-stack/hci/manage/media/manage-vm/vm-affinity.png
  azure-stack/hci/manage/media/manage-vm/vm-clone.png
  azure-stack/hci/manage/media/manage-vm/vm-details.png
  azure-stack/hci/manage/media/manage-vm/vm-domain-join.png
  azure-stack/hci/manage/media/manage-vm/vm-export.png
  azure-stack/hci/manage/media/manage-vm/vm-inventory.png
  azure-stack/hci/manage/media/manage-vm/vm-more-azure.png
  azure-stack/hci/manage/media/manage-vm/vm-more-import.png
  azure-stack/hci/manage/media/manage-vm/vm-more-move.png
  azure-stack/hci/manage/media/manage-vm/vm-move-storage.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-boot.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-checkout.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-disk.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-general.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-memory.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-network.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-processor.png
  azure-stack/hci/manage/media/manage-vm/vm-settings-security.png
  azure-stack/hci/manage/vm.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1126 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/media/plan-host-networking/rack-topology-non-stretched-cluster.png
  azure-stack/hci/concepts/media/plan-host-networking/rack-topology-stretched-cluster.png
  azure-stack/hci/concepts/media/plan-host-networking/stretched-cluster-option-1.png
  azure-stack/hci/concepts/media/plan-host-networking/stretched-cluster-option-2.png
  azure-stack/hci/concepts/plan-host-networking.md
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/azure-stack-vm-considerations.md
  azure-stack/mdc/deployment-overview.md
  azure-stack/mdc/extended-storage-firmware-updates.md
  azure-stack/mdc/mdc-overview.md
  azure-stack/mdc/network-introduction.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1127 Update azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1128 From private repo
  azure-stack/hci/concepts/media/plan-host-networking/rack-topology-non-stretched-cluster.png
  azure-stack/hci/concepts/media/plan-host-networking/rack-topology-stretched-cluster.png
  azure-stack/hci/concepts/media/plan-host-networking/stretched-cluster-option-1.png
  azure-stack/hci/concepts/media/plan-host-networking/stretched-cluster-option-2.png
  azure-stack/hci/concepts/plan-host-networking.md
  azure-stack/mdc/azure-stack-manage-vm-protect-tzl.md
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/media/azure-stack-marketplace/marketplace1.png
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1129 From private repo
  azure-stack/hci/concepts/stretched-clusters.md
  azure-stack/hci/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1131 Address Issue #1130
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/deepstream-module-settings.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1132 From private repo
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/media/azure-stack-ethereum/edit-member-parameters.png
  azure-stack/operator/media/azure-stack-ethereum/edit-member-template.png
  azure-stack/operator/media/azure-stack-ethereum/leader-deployment-summary.png
  azure-stack/operator/media/azure-stack-ethereum/member-deployment-parameters.png
  azure-stack/operator/media/azure-stack-ethereum/member-deployment-summary.png
  azure-stack/user/azure-stack-ethereum.md
  azure-stack/user/media/azure-stack-ethereum/connect-deployment-parameters.png
  azure-stack/user/media/azure-stack-ethereum/edit-connect-parameters.png
  azure-stack/user/media/azure-stack-ethereum/edit-connect-template.png
  azure-stack/user/media/azure-stack-ethereum/edit-leader-parameters.png
  azure-stack/user/media/azure-stack-ethereum/edit-leader-template.png
  azure-stack/user/media/azure-stack-ethereum/leader-deployment-parameters.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1134 From private repo
  azure-stack/mdc/index.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1136 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1138 From private repo
  azure-stack/breadcrumb/toc.yml
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1139 From private repo
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1140 From private repo
  azure-stack/docfx.json
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/gpu-deploy-sample-module.md
  azure-stack/user/gpu-vms-about.md
  azure-stack/user/index.yml
  azure-stack/user/media/gpu-deploy-sample-module/cb8eee06f6d88d1b60f9b79e21af5137.png
  azure-stack/user/media/gpu-deploy-sample-module/gpu-monitor-events-output.png
  azure-stack/user/media/gpu-deploy-sample-module/gpu-valid-installation.png
  azure-stack/user/media/gpu-deploy-sample-module/gpu-visual-studio-code-iot.png
  azure-stack/user/media/gpu-deploy-sample-module/user-azure-iot-explorer-gpu.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1143 From private repo
  azure-stack/mdc/network-introduction.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/compare-azure-azure-stack/azure-family-updated.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/s2svpntunnel.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/s2svpntunnel.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/stack-rras1.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/stack-rras1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/s2svpntunnel.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/s2svpntunnel.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/stack-rras1.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/stack-rras1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/azure-stack-network-vpn-tunnel1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/azure-stack-network-vpn-tunnel2.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image1.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image2.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/scenarios.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/scenarios.svg
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
  azure-stack/user/network-howto-vpn-tunnel.md
Labels: do-not-merge

#1142 Update release-notes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1144 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/mdc/operator/container-registry-template-install-tzl.md
  azure-stack/user/azure-stack-network-overview.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1146 From private repo
  azure-stack/aks-hci/persistent-storage-windows-nodes.md
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/concepts/media/datacenter-firewall/multitenant-firewall-overview.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/diskspd-overview.md
  azure-stack/hci/manage/media/diskspd/command-input-parameters.png
  azure-stack/hci/manage/media/diskspd/coordinator-node-data.png
  azure-stack/hci/manage/media/diskspd/cpu-details.png
  azure-stack/hci/manage/media/diskspd/download-directory.png
  azure-stack/hci/manage/media/diskspd/environment.png
  azure-stack/hci/manage/media/diskspd/example-process.png
  azure-stack/hci/manage/media/diskspd/storage-performance.png
  azure-stack/hci/manage/media/diskspd/thread-value-output.png
  azure-stack/hci/manage/media/diskspd/total-io.png
  azure-stack/hci/manage/media/diskspd/tradeoffs.png
  azure-stack/hci/toc.yml
  azure-stack/operator/app-service-release-notes-2020-Q2.md
  azure-stack/operator/app-service-release-notes-2020-Q3.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/powershell-install-az-module.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1147 From private repo
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/use-datacenter-firewall.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-marketplace.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1150 From private repo
  azure-stack/mdc/customer-journey.md
  azure-stack/mdc/mdc-overview.md
  azure-stack/mdc/network-configuration-lifecycle-management.md
  azure-stack/mdc/network-integration.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1151 From private repo
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1154 From private repo
  azure-stack/asdk/asdk-connect.md
  azure-stack/asdk/asdk-deploy-powershell.md
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/asdk/asdk-redeploy.md
  azure-stack/asdk/asdk-register.md
  azure-stack/docfx.json
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/release-notes.md
  azure-stack/hci/toc.yml
  azure-stack/includes/remove-account-az.md
  azure-stack/includes/remove-account-azurerm.md
  azure-stack/includes/resource-provider-va-rotate-secrets-rotate.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/iot-hub-rp-rotate-secrets.md
  azure-stack/operator/operator-access-workstation.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/site-recovery-failback.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-key-vault-deploy-vm-with-secret.md
  azure-stack/user/azure-stack-key-vault-manage-powershell.md
  azure-stack/user/azure-stack-key-vault-push-secret-into-vm.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-policy-module.md
  azure-stack/user/azure-stack-powershell-configure-user.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/delete-vm.md
  azure-stack/user/network-virtual-appliance.md
  azure-stack/user/site-to-site.md
  azure-stack/user/vm-move-from-azure.md
  azure-stack/user/vm-update-management.md
Labels: do-not-merge

#1155 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/overview.md
  azure-stack/hci/release-notes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1156 Add CRL remediation help
  azure-stack/operator/azure-stack-remediate-certs.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1157 From private repo
  azure-stack/hci/faq.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1159 From private repo
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1160 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/media/plan-networking/four-node-cluster-1.png
  azure-stack/hci/concepts/media/plan-networking/four-node-cluster-2.png
  azure-stack/hci/concepts/media/plan-networking/stretched-cluster.png
  azure-stack/hci/concepts/media/plan-networking/windows-certified.png
  azure-stack/hci/concepts/plan-host-networking.md
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/toc.yml
  azure-stack/operator/release-notes.md
Labels: do-not-merge
