Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-03, with the labels that each got.

#661 From private repo
  azure-stack/operator/azure-stack-create-vpn-connection-one-node.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-version-profiles-java.md
Labels: do-not-merge

#662 From private repo
  .openpublishing.publish.config.json
Labels: do-not-merge, review-team-triage

#667 From private repo
  azure-stack/operator/azure-stack-manage-basics.md
Labels: do-not-merge

#670 From private repo
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/manage/media/creating-volumes/storage-tiers-screenshot.png
  azure-stack/hci/toc.yml
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling.md
  azure-stack/hybrid/solution-deployment-guide-geo-distributed.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-azsreadiness-cmdlet.md
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-storage.md
  azure-stack/operator/azure-stack-connected-deployment.md
  azure-stack/operator/azure-stack-connection-models.md
  azure-stack/operator/azure-stack-customer-defined.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-disconnected-deployment.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-firewall.md
  azure-stack/operator/azure-stack-integrate-physical-device-auditing.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-manage-storage-physical-memory-capacity.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-provision-storage-account.md
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/operator/azure-stack-remediate-certs.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-security-bitlocker.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/azure-stack-validate-adfs.md
  azure-stack/operator/azure-stack-validate-graph.md
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/azure-stack-validation-report.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/deployment-networking.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: do-not-merge

#671 Possible typo
  azure-stack/operator/azure-stack-backup-recover-data.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#673 Update deployment example with IdentitySystem
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#675 From private repo
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/fault-tolerance.md
  azure-stack/hci/concepts/media/cache/all-flash-deployment-possibilities.png
  azure-stack/hci/concepts/media/cache/cache-read-write-behavior.png
  azure-stack/hci/concepts/media/cache/cache-server-side-architecture.png
  azure-stack/hci/concepts/media/cache/drive-type-hierarchy.png
  azure-stack/hci/concepts/media/cache/dynamic-binding.gif
  azure-stack/hci/concepts/media/cache/exotic-deployment-possibilities.png
  azure-stack/hci/concepts/media/cache/handling-failure.gif
  azure-stack/hci/concepts/media/cache/hdd-100px.png
  azure-stack/hci/concepts/media/cache/hybrid-deployment-possibilities.png
  azure-stack/hci/concepts/media/cache/nvme-100px.png
  azure-stack/hci/concepts/media/cache/perfmon.png
  azure-stack/hci/concepts/media/cache/ssd-100px.png
  azure-stack/hci/concepts/media/fault-tolerance/dual-parity-180px.png
  azure-stack/hci/concepts/media/fault-tolerance/dual-parity-wide-180px.png
  azure-stack/hci/concepts/media/fault-tolerance/fault-tolerance-example-12.png
  azure-stack/hci/concepts/media/fault-tolerance/fault-tolerance-example-34.png
  azure-stack/hci/concepts/media/fault-tolerance/fault-tolerance-example-56.png
  azure-stack/hci/concepts/media/fault-tolerance/fault-tolerance-example-78.png
  azure-stack/hci/concepts/media/fault-tolerance/local-reconstruction-codes-180px.png
  azure-stack/hci/concepts/media/fault-tolerance/three-way-mirror-180px.png
  azure-stack/hci/concepts/media/fault-tolerance/two-way-mirror-180px.png
  azure-stack/hci/concepts/media/quorum/2-node-no-witness.png
  azure-stack/hci/concepts/media/quorum/2-node-witness.png
  azure-stack/hci/concepts/media/quorum/3-node-no-witness.png
  azure-stack/hci/concepts/media/quorum/3-node-witness.png
  azure-stack/hci/concepts/media/quorum/4-node-no-witness.png
  azure-stack/hci/concepts/media/quorum/4-node-witness.png
  azure-stack/hci/concepts/media/quorum/5-nodes.png
  azure-stack/hci/concepts/media/quorum/dynamic-quorum-base.png
  azure-stack/hci/concepts/media/quorum/dynamic-quorum-step-through.png
  azure-stack/hci/concepts/media/quorum/pool-1.png
  azure-stack/hci/concepts/media/quorum/pool-2.png
  azure-stack/hci/concepts/media/quorum/pool-3.png
  azure-stack/hci/concepts/quorum.md
  azure-stack/hci/manage/delete-volumes.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/manage/media/extend-volumes/resize-partition.gif
  azure-stack/hci/manage/media/extend-volumes/resize-storagetier.gif
  azure-stack/hci/manage/media/extend-volumes/resize-virtualdisk.gif
  azure-stack/hci/manage/media/extend-volumes/volumes-in-smapi.png
  azure-stack/hci/manage/replace-drives.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#676 From private repo
  azure-stack/docfx.json
  azure-stack/includes/azs-admin-portal.md
  azure-stack/includes/azs-user-portal.md
  azure-stack/user/iaas-architecture-vm-windows.md
Labels: do-not-merge

#669 Prerequisites for .NET Framework
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#679 From private repo
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/media/choose-drives/all-flash-deployment-possibilities.png
  azure-stack/hci/concepts/media/choose-drives/hdd-100-px.png
  azure-stack/hci/concepts/media/choose-drives/hybrid-deployment-possibilities.png
  azure-stack/hci/concepts/media/choose-drives/maximizing-capacity.png
  azure-stack/hci/concepts/media/choose-drives/nvme-100-px.png
  azure-stack/hci/concepts/media/choose-drives/ssd-100-px.png
  azure-stack/hci/concepts/media/plan-volumes/3-way-mirror-storage-efficiency.png
  azure-stack/hci/concepts/media/plan-volumes/csv-folder-screenshot.png
  azure-stack/hci/concepts/media/plan-volumes/dual-parity-perf.png
  azure-stack/hci/concepts/media/plan-volumes/dual-parity-storage-efficiency.png
  azure-stack/hci/concepts/media/plan-volumes/dual-parity.png
  azure-stack/hci/concepts/media/plan-volumes/example.png
  azure-stack/hci/concepts/media/plan-volumes/mirror-accelerated-parity-perf.png
  azure-stack/hci/concepts/media/plan-volumes/mirror-accelerated-parity-storage-efficiency.png
  azure-stack/hci/concepts/media/plan-volumes/nested-mirror-accelerated-parity.png
  azure-stack/hci/concepts/media/plan-volumes/reserve.png
  azure-stack/hci/concepts/media/plan-volumes/size-versus-footprint.png
  azure-stack/hci/concepts/media/plan-volumes/three-way-mirror-perf.png
  azure-stack/hci/concepts/media/plan-volumes/three-way-mirror.png
  azure-stack/hci/concepts/media/plan-volumes/two-way-mirror.png
  azure-stack/hci/concepts/media/plan-volumes/what-are-volumes.png
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: do-not-merge

#680 From private repo
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: do-not-merge

#681 Update authenticate-azure-stack-hub.md
  azure-stack/user/authenticate-azure-stack-hub.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#682 From private repo
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#683 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-solution-template-kubernetes-adfs.md
  azure-stack/user/azure-stack-solution-template-kubernetes-azuread.md
  azure-stack/user/create-ssh-key-on-windows.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/01_kub_market_item.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/02_kub_config_basic.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/03_kub_config_settings-aad.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/03_kub_config_settings-adfs.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/04_kub_buy.png
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/04_preview.png
  azure-stack/user/media/kubernetes-aks-engine-custom-vnet/virtual-network-cidr-block.png
  azure-stack/user/media/kubernetes-aks-engine-custom-vnet/virtual-network-id.png
  azure-stack/user/media/kubernetes-aks-engine-custom-vnet/virtual-network-rt-nsg.png
Labels: do-not-merge

#684 From private repo
  azure-stack/docfx.json
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#685 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#689 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/release-notes-security-updates.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#688 Update azure-stack-acs-differences.md
  azure-stack/user/azure-stack-acs-differences.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#690 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/migrate-azurerm-az.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#691 Update release-notes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#692 Update release-notes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#693 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#696 From private repo
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/create-ssh-key-on-windows.md
  azure-stack/user/index.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#699 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-dvm.md
  azure-stack/user/index.yml
  azure-stack/user/user-overview.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#707 From private repo
  azure-stack/asdk/asdk-release-notes.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#711 From private repo
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#709 Update ref link to 1910 doc
  azure-stack/operator/release-notes.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#712 From private repo
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image1.png
  azure-stack/operator/media/azure-stack-storage-infrastructure-overview/image2.png
  azure-stack/partner/azure-stack-vaas-validate-solution-new.md
  azure-stack/user/media/azure-stack-solution-template-kubernetes-deploy/marketplaceitem.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#714 From private repo
  azure-stack/docfx.json
Labels: do-not-merge, review-team-triage

#716 Update azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#717 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#721 From private repo
  azure-stack/asdk/asdk-telemetry.md
  azure-stack/hybrid/solution-deployment-guide-geo-distributed.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/user/azure-stack-considerations.md
Labels: do-not-merge

#722 From private repo
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-registration-role.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#724 From private repo
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/assign-gpu.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/container-create-options.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/custom-streams.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/deepstream.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/dismounted.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/docker.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/driver-install.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/edge-hub-connections.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/edge-modules.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/guest-shutdown.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/iot-edge.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/lspci.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/manual-provisioning.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/marketplace-module.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/nvidia-smi.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/pciroot.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/set-modules.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/verify-modules-nvidia-smi.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/verify-modules-sudo.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/verify1.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/verify2.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/verify3.png
  azure-stack/hci/manage/media/attach-gpu-to-linux-vm/vlc-player.png
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/media/azure-stack-network/networkdiagram.svg
  azure-stack/operator/media/azure-stack-network/physical-network.svg
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#725 From private repo
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-portal-tzl.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#726 Update azure-stack-solution-template-kubernetes-dashboard.md
  azure-stack/user/azure-stack-solution-template-kubernetes-dashboard.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#729 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
