Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-06, with the labels that each got.

#826 From private repo
  azure-stack/docfx.json
Labels: do-not-merge

#827 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#829 From private repo
  azure-stack/operator/azure-stack-backup-reference.md
Labels: do-not-merge

#831 Update azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#834 From private repo
  azure-stack/operator/azure-stack-manage-storage-shares.md
Labels: do-not-merge

#840 From private repo
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#844 fix typos
  azure-stack/operator/azure-stack-node-actions.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#845 From private repo
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#846 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/user/azure-stack-considerations.md
  azure-stack/user/azure-stack-developer.md
  azure-stack/user/azure-stack-dns.md
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/azure-stack-key-vault-push-secret-into-vm.md
  azure-stack/user/azure-stack-validate-templates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#847 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-powershell-download.md
  azure-stack/operator/known-issues.md
Labels: do-not-merge

#848 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#850 From private repo
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/asdk/asdk-what-is.md
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection-tzl.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-portal-tzl.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview-tzl.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-help-and-support-overview-tzl.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-manage-portals.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#852 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#862 From private repo
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#863 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: do-not-merge

#865 From private repo
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#867 From private repo
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/fault-tolerance.md
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/hci/concepts/quorum.md
  azure-stack/hci/get-started.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/hci/manage/azure-site-recovery.md
  azure-stack/hci/manage/cluster-powershell.md
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/manage/delete-volumes.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/manage/replace-drives.md
  azure-stack/hci/manage/vm.md
  azure-stack/hci/overview.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/partner/index.yml
Labels: Change sent to author, azure-stack/svc, do-not-merge

#869 From private repo
  azure-stack/hci/manage/cluster.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#870 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-portal.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-powershell.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/user/network-virtual-appliance.md
  azure-stack/user/site-to-site.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#872 From private repo
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#873 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-registration.md
Labels: do-not-merge

#875 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#877 From private repo
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#881 From private repo
  azure-stack/operator/azure-stack-get-azurestacklog.md
Labels: do-not-merge

#833 Update service-plan-offer-subscription-overview.md
  azure-stack/operator/service-plan-offer-subscription-overview.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#882 From private repo
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/media/choose-drives/pmem-100px.png
  azure-stack/hci/manage/replace-drives.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
