Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-02, with the labels that each got.

#619 Add missing underscore character to the Standard_A4_v2 VM size
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#621 From private repo
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/azure-stack-validate-adfs.md
  azure-stack/operator/azure-stack-validate-graph.md
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/media/azure-stack-sql-rp-deploy/NewSQLDB.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/create-new-login.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-db-settings.PNG
Labels: Change sent to author, azure-stack/svc, do-not-merge

#622 From private repo
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#623 From private repo
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/media/azure-stack-integrate-security/azure-stack-hub-syslog-forwarding-diagram.svg
  azure-stack/operator/media/azure-stack-integrate-security/azure-stack-hub-syslog-forwarding-diagram_bg.svg
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#624 From private repo
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/select-products-with-filter.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/select-products.png
  azure-stack/operator/media/azure-stack-download-azure-marketplace-item/select-registration.png
Labels: do-not-merge

#626 From private repo
  azure-stack/hybrid/overview-app-design-considerations.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/release-notes-checklist.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#627 From private repo
  azure-stack/operator/azure-stack-supported-os.md
Labels: do-not-merge

#629 Update azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-security-foundations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#630 From private repo
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#631 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-usage-issues.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#632 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/media/azure-stack-mysql-rp-deploy/mysql-create-db-a.png
  azure-stack/operator/media/azure-stack-mysql-rp-deploy/mysql-db-created-a.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/6.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/AdminResources.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/NewSQLDB.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/Register-RPs.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/alwayson.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/create-new-login-a.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/create-new-login.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/multiplehostingservers.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/newsqldba.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-db-settings-a.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-db-settings.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-rp-hosting-server.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-rp-new-hosting-server.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sql-rp-update-password.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqladapterdashboard.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlhostingservers.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-hostingserver.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-new-sku.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-newdb.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-newhostingserver.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-newplan.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-newsku.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-select-sku.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-update-password.PNG
  azure-stack/operator/media/azure-stack-sql-rp-deploy/sqlrp-verify.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/verify-always-on.png
  azure-stack/operator/media/azure-stack-sql-rp-deploy/verifyalwayson.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#633 From private repo
  azure-stack/partner/TOC.yml
  azure-stack/partner/azure-stack-vaas-automate-with-powershell.md
  azure-stack/partner/azure-stack-vaas-best-practice.md
  azure-stack/partner/azure-stack-vaas-create-oem-package.md
  azure-stack/partner/azure-stack-vaas-interactive-feature-verification.md
  azure-stack/partner/azure-stack-vaas-key-concepts.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/partner/azure-stack-vaas-monitor-test.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-schedule-test-pass.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-validate-microsoft-updates.md
  azure-stack/partner/azure-stack-vaas-validate-oem-package.md
  azure-stack/partner/azure-stack-vaas-validate-solution-new.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-section_update-azs.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-step_upload-stampinfo.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-section_schedule.md
  azure-stack/partner/index.yml
Labels: do-not-merge

#634 From private repo
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#635 From private repo
  azure-stack/operator/azure-stack-capacity-planner.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-capacity-planning-storage.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/azure-stack-validation-report.md
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/create-add-on-plan.md
  azure-stack/operator/deployment-networking.md
  azure-stack/partner/azure-stack-vaas-automate-with-powershell.md
  azure-stack/partner/azure-stack-vaas-best-practice.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#636 From private repo
  azure-stack/operator/release-notes-checklist.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#637 From private repo
  azure-stack/user/TOC.yml
  azure-stack/user/deploy-foundational-patterns.md
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-361-azure-firewall-manager.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-362-frontdoor-waf-policies.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-363-proximity-placement-groups.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-371-reserved-ip-addresses-classic.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-372-public-ip-prefixes.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-61-virtual-networks.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-62-load-balancers.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-63-virtual-network-gateways.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-64-dns-zones.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-65-traffic-manager-profiles.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-66-network-watcher.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-67-network-security-groups.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-68-public-ip-addresses-classic.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-69-public-ip-addresses.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-70-on-premises-data-gateways.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-71-route-filters.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-72-ddos-protection-plans.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-73-front-doors.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-74-virtual-wan-gateway.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-75-virtual-networks-classic.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-76-application-gateways.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-77-local-network-gateways.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-78-cdn-profiles.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-79-expressroute-circuits.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-80-network-interfaces.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-81-connections.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-82-route-tables.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-83-application-security-groups.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-84-firewalls.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-networking-85-service-endpoint-policies.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-100-import-export-jobs.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-400-azure-fileshare.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-86-storage-accounts.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-87-storage-accounts-classic.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-88-recovery-services-vaults.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-89-storsimple-device-managers.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-90-data-lake-storage-gen1.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-91-storage-explorer.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-92-storsimple-data-managers.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-93-storage-sync-services.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-94-data-box-surface-bshell.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-94-data-box.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-95-data-box-edge.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-96-azure-netapp-files.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-97-data-share-invitations.svg
  azure-stack/user/media/deploy-foundational-patterns/icon-storage-98-data-shares.svg
Labels: Change sent to author, azure-stack/svc, do-not-merge

#638 From private repo
  azure-stack/includes/azs-user-portal.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/1.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/2-lg.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/2-sm.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/3-lg.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/3-sm.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/4-lg.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/4-sm.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/5.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/6.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/7.PNG
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img1.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img2.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img3.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img4.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img5.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img6.png
  azure-stack/operator/media/azure-stack-tutorial-mysqlrp/img7.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#642 From private repo
  azure-stack/operator/create-add-on-plan.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#644 From private repo
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#645 From private repo
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/media/azure-stack-key-vault-sample-app/appconfig.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#640 Bad syntax for Invoke-AzsCertificateValidation
  azure-stack/operator/azure-stack-validate-pki-certs.md
Labels: Change sent to author, assessing_(C&L), azure-stack/svc, do-not-merge

#646 From private repo
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-configure-time.md
  azure-stack/operator/azure-stack-manage-storage-accounts.md
  azure-stack/operator/azure-stack-manage-storage-physical-memory-capacity.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11300.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-mysql-resource-provider-databases.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-provision-storage-account.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-replace-disk.md
  azure-stack/operator/azure-stack-replace-node.md
  azure-stack/operator/azure-stack-sql-resource-provider-11300.md
  azure-stack/operator/azure-stack-sql-resource-provider-11330.md
  azure-stack/operator/azure-stack-sql-resource-provider-databases.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/operator/azure-stack-update-monitor.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-update-servicing-policy.md
  azure-stack/operator/azure-stack-updates-troubleshoot.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/operator/media/azure-stack-network/physical-network.png
Labels: do-not-merge

#651 From private repo
  azure-stack/user/azure-stack-storage-connect-se.md
  azure-stack/user/media/azure-stack-storage-connect-se/target-azure-stack-new.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#652 From private repo
  azure-stack/docfx.json
  azure-stack/hybrid/solution-deployment-guide-connectivity.md
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling-onprem-data.md
  azure-stack/hybrid/solution-deployment-guide-cross-cloud-scaling.md
  azure-stack/hybrid/solution-deployment-guide-identity.md
  azure-stack/hybrid/solution-deployment-guide-mongodb-ha.md
  azure-stack/hybrid/solution-deployment-guide-retail-footfall-detection.md
  azure-stack/hybrid/solution-deployment-guide-sql-ha.md
  azure-stack/index.yml
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-deploy-offline.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-app-service-update-offline.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-storage-infrastructure-overview.md
Labels: do-not-merge

#653 From private repo
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
Labels: do-not-merge

#656 From private repo
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#657 From private repo
  azure-stack/partner/azure-stack-vaas-create-oem-package.md
  azure-stack/partner/azure-stack-vaas-interactive-feature-verification.md
  azure-stack/partner/azure-stack-vaas-key-concepts.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/partner/azure-stack-vaas-monitor-test.md
  azure-stack/partner/azure-stack-vaas-overview.md
  azure-stack/partner/azure-stack-vaas-parameters.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-schedule-test-pass.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-validate-microsoft-updates.md
  azure-stack/partner/includes/azure-stack-vaas-workflow-validation-section_schedule.md
Labels: do-not-merge

#659 From private repo
  .openpublishing.publish.config.json
  azure-stack/operator/TOC.yml
  azure-stack/user/TOC.yml
Labels: do-not-merge

#660 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
Labels: Change sent to author, azure-stack/svc, do-not-merge
