Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2020-10, with the labels that each got.

#1063 From private repo
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/setup.md
  azure-stack/hci/deploy/before-you-start.md
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-get-azurestacklog.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/azure-stack-manage-storage-infrastructure.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/event-hubs-overview.md
  azure-stack/user/site-to-site.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1065 From private repo
  azure-stack/hci/deploy/before-you-start.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1066 From private repo
  azure-stack/hci/deploy/validate.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1067 From private repo
  azure-stack/hci/deploy/validate.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1069 From private repo
  azure-stack/operator/migrate-azurerm-az.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
Labels: do-not-merge

#1071 From private repo
  azure-stack/hci/manage/change-privacy-settings.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1074 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/persistent-storage-windows-nodes.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-configure-automatic-diagnostic-log-collection.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-portal.md
  azure-stack/operator/azure-stack-configure-on-demand-diagnostic-log-collection-powershell.md
  azure-stack/operator/azure-stack-diagnostic-log-collection-overview.md
  azure-stack/operator/azure-stack-find-cloud-id.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/media/azure-stack-help-and-support/send-logs-now-flowchart.png
  azure-stack/operator/release-notes-checklist.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/media/authenticate-azure-stack-hub/azure-stack-hub-auth-info.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy1.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy2.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy3.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy4.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy5.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy6.png
  azure-stack/user/media/azure-stack-deploy-template-portal/template-deploy7.png
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1075 Typo "**External_domain_fqdn **"→"**External_domain_fqdn**"
  azure-stack/operator/azure-stack-integrate-monitor.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1076 From private repo
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/media/azure-stack-add-vm-image/image1.png
  azure-stack/operator/media/azure-stack-add-vm-image/image2.png
  azure-stack/operator/media/azure-stack-add-vm-image/image4.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca1.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca2.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca3.png
  azure-stack/operator/media/azure-stack-apply-updates/image1.png
  azure-stack/user/kubernetes-aks-engine-release-notes.md
  azure-stack/user/media/azure-stack-dev-start-howto-deploy-linux/001-portal-compute.png
  azure-stack/user/media/azure-stack-metrics-azure-data/azs-monitor.png
  azure-stack/user/media/azure-stack-monitor-health/image1.PNG
  azure-stack/user/media/azure-stack-monitor-health/image2.PNG
  azure-stack/user/media/azure-stack-monitor-health/image3.PNG
  azure-stack/user/media/azure-stack-monitor-health/image4.PNG
  azure-stack/user/media/azure-stack-monitor-health/image5.PNG
  azure-stack/user/media/azure-stack-monitor-health/image6.PNG
  azure-stack/user/media/azure-stack-monitor-health/image7.PNG
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1077 From private repo
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-train-and-cert.md
  azure-stack/operator/media/azure-stack-compute-add-scalesets/all-services-small.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/all-services.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/create-scale-set.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/create-small.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/create.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/scale-small.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/scale.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/search-small.png
  azure-stack/operator/media/azure-stack-compute-add-scalesets/search.png
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/media/azure-stack-network-howto-vnet-to-onprem/image5.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image3.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/scenarios.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty01a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty02a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty03a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty04a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty05a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/deploy.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image1.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image2.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image3.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image4.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image5.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image6.png
  azure-stack/user/media/azure-stack-quick-linux-portal/linux-05a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/select.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image1.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image2.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image3.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image4.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image5.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image6.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image7.png
  azure-stack/user/media/azure-stack-setting-quota/ExistingQuota.PNG
  azure-stack/user/media/azure-stack-setting-quota/NewComputeQuota.png
  azure-stack/user/media/azure-stack-setting-quota/QuotaSuccess.png
  azure-stack/user/media/azure-stack-setting-quota/SetQuotasBladeCompute.PNG
  azure-stack/user/media/azure-stack-solution-template-service-fabric-cluster/image2.png
  azure-stack/user/media/azure-stack-use-portal/UserPortal.PNG
  azure-stack/user/media/vm-update-management/3-lg.PNG
  azure-stack/user/media/vm-update-management/4-lg.PNG
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1078 From private repo
  azure-stack/hci/concepts/media/network-controller/topology-option-1.png
  azure-stack/hci/concepts/media/network-controller/topology-option-2.png
  azure-stack/hci/concepts/media/network-controller/topology-option-3.png
  azure-stack/hci/concepts/network-controller-overview.md
  azure-stack/hci/concepts/network-controller.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1070 Update kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1079 From private repo
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/hci/concepts/gateway-overview.md
  azure-stack/hci/concepts/media/software-load-balancing/slb-overview.png
  azure-stack/hci/concepts/media/software-load-balancing/slb-process.jpg
  azure-stack/hci/concepts/network-controller-overview.md
  azure-stack/hci/concepts/route-reflector-overview.md
  azure-stack/hci/concepts/software-load-balancer.md
  azure-stack/hci/index.yml
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty04a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/deploy.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image6.png
  azure-stack/user/media/azure-stack-quick-linux-portal/select.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image7-inline.png
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1082 From private repo
  azure-stack/hci/release-notes.md
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/media/azure-stack-add-vm-image/dash-small.png
  azure-stack/operator/media/azure-stack-add-vm-image/dash.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca4-small.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca4.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca5-small.png
  azure-stack/operator/media/azure-stack-add-vm-image/tca5.png
  azure-stack/user/azure-stack-solution-template-cognitive-services.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1083 From private repo
  azure-stack/hci/concepts/plan-host-networking.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1084 just eliminated useless '-'
  azure-stack/operator/azure-stack-registration.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#1085 From private repo
  azure-stack/hci/deploy/before-you-start.md
  azure-stack/hci/manage/media/vm-affinity/vm-affinity-rules.png
  azure-stack/hci/manage/vm-affinity.md
  azure-stack/operator/azure-stack-add-vm-image.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1086 From private repo
  azure-stack/asdk/asdk-deploy-considerations.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1092 From private repo
  azure-stack/hci/concepts/plan-host-networking.md
  azure-stack/hci/concepts/plan-software-defined-networking-infrastructure.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/media/cluster/create-cluster-type.png
  azure-stack/hci/deploy/network-controller-powershell.md
  azure-stack/hci/deploy/validate.md
  azure-stack/hci/manage/use-csv-cache.md
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/azure-stack-capacity-planner.md
  azure-stack/mdc/azure-stack-capacity-planning-overview.md
  azure-stack/mdc/azure-stack-gpu.md
  azure-stack/mdc/azure-stack-vm-considerations.md
  azure-stack/mdc/azure-stack-vm-sizes.md
  azure-stack/mdc/customer-journey.md
  azure-stack/mdc/deployment-overview.md
  azure-stack/mdc/extended-storage-firmware-updates.md
  azure-stack/mdc/extended-storage-health-checks.md
  azure-stack/mdc/index.yml
  azure-stack/mdc/mdc-overview.md
  azure-stack/mdc/media/extended-storage-firmware-updates/cluster-management.png
  azure-stack/mdc/media/extended-storage-firmware-updates/firmware-update-status.png
  azure-stack/mdc/media/network-deployment/acls.png
  azure-stack/mdc/media/network-deployment/network-architecture.png
  azure-stack/mdc/media/network-introduction/edge-firewall-scenario-60.png
  azure-stack/mdc/media/network-introduction/expressroute-network-architecture-60.png
  azure-stack/mdc/media/network-introduction/logical-network-design.png
  azure-stack/mdc/media/network-introduction/perimeter-network-firewall-scenario-50.png
  azure-stack/mdc/media/network-introduction/physical-network-design.png
  azure-stack/mdc/network-appendix.md
  azure-stack/mdc/network-configuration-lifecycle-management.md
  azure-stack/mdc/network-deployment.md
  azure-stack/mdc/network-integration.md
  azure-stack/mdc/network-introduction.md
  azure-stack/operator/azure-stack-manage-storage-infrastructure.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1093 From private repo
  azure-stack/hci/concepts/plan-host-networking.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1097 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/includes/media/resource-provider-va-rotate-secrets-rotate/secret-rotation-in-progress.png
  azure-stack/includes/resource-provider-prerequisites.md
  azure-stack/includes/resource-provider-va-rotate-secrets-prepare.md
  azure-stack/includes/resource-provider-va-rotate-secrets-prereqs.md
  azure-stack/includes/resource-provider-va-rotate-secrets-rotate.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/event-hubs-rp-prerequisites.md
  azure-stack/operator/media/azure-stack-connect-expressroute/DataInDataOut.png
  azure-stack/operator/media/azure-stack-connect-expressroute/GWPublicIP.png
  azure-stack/operator/media/azure-stack-connect-expressroute/GatewaySubnet.png
  azure-stack/operator/media/azure-stack-connect-expressroute/MAS-new.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1098 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1100 From private repo
  azure-stack/user/media/azure-stack-network-howto-vnet-to-onprem/image1a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-onprem/image2a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-onprem/image3a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-onprem/image4a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image10a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image11a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image12a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image1a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image2a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image3a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image4a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image5a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image6a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image7a.png
  azure-stack/user/media/azure-stack-network-howto-vnet-to-vnet/image8a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/Putty04aa.png
  azure-stack/user/media/azure-stack-quick-linux-portal/deploya.png
  azure-stack/user/media/azure-stack-quick-linux-portal/image6a.png
  azure-stack/user/media/azure-stack-quick-linux-portal/selecta.png
  azure-stack/user/media/azure-stack-quick-windows-portal/image7.png
Labels: do-not-merge

#1102 From private repo
  azure-stack/operator/azure-stack-backup-recover-data.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#874 Change to apiserver from master-FQDN
  azure-stack/user/azure-stack-kubernetes-aks-engine-scale.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1104 From private repo
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1105 From private repo
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-security-bitlocker.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1106 From private repo
  azure-stack/hci/known-issues.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/toc.yml
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1108 From private repo
  azure-stack/mdc/customer-journey.md
  azure-stack/mdc/deployment-overview.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
  azure-stack/user/kubernetes-aks-engine-service-account.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#1110 From private repo
  azure-stack/operator/operator-access-workstation.md
Labels: do-not-merge
