Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-10, with the labels that each got.

#1668 From private repo
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1671 From private repo
  azure-stack/operator/marketplace-update-items.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1672 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/reference/ps/new-akshcicluster.md
  azure-stack/aks-hci/reference/ps/new-akshcinodepool.md
  azure-stack/aks-hci/reference/ps/remove-akshcicluster.md
  azure-stack/aks-hci/reference/ps/repair-akshciclustercerts.md
  azure-stack/aks-hci/use-node-pools.md
  azure-stack/asdk/asdk-what-is.md
  azure-stack/hci/release-information.md
  azure-stack/user/azure-stack-quick-windows-portal.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1673 From private repo
  azure-stack/aks-hci/known-issues-arc.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/toc.yml
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1674 From private repo
  azure-stack/hci/concepts/compare-azure-stack-hub.md
  azure-stack/hci/overview.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/user/deploy-foundational-patterns.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1679 From private repo
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/known-issues-arc.md
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/use-node-pools.md
Labels: do-not-merge

#1680 From private repo
  azure-stack/aks-hci/reference/ps/set-akshciregistration.md
  azure-stack/aks-hci/set-proxy-settings.md
  azure-stack/aks-hci/supported-kubernetes-versions.md
  azure-stack/hci/manage/preview-channel.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1687 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/firewall-requirements.md
  azure-stack/hci/concepts/media/firewall-requirements/firewalls-diagram.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/index.yml
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1691 From private repo
  azure-stack/aks-hci/pricing.md
  azure-stack/hci/concepts/network-controller.md
  azure-stack/user/virtual-machines-use-managed-disks-template.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1694 From private repo
  azure-stack/hci/deploy/tutorial-private-forest.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/release-information.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1705 Adding clarification for certificate handling
  azure-stack/user/azure-stack-storage-connect-se.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1706 Update OAW10B Expected Hash
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1707 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/reference/ps/new-akshcicluster.md
  azure-stack/aks-hci/reference/ps/new-akshcinodepool.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/stop-start-cluster.md
  azure-stack/aks-hci/update-akshci-host-powershell.md
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/hci/deploy/media/sdn/sdn-wizard.png
  azure-stack/hci/deploy/sdn-wizard.md
  azure-stack/hci/release-information.md
  azure-stack/hci/toc.yml
  azure-stack/includes/event-hubs-hub-update-banner.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/event-hubs-rp-release-1-2102-10.md
  azure-stack/operator/hotfix-1-2102-30-106.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-validate-templates.md
Labels: do-not-merge
