Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-02, with the labels that each got.

#1277 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/manage/add-cluster.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: do-not-merge

#1282 From private repo
  azure-stack/hci/manage/sdn-express.md
  azure-stack/mdc/TOC.yml
  azure-stack/ruggedized/TOC.yml
  azure-stack/user/TOC.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1283 From private repo
  azure-stack/hci/manage/media/tenant-logical-networks/change-logical-network-setting.png
  azure-stack/hci/manage/media/tenant-logical-networks/create-logical-network-subnet.png
  azure-stack/hci/manage/media/tenant-logical-networks/create-logical-network.png
  azure-stack/hci/manage/media/tenant-logical-networks/delete-logical-network.png
  azure-stack/hci/manage/media/tenant-logical-networks/list-logical-networks.png
  azure-stack/hci/manage/media/tenant-logical-networks/view-logical-network-details.png
  azure-stack/hci/manage/tenant-logical-networks.md
  azure-stack/hci/toc.yml
  azure-stack/mdc/operator/azure-stack-manage-basics-tzl.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-connected-deployment.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-disconnected-deployment.md
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/ruggedized/operator/azure-stack-manage-basics-tzl.md
  azure-stack/user/network-virtual-appliance.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1284 From private repo
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/concepts/gateway-overview.md
  azure-stack/hci/concepts/network-controller-overview.md
  azure-stack/hci/concepts/network-controller.md
  azure-stack/hci/concepts/route-reflector-overview.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/concepts/software-load-balancer.md
  azure-stack/hci/manage/use-datacenter-firewall.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1285 From private repo
  azure-stack/asdk/asdk-redeploy.md
  azure-stack/asdk/asdk-register.md
  azure-stack/hci/toc.yml
  azure-stack/includes/remove-account-az.md
  azure-stack/mdc/operator/azure-stack-download-azure-marketplace-item-tca.md
  azure-stack/operator/azure-stack-app-service-add-worker-roles.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/operator/azure-stack-powershell-configure-admin.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-key-vault-sample-app.md
  azure-stack/user/azure-stack-policy-module.md
  azure-stack/user/azure-stack-powershell-configure-user.md
  azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1286 From private repo
  azure-stack/hci/concepts/compare-azure-stack-hub.md
  azure-stack/operator/known-issues.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1288 From private repo
  azure-stack/hci/manage/update-cluster.md
Labels: do-not-merge

#1290 From private repo
  azure-stack/includes/capacity-planning-overview.md
  azure-stack/mdc/azure-stack-capacity-planning-overview.md
  azure-stack/operator/azure-stack-capacity-planning-overview.md
  azure-stack/ruggedized/azure-stack-capacity-planning-overview.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1291 From private repo
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1292 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/operator/azure-stack-connect-expressroute.md
  azure-stack/operator/azure-stack-enable-multitenancy.md
  azure-stack/operator/azure-stack-hardware-monitoring.md
  azure-stack/operator/azure-stack-portal-clear.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1293 From private repo
  azure-stack/hci/manage/use-datacenter-firewall.md
  azure-stack/hci/toc.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/hotfix-1-2005-29-100.md
  azure-stack/operator/hotfix-1-2008-25-114.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1808.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1809.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1811.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1901.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1902.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1903.md
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/gpu-vms-about.md
Labels: do-not-merge

#1294 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/use-datacenter-firewall-powershell.md
  azure-stack/hci/release-information.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/diagnostic-log-collection.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1297 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/manage/diskspd-overview.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/customer-replaceable-unit/azure-stack-hub-hardware-diagram.md
  azure-stack/ruggedized/customer-replaceable-unit/indicators-and-codes.md
  azure-stack/ruggedized/customer-replaceable-unit/install-firmware-using-idrac.md
  azure-stack/ruggedized/customer-replaceable-unit/power-off-scu.md
  azure-stack/ruggedized/customer-replaceable-unit/power-on-scale-unit-node.md
  azure-stack/ruggedized/customer-replaceable-unit/privileged-access-workstation.md
  azure-stack/ruggedized/customer-replaceable-unit/repair-scale-unit-node.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-cooling-fan.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-dimm.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-failed-external-storage-disk.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-heater.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-network-daughter-card.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-operating-system-disk.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-power-supply-unit.md
  azure-stack/ruggedized/customer-replaceable-unit/required-knowledge-hardware-lifecycle-host.md
  azure-stack/ruggedized/customer-replaceable-unit/required-knowledge-scale-unit-nodes.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-access-and-health.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-disk-health.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-health.md
  azure-stack/user/azure-stack-create-vm-template.md
  azure-stack/user/media/azure-stack-create-vm-template/1.PNG
  azure-stack/user/media/azure-stack-create-vm-template/2.PNG
  azure-stack/user/media/azure-stack-create-vm-template/3.PNG
  azure-stack/user/media/azure-stack-create-vm-template/4.PNG
  azure-stack/user/media/azure-stack-create-vm-template/5.PNG
  azure-stack/user/media/azure-stack-create-vm-template/6.PNG
  azure-stack/user/media/azure-stack-create-vm-template/7.PNG
  azure-stack/user/media/azure-stack-create-vm-template/8.PNG
  azure-stack/user/media/azure-stack-create-vm-template/9.PNG
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-1-expanded.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-1.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-2-expanded.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-2.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-3-expanded.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-3.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-4-expanded.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-4.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-5-expanded.png
  azure-stack/user/media/azure-stack-create-vm-template/vm-template-5.png
Labels: do-not-merge

#1298 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/operator/azure-stack-pki-certs.md
Labels: do-not-merge

#1301 From private repo
  azure-stack/docfx.json
  azure-stack/hci/overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1305 From private repo
  azure-stack/hci/toc.yml
Labels: do-not-merge, review-team-triage

#1306 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1307 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/overview.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#1308 From private repo
  azure-stack/hci/deploy/migrate-cluster-same-hardware.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1314 From private repo
  azure-stack/hci/release-information.md
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1315 From private repo
  azure-stack/hci/manage/media/witness/cloud-witness-1.png
  azure-stack/hci/manage/media/witness/cloud-witness-2.png
  azure-stack/hci/manage/media/witness/cloud-witness-access-keys.png
  azure-stack/hci/manage/media/witness/cloud-witness-blob-service.png
  azure-stack/hci/manage/media/witness/cloud-witness-create-storage-account.png
  azure-stack/hci/manage/media/witness/cloud-witness-create.png
  azure-stack/hci/manage/media/witness/cloud-witness-deployment.png
  azure-stack/hci/manage/media/witness/cloud-witness-home.png
  azure-stack/hci/manage/media/witness/cloud-witness-validation.png
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/manage/witness.md
  azure-stack/mdc/deployment-overview.md
  azure-stack/operator/azure-stack-change-subscription-owner.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/release-notes.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/deployment-overview.md
  azure-stack/user/TOC.yml
  azure-stack/user/ci-cd-github-action-webapp.md
  azure-stack/user/media/ci-cd-github-action-webapp/create-web-app.png
  azure-stack/user/media/ci-cd-github-action-webapp/example-of-repo.png
  azure-stack/user/media/ci-cd-github-action-webapp/get-azure-stack-hub-web-app-publish-profile.png
  azure-stack/user/media/ci-cd-github-action-webapp/review-azure-stack-hub-web-app.png
  azure-stack/user/media/ci-cd-github-action-webapp/review-cli-log-and-get-url.png
  azure-stack/user/media/ci-cd-github-action-webapp/workflow-success.png
Labels: do-not-merge

#1316 From private repo
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/manage/media/create-volumes/create-mirror-volume.png
  azure-stack/hci/manage/media/create-volumes/storage-tiers-screenshot.png
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-mysql-resource-provider-remove.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-remove.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-validate-adfs.md
  azure-stack/operator/hotfix-1-2005-29-100.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1310 functions v1 link replaced
  azure-stack/operator/azure-stack-app-service-overview.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge
