Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-11, with the labels that each got.

#1708 From private repo
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/known-issues-arc.md
  azure-stack/aks-hci/media/create-kubernetes-cluster/networking.png
  azure-stack/aks-hci/setup.md
  azure-stack/hci/manage/kernel-soft-reboot.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1710 From private repo
  .gitignore
  azure-stack/aks-hci/known-issues-arc.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/media/setup/host-configuration-dhcp.png
  azure-stack/aks-hci/media/setup/host-configuration-static.png
  azure-stack/aks-hci/media/setup/host-configuration.png
  azure-stack/aks-hci/media/setup/proxy-settings-host-configuration.png
  azure-stack/aks-hci/prestage-cluster-service-host-create.md
  azure-stack/aks-hci/reference/ps/set-akshciconfig.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/hci/manage/media/update-cluster/known-issues.png
  azure-stack/hci/manage/media/use-gpu-with-vm/assign-vm-to-gpu-pool.png
  azure-stack/hci/manage/media/use-gpu-with-vm/create-gpu-pool.png
  azure-stack/hci/manage/media/use-gpu-with-vm/gpu-assigned-to-vm-confirmed.png
  azure-stack/hci/manage/media/use-gpu-with-vm/gpu-extension.png
  azure-stack/hci/manage/media/use-gpu-with-vm/new-gpu-pool.png
  azure-stack/hci/manage/media/use-gpu-with-vm/unassign-vm-from-gpu-pool.png
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/manage/use-gpu-with-clustered-vm.md
  azure-stack/hci/toc.yml
  azure-stack/hci/whats-new.md
  azure-stack/operator/azure-stack-connection-models.md
  azure-stack/operator/azure-stack-datacenter-integration.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1713 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1722 From private repo
  azure-stack/hci/concepts/billing.md
  azure-stack/hci/get-started.md
  azure-stack/hci/index.yml
  azure-stack/hci/overview.md
  azure-stack/hci/preview-release-notes.md
  azure-stack/hci/whats-new.md
  azure-stack/operator/enable-multitenancy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1724 From private repo
  azure-stack/aks-hci/system-requirements.md
  azure-stack/hci/concepts/gateway-overview.md
  azure-stack/hci/concepts/network-controller-overview.md
  azure-stack/hci/concepts/route-reflector-overview.md
  azure-stack/hci/concepts/security.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/concepts/software-load-balancer.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/deploy/tutorial-private-forest.md
  azure-stack/hci/deploy/validate.md
  azure-stack/hci/manage/azure-portal.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/change-privacy-settings.md
  azure-stack/hci/manage/get-support.md
  azure-stack/hci/manage/kernel-soft-reboot.md
  azure-stack/hci/manage/languages.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/manage/processor-compatibility-mode.md
  azure-stack/hci/manage/storage-repair-speed.md
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/hci/manage/troubleshoot-credssp.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/manage/use-datacenter-firewall-powershell.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1720 Fix "DS-n_v2-series" VM Sizes
  azure-stack/user/azure-stack-vm-sizes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1726 Markdown formatting - Fixed table widths so they will properly render
  azure-stack/hci/concepts/host-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1727 From private repo
  azure-stack/aks-hci/create-daemonsets.md
  azure-stack/aks-hci/create-deployments.md
  azure-stack/aks-hci/create-pods.md
  azure-stack/aks-hci/create-replicasets.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/compare-azure-stack-hub.md
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/concepts/data-collection.md
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/concepts/deploy-persistent-memory.md
  azure-stack/hci/concepts/drive-symmetry-considerations.md
  azure-stack/hci/concepts/fault-tolerance.md
  azure-stack/hci/concepts/nested-virtualization.md
  azure-stack/hci/concepts/persistent-memory-health.md
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/hci/concepts/quorum.md
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/concepts/updates.md
  azure-stack/hci/deploy/deployment-quickstart.md
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/manage/delete-volumes.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/hci/manage/manage-smb-multichannel.md
  azure-stack/hci/manage/monitor-cluster.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/manage/replace-drives.md
  azure-stack/hci/manage/use-csv-cache.md
  azure-stack/hci/manage/vm-load-balancing.md
  azure-stack/hci/manage/volume-encryption-deduplication.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2102-30-109.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1728 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/release-information.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1730 Update kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1733 From private repo
  .gitignore
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/deploy-windows-application.md
  azure-stack/aks-hci/known-issues-installation.md
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/persistent-volume.md
  azure-stack/aks-hci/prepare-windows-nodes-gmsa.md
  azure-stack/aks-hci/secrets-store-csi-driver.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/asdk/asdk-cli.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/includes/known-issue-alerts-aks-acs.md
  azure-stack/includes/known-issue-az-install-5-az.md
  azure-stack/includes/known-issue-az-install-5-azurerm.md
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/give-app-access-to-resources.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1732 Add elevation note to prereqs
  azure-stack/operator/azure-stack-prepare-pki-certs.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1734 From private repo
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1737 From private repo
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider.md
Labels: do-not-merge

#1731 Adding -lowprivilege usage to csr generation
  azure-stack/operator/azure-stack-get-pki-certs.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1740 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/set-multiple-administrators.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/hci/manage/media/thin-provisioning/thin-provisioning-volume-wac.png
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/mdc/azure-stack-kubernetes-aks-engine-deploy-windows-tzl.md
  azure-stack/ruggedized/user/azure-stack-kubernetes-aks-engine-deploy-windows-tzl.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1741 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/deploy-windows-application.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/prestage-cluster-service-host-create.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-troubleshoot.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1743 From private repo
  azure-stack/aks-hci/backup-workload-cluster.md
  azure-stack/aks-hci/toc.yml
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1750 Update expected hashvalue for OAW11B package
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1751 From private repo
  .acrolinx-config.edn
  .openpublishing.publish.config.json
  azure-stack/aks-hci/configure-custom-load-balancer.md
  azure-stack/aks-hci/configure-load-balancer.md
  azure-stack/aks-hci/deploy-arc-data-services.md
  azure-stack/aks-hci/deploy-metallb.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/concepts/network-atc-overview.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/network-atc.md
  azure-stack/hci/deploy/validate.md
  azure-stack/hci/deploy/virtual-desktop-infrastructure.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/hci/manage/manage-network-atc.md
  azure-stack/hci/preview-release-notes.md
  azure-stack/hci/release-information.md
  azure-stack/operator/app-service-release-notes-2020-Q2.md
  azure-stack/operator/app-service-release-notes-2020-Q3.md
  azure-stack/operator/app-service-release-notes-2021-Q1.md
  azure-stack/operator/app-service-rotate-certificates.md
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/ruggedized/operator/add-scale-node-ruggedized.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc
