Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-06, with the labels that each got.

#1484 From private repo
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-acs-differences.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1485 From private repo
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/mdc/operator/analyze-usage-tzl.md
  azure-stack/mdc/operator/billing-model-overview-tzl.md
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-delegated-provider.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/ruggedized/operator/analyze-usage-tzl.md
  azure-stack/ruggedized/operator/billing-model-overview-tzl.md
  azure-stack/user/azure-stack-csp-enable-billing-usage-tracking.md
  azure-stack/user/virtual-network-peering.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1486 From private repo
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/manage/media/thin-provisioning/check-volume-provisioning-type.png
  azure-stack/hci/manage/media/thin-provisioning/display-provisioning-type.png
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/ruggedized/deployment-overview.md
  azure-stack/ruggedized/site-readiness.md
Labels: do-not-merge

#1487 From private repo
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/manage/preview-channel.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1488 From private repo
  azure-stack/hci/deploy/cluster-set.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/hci/toc.yml
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1489 From private repo
  azure-stack/mdc/operator/azure-stack-download-azure-marketplace-item-tca.md
  azure-stack/mdc/operator/azure-stack-windows-server-faq-tzl.md
  azure-stack/mdc/operator/billing-local-meters-tzl.md
  azure-stack/mdc/operator/registration-tzl.md
  azure-stack/operator/azure-stack-add-manage-billing-as-a-csp.md
  azure-stack/operator/azure-stack-csp-ref-infrastructure.md
  azure-stack/operator/azure-stack-csp-ref-operations.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/ruggedized/operator/azure-stack-download-azure-marketplace-item-tca.md
  azure-stack/ruggedized/operator/azure-stack-node-actions-tzl.md
  azure-stack/ruggedized/operator/azure-stack-windows-server-faq-tzl.md
  azure-stack/ruggedized/operator/billing-local-meters-tzl.md
  azure-stack/ruggedized/operator/registration-tzl.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1490 Azure Stack DNS allows AAAA records
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1491 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/manage/troubleshoot-credssp.md
  azure-stack/hci/manage/vm.md
  azure-stack/includes/known-issue-az-install-3.md
  azure-stack/mdc/operator/azure-stack-backup-best-practices-tzl.md
  azure-stack/mdc/operator/registration-tzl.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-region-management.md
  azure-stack/operator/azure-stack-registration-errors.md
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/ruggedized/operator/azure-stack-backup-best-practices-tzl.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/ci-cd-github-action-login-cli.md
  azure-stack/user/ci-cd-github-action-webapp.md
  azure-stack/user/media/azure-stack-connect-cli/cli-response.png
Labels: do-not-merge

#1492 From private repo
  azure-stack/aks-hci/app-availability.md
  azure-stack/aks-hci/concepts-security.md
  azure-stack/aks-hci/helm-deploy.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/prepare-windows-nodes-gmsa.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/tutorial-kubernetes-deploy-application.md
  azure-stack/hci/deploy/deploy-manage-azure-stack-hci.md
  azure-stack/hci/deploy/network-atc.md
  azure-stack/hci/overview.md
  azure-stack/mdc/TOC.yml
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1494 From private repo
  azure-stack/hci/manage/media/storage-repair-speed/change-storage-repair-speed.png
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/manage/storage-repair-speed.md
  azure-stack/hci/toc.yml
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1496 From private repo
  azure-stack/hci/manage/media/vm-activation/avma-binding-process.png
  azure-stack/hci/manage/media/vm-activation/change.gif
  azure-stack/hci/manage/media/vm-activation/setup.gif
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/manage/vm-activate.md
  azure-stack/hci/release-information.md
  azure-stack/hci/toc.yml
  azure-stack/includes/event-hubs-hub-update-banner.md
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/operator/azure-stack-windows-server-faq-tzl.md
  azure-stack/mdc/operator/azure-stack-windows-server-faq-tzl.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/azure-stack-billing-and-chargeback.md
  azure-stack/operator/azure-stack-provider-resource-api.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-related-faq.md
  azure-stack/operator/azure-stack-usage-related-faq.yml
  azure-stack/operator/azure-stack-usage-reporting.md
  azure-stack/operator/azure-stack-windows-server-faq.md
  azure-stack/operator/azure-stack-windows-server-faq.yml
  azure-stack/operator/event-hubs-rp-release-1-2012-20.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
Labels: do-not-merge

#1497 From private repo
  azure-stack/mdc/operator/azure-stack-backup-back-up-azure-stack-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-enable-backup-console-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-enable-backup-powershell-tzl.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-marketplace.md
  azure-stack/operator/media/azure-stack-manage-storage-shares/azure-stack-hub-capacity-used.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/capacity-for-four-node-azure-stack-hub.png
  azure-stack/operator/media/azure-stack-manage-storage-shares/physical-memory-on-azure-stack-hub.png
  azure-stack/ruggedized/operator/azure-stack-backup-back-up-azure-stack-tzl.md
  azure-stack/ruggedized/operator/azure-stack-backup-enable-backup-console-tzl.md
  azure-stack/ruggedized/operator/azure-stack-backup-enable-backup-powershell-tzl.md
Labels: do-not-merge

#1498 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/system-requirements.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1500 From private repo
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1501 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/give-app-access-to-resources.md
  azure-stack/operator/hotfix-1-2002-69-179.md
  azure-stack/operator/hotfix-1-2005-41-124.md
  azure-stack/operator/hotfix-1-2008-37-139.md
  azure-stack/operator/hotfix-1-2102-28-87.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-manage-vm-protect.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1503 From private repo
  azure-stack/aks-hci/system-requirements.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1504 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-integrate-identity.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1505 From private repo
  azure-stack/hci/concepts/plan-software-defined-networking-infrastructure.md
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-release-notes-2021-Q1.md
  azure-stack/operator/azure-stack-app-service-update.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1508 From private repo
  azure-stack/aks-hci/concepts-storage.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/media/create-kubernetes-cluster/add-connection.png
  azure-stack/aks-hci/media/storage-architecture.png
  azure-stack/hci/release-information.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/hotfix-1-2102-28-87.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1509 From private repo
  azure-stack/hci/release-information.md
  azure-stack/mdc/azure-stack-manage-vm-protect-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-infrastructure-backup-tzl.md
  azure-stack/mdc/operator/azure-stack-commvault-offer-tzl.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/ruggedized/operator/azure-stack-backup-infrastructure-backup-tzl.md
  azure-stack/ruggedized/operator/azure-stack-commvault-offer-tzl.md
  azure-stack/ruggedized/user/azure-stack-manage-vm-protect-tzl.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1511 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/monitor-azure-portal.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1514 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/operator/known-issues.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1515 From private repo
  azure-stack/operator/give-app-access-to-resources.md
  azure-stack/operator/media/azure-stack-create-service-principal/image12.png
  azure-stack/operator/media/azure-stack-create-service-principal/image15.png
  azure-stack/operator/media/give-app-access-to-resources/assign-role.png
  azure-stack/operator/media/give-app-access-to-resources/assigned-role.png
  azure-stack/operator/media/give-app-access-to-resources/create-client-secret.png
  azure-stack/operator/media/give-app-access-to-resources/select-subscription.png
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1517 From private repo
  azure-stack/hci/deploy/validate.md
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/media/azure-stack-add-new-user-aad/new-user-all-users.png
  azure-stack/operator/media/azure-stack-add-new-user-aad/new-user-user.png
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1516 change 0.60.1 to 0.63.0
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1519 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/manage/gateway-connections.md
  azure-stack/hci/manage/media/gateway/change-settings.png
  azure-stack/hci/manage/media/gateway/delete-connection.png
  azure-stack/hci/manage/media/gateway/gre-connection.png
  azure-stack/hci/manage/media/gateway/ipsec-connection.png
  azure-stack/hci/manage/media/gateway/l3-connection.png
  azure-stack/hci/manage/media/gateway/view-connections.png
  azure-stack/hci/manage/media/gateway/view-details.png
  azure-stack/hci/toc.yml
  azure-stack/operator/hotfix-1-2102-28-87.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#1495 Update to Support section in azure-stack-hci-insights.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1520 From private repo
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1521 Update azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1524 From private repo
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/user/azure-stack-manage-vm-disks.md
  azure-stack/user/media/azure-stack-manage-vm-disks/select-a-vm.png
  azure-stack/user/media/azure-stack-manage-vm-disks/upload-vhd.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1525 Update azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1527 From private repo
  azure-stack/aks-hci/media/aks-hci-deployment.gif
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/setup.md
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/media/azure-stack-integrate-dns/integrate-dns-01.svg
  azure-stack/user/azure-stack-storage-connect-se.md
Labels: do-not-merge

#1529 From private repo
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/powershell-install-az-module.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1530 From private repo
  azure-stack/aks-hci/pricing.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1531 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/install-akshcimonitoring.md
  azure-stack/aks-hci/monitor-logging.md
  azure-stack/aks-hci/new-akshcicluster.md
  azure-stack/aks-hci/uninstall-akshcimonitoring.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/aks-hci/upgrade.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1532 From private repo
  azure-stack/aks-hci/set-akshciconfig.md
  azure-stack/hci/concepts/nested-virtualization.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1536 Update azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1538 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1539 From private repo
  azure-stack/aks-hci/media/setup/wac-api-permissions.png
  azure-stack/aks-hci/setup.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1540 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/concepts-storage.md
  azure-stack/aks-hci/media/storage-architecture.png
  azure-stack/aks-hci/repair-akshcicerts.md
  azure-stack/aks-hci/repair-akshciclustercerts.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge
