Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-04, with the labels that each got.

#1384 Add alternative instruction and link to verify OAW.zip hash
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1386 From private repo
  azure-stack/operator/resource-provider-apply-updates.md
  azure-stack/zone-pivot-groups.yml
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1387 From private repo
  azure-stack/hci/overview.md
Labels: do-not-merge

#1388 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1391 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/hci/concepts/utility-applications.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: do-not-merge

#1390 Adding physical network requirements
  azure-stack/hci/concepts/system-requirements.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1392 From private repo
  azure-stack/asdk/asdk-telemetry.md
  azure-stack/operator/app-service-rotate-certificates.md
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-extension-host-prepare.md
  azure-stack/operator/azure-stack-find-cloud-id.md
  azure-stack/operator/azure-stack-get-azurestacklog.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-update-oem.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1393 Removing Azure Update mgmt
  azure-stack/hci/manage/azure-monitor.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1394 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/toc.yml
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1395 From private repo
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1396 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2005-33-108.md
  azure-stack/operator/hotfix-1-2008-31-126.md
  azure-stack/operator/release-notes.md
Labels: do-not-merge

#1398 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/hotfix-1-2005-33-108.md
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1399 From private repo
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/tutorial-test-offer.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1400 From private repo
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: do-not-merge

#1402 From private repo
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/media/cluster/create-cluster-wizard.png
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/hci/release-information.md
  azure-stack/operator/hotfix-1-2005-33-108.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1405 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/deploy/media/register/registration-permissions.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/overview.md
Labels: do-not-merge

#1406 From private repo
  azure-stack/hci/concepts/utility-applications.md
Labels: do-not-merge

#1407 From private repo
  azure-stack/user/event-hubs-overview.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1408 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/operator/relnotearchive/known-issues.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1409 From private repo
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-tutorial-sql.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1114 changing FullLanguageMode to FullLanguage as mode is not a valid option
  azure-stack/operator/azure-stack-registration.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, do-not-merge

#1410 Adding link to S2D NET requirements for clarity
  azure-stack/hci/concepts/host-network-requirements.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1414 Update sdn-express.md
  azure-stack/hci/manage/sdn-express.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1416 From private repo
  azure-stack/hci/release-information.md
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/operator/azure-stack-integrate-endpoints-tzl.md
  azure-stack/mdc/operator/media/azure-stack-integrate-endpoints-tzl/integrate-endpoints-01.svg
  azure-stack/operator/azure-stack-create-service-principals.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/media/azure-stack-integrate-endpoints/Integrate-Endpoints-02.png
  azure-stack/operator/media/azure-stack-integrate-endpoints/Integrate-Endpoints-03.png
  azure-stack/partner/azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/operator/azure-stack-integrate-endpoints-tzl.md
  azure-stack/ruggedized/operator/media/azure-stack-integrate-endpoints-tzl/integrate-endpoints-01.svg
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1417 From private repo
  .gitignore
  .openpublishing.redirection.json
  azure-stack/aks-hci/restart-cluster.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/manage/media/access-control-lists/apply-acl-logical-network.png
  azure-stack/hci/manage/use-datacenter-firewall-windows-admin-center.md
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
  azure-stack/mdc/TOC.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-backup-recover-data.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/azure-stack-csp-howto-register-tenants.md
  azure-stack/operator/azure-stack-manage-storage-infrastructure.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11300.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-registration-role.md
  azure-stack/operator/azure-stack-sql-resource-provider-11300.md
  azure-stack/operator/azure-stack-sql-resource-provider-11330.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/operator/azure-stack-transparent-proxy.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-tutorial-mysql.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/operator/hotfix-1-2005-35-112.md
  azure-stack/operator/hotfix-1-2008-33-131.md
  azure-stack/operator/iot-hub-rp-install.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/user/azure-stack-manage-vm-protect.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-storage-overview.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-vm-windows.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
  azure-stack/user/iot-hub-overview.md
  azure-stack/user/kubernetes-aks-engine-azure-monitor.md
  azure-stack/user/vm-update-management.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1421 Test
  README.md
Labels: do-not-merge, review-team-triage

#1423 Update host-network-requirements.md
  azure-stack/hci/concepts/host-network-requirements.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge
