Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-09, with the labels that each got.

#1627 Delete statefulset application
  azure-stack/user/kubernetes-aks-engine-container-storage-interface.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1626 Fix typo in example IP requirements
  azure-stack/aks-hci/concepts-node-networking.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc

#1630 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/hci/manage/sdn-express.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1632 From private repo
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/operator/azure-stack-troubleshooting.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1633 From private repo
  azure-stack/aks-hci/help-support.md
  azure-stack/aks-hci/kubernetes-helm.md
  azure-stack/aks-hci/media/support/basic-select-service.png
  azure-stack/aks-hci/media/support/basics-page.png
  azure-stack/aks-hci/media/support/basics-problem-type.png
  azure-stack/aks-hci/media/support/help-support-icon.png
  azure-stack/aks-hci/media/support/new-support-request-sidebar.png
  azure-stack/aks-hci/media/support/service-request-details.png
  azure-stack/aks-hci/media/support/service-request-support-method.png
  azure-stack/aks-hci/media/support/solutions-page.png
  azure-stack/aks-hci/toc.yml
Labels: do-not-merge

#1635 From private repo
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/media/create-kubernetes-cluster/dashboard-kubernetes-wizard.png
  azure-stack/aks-hci/media/create-kubernetes-cluster/deployment-complete.png
  azure-stack/aks-hci/media/create-kubernetes-cluster/node-pool-added.png
  azure-stack/hci/deploy/tutorial-private-forest.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1637 From private repo
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/index.yml
  azure-stack/operator/powershell-install-az-module.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1639 From private repo
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/user/gpu-vms-about.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1595 Move $YourCloudAdminCredential variable behind the parameter
  azure-stack/operator/azure-stack-registration.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1642 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/container-storage-interface-disks.md
  azure-stack/aks-hci/pricing.md
  azure-stack/aks-hci/reference/ps/new-akshcicluster.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/mdc/TOC.yml
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/deploy-foundational-patterns.md
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/overview.svg
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/s2svpntunnels2.svg
  azure-stack/user/media/azure-stack-network-howto-vnet-peering/stack-rras1.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/overview.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/s2svpntunnel.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/stack-rras1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/overview.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/s2svpntunnel.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/stack-rras1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/azure-stack-network-vpn-tunnel1.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/azure-stack-network-vpn-tunnel2.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image10.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image11.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image12.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image13.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image14.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image15.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image16.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image17.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image18.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image19.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image20.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image21.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image22.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image23.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image24.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image3.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image4.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image5.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image6.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image7.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image8.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/image9.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel/scenarios.svg
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
  azure-stack/user/network-howto-vpn-tunnel.md
Labels: do-not-merge

#1643 From private repo
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/reference/ps/TOC.yml
  azure-stack/aks-hci/reference/ps/disable-akshcipreview.md
  azure-stack/aks-hci/reference/ps/enable-akshcipreview.md
  azure-stack/aks-hci/reference/ps/index.md
  azure-stack/aks-hci/reference/ps/new-akshcicluster.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/deploy/network-atc.md
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1644 From private repo
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/reference/ps/new-akshcinetworksetting.md
  azure-stack/aks-hci/tutorial-kubernetes-scale.md
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
  azure-stack/hci/whats-new.md
  azure-stack/operator/azure-stack-backup-best-practices.md
  azure-stack/operator/azure-stack-backup-enable-backup-console.md
  azure-stack/operator/azure-stack-backup-enable-backup-powershell.md
  azure-stack/operator/azure-stack-backup-reference.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-supported-os.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-storage-dev.md
  azure-stack/user/azure-stack-storage-transfer.md
  azure-stack/user/vm-move-from-azure.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1645 From private repo
  azure-stack/hci/concepts/software-load-balancer.md
  azure-stack/hci/manage/maintain-servers.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1646 From private repo
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/release-information.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1647 From private repo
  azure-stack/aks-hci/reference/ps/set-akshciregistration.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1649 From private repo
  azure-stack/aks-hci/create-daemonsets.md
  azure-stack/aks-hci/create-deployments.md
  azure-stack/aks-hci/create-pods.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/manage/convert-to-stretched-cluster.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1650 From private repo
  azure-stack/hci/concepts/physical-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1651 Adding on-premises AD DC requirement
  azure-stack/hci/deploy/deployment-quickstart.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1652 From private repo
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/operator/azure-stack-customer-journey.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1655 From private repo
  azure-stack/aks-hci/app-availability.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/reference/ps/new-akshcinetworksetting.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-installation.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/release-information.md
  azure-stack/user/azure-stack-deploy-template-command-line.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1656 From private repo
  azure-stack/aks-hci/reference/ps/set-akshciconfig.md
  azure-stack/aks-hci/reference/ps/update-akshcicluster.md
  azure-stack/aks-hci/upgrade-kubernetes.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
  azure-stack/operator/marketplace-update-items.md
  azure-stack/operator/media/marketplace-update-items/check-marketplace-in-azure-stack-hub.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1657 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/container-storage-interface-disks.md
  azure-stack/aks-hci/known-issues-installation.md
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/ssh-connection.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/media/azure-stack-network/pvip-2-expanded.png
  azure-stack/operator/media/azure-stack-network/pvip-2.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1659 Added a recommended browsers section
  azure-stack/operator/azure-stack-manage-portals.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1660 From private repo
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/mdc/oem-release-notes-mdc.md
  azure-stack/operator/azure-stack-viewing-public-ip-address-consumption.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/device-return.md
  azure-stack/ruggedized/media/device-return/return-flow.png
  azure-stack/ruggedized/oem-release-notes-rca.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1663 From private repo
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/operator/compare-azure-azure-stack.md
  azure-stack/ruggedized/device-return.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1665 From private repo
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
  azure-stack/operator/azure-stack-telemetry.md
  azure-stack/ruggedized/device-return.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/azure-stack-validate-templates.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc
