Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-01, with the labels that each got.

#1207 Fix a typo
  azure-stack/asdk/asdk-deploy-considerations.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1208 Update asdk-register.md
  azure-stack/asdk/asdk-register.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1211 Fixed a typo
  azure-stack/operator/azure-stack-datacenter-integration.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1213 Update system-requirements.md
  azure-stack/aks-hci/system-requirements.md
Labels: Change sent to author, aks-hci/subsvc, aq-pr-triaged, azure-stack/svc, do-not-merge

#1215 From private repo
  azure-stack/mdc/azure-stack-version-profiles-azurecli-2-tzl.md
  azure-stack/mdc/operator/aks-refer-table-tzl.md
  azure-stack/mdc/operator/analyze-usage-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-back-up-azure-stack-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-enable-backup-console-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-enable-backup-powershell-tzl.md
  azure-stack/mdc/operator/azure-stack-backup-infrastructure-backup-tzl.md
  azure-stack/mdc/operator/azure-stack-commvault-offer-tzl.md
  azure-stack/mdc/operator/azure-stack-monitor-health-tzl.md
  azure-stack/mdc/operator/azure-stack-windows-server-faq-tzl.md
  azure-stack/mdc/operator/billing-local-meters-tzl.md
  azure-stack/mdc/operator/billing-model-overview-tzl.md
  azure-stack/mdc/operator/integrated-dell-remote-access-controller-credentials.md
  azure-stack/ruggedized/customer-replaceable-unit/access-idrac-over-usb-connection.md
  azure-stack/ruggedized/customer-replaceable-unit/azure-stack-hub-hardware-diagram.md
  azure-stack/ruggedized/customer-replaceable-unit/emc-poweredge-tactical-indicators-and-codes.md
  azure-stack/ruggedized/customer-replaceable-unit/emc-poweredge-tactical-r640-server-overview.md
  azure-stack/ruggedized/customer-replaceable-unit/install-firmware-using-idrac.md
  azure-stack/ruggedized/customer-replaceable-unit/power-off-hlh.md
  azure-stack/ruggedized/customer-replaceable-unit/power-off-scu.md
  azure-stack/ruggedized/customer-replaceable-unit/power-on-scale-unit-node.md
  azure-stack/ruggedized/customer-replaceable-unit/repair-scale-unit-node.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-failed-external-storage-disk.md
  azure-stack/ruggedized/customer-replaceable-unit/replace-heater.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-hardware-lifecycle-host-access-and-health.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-hardware-lifecycle-host-health.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-access-and-health.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-disk-health.md
  azure-stack/ruggedized/oem-release-notes-rca.md
  azure-stack/ruggedized/operator/azure-stack-backup-best-practices-tzl.md
  azure-stack/ruggedized/operator/azure-stack-download-azure-marketplace-item-tca.md
  azure-stack/ruggedized/operator/azure-stack-manage-basics-tzl.md
  azure-stack/ruggedized/operator/azure-stack-node-actions-tzl.md
  azure-stack/ruggedized/operator/container-registry-template-install-tzl.md
  azure-stack/ruggedized/operator/container-registry-template-rotate-secrets-tzl.md
  azure-stack/ruggedized/operator/container-registry-template-update-tzl.md
  azure-stack/ruggedized/operator/registration-tzl.md
  azure-stack/ruggedized/user/azure-stack-kubernetes-aks-engine-deploy-windows-tzl.md
  azure-stack/ruggedized/user/azure-stack-manage-vm-protect-tzl.md
Labels: Change sent to author, azure-stack-hub-mdc/subsvc, azure-stack/svc, do-not-merge

#1214 duplicate info about 3DES
  azure-stack/operator/azure-stack-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1216 From private repo
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/hci/manage/validate-qos.md
  azure-stack/hci/toc.yml
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1218 From private repo
  azure-stack/operator/azure-stack-get-azurestacklog.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
  azure-stack/operator/diagnostic-log-collection.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1217 added Wildcard SSL for consistency
  azure-stack/operator/azure-stack-manage-basics.md
  azure-stack/operator/azure-stack-pki-certs.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1220 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/ruggedized/oem-release-notes-rca.md
  azure-stack/ruggedized/operator/azure-stack-node-actions-tzl.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1223 From private repo
  azure-stack/asdk/asdk-admin-basics.md
  azure-stack/asdk/asdk-advanced-eval.md
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/asdk/index.yml
  azure-stack/operator/app-service-back-up.md
  azure-stack/operator/app-service-recover.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-one.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-two.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-privileged-endpoint.md
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-start-and-stop.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/index.yml
  azure-stack/operator/release-notes.md
  azure-stack/ruggedized/customer-replaceable-unit/verify-scale-unit-node-disk-health.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-key-vault-store-credentials.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-backup-storage.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
  azure-stack/user/iaas-architecture-vm-linux.md
  azure-stack/user/iaas-architecture-windows-sql-n-tier.md
Labels: do-not-merge

#1222 added some missing words
  azure-stack/operator/azure-stack-manage-storage-shares.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1225 From private repo
  azure-stack/hci/deploy/deploy-trusted-enterprise-virtualization.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1226 Change the support of immutable Blobs
  azure-stack/user/azure-stack-acs-differences.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1227 From private repo
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/manage-cluster/add-server.png
  azure-stack/hci/manage/media/manage-cluster/affinity-rules.png
  azure-stack/hci/manage/media/manage-cluster/cluster-dashboard.png
  azure-stack/hci/manage/media/manage-cluster/cluster-diagnostic-data.png
  azure-stack/hci/manage/media/manage-cluster/cluster-overview.png
  azure-stack/hci/manage/media/manage-cluster/cluster-registration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-access.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-encryption.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-hyperv.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-liv-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-memory.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-numa.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-session.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-shutdown.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-ssd.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-sto-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-vm-load.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-witness.png
  azure-stack/hci/manage/media/manage-cluster/cluster-simulate-failure.png
  azure-stack/hci/manage/media/manage-cluster/remove-cluster.png
  azure-stack/hci/manage/media/manage-cluster/remove-server.png
  azure-stack/hci/manage/media/manage-cluster/validate-cluster.png
  azure-stack/hci/manage/media/manage-cluster/validation-reports.png
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1228 From private repo
  azure-stack/hci/deploy/deploy-sql-server-workload.md
  azure-stack/hci/toc.yml
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1229 Replace Az Powershell commands on Az Script.
  azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1231 From private repo
  azure-stack/operator/azure-stack-monitor-health.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/media/azure-stack-monitor-health/certificate-expiration.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1232 From private repo
  azure-stack/asdk/asdk-register.md
  azure-stack/asdk/asdk-troubleshooting.md
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/manage-cluster/affinity-rules.png
  azure-stack/hci/manage/media/manage-cluster/cluster-dashboard.png
  azure-stack/hci/manage/media/manage-cluster/cluster-diagnostic-data.png
  azure-stack/hci/manage/media/manage-cluster/cluster-overview.png
  azure-stack/hci/manage/media/manage-cluster/cluster-registration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-access.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-encryption.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-hyperv.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-liv-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-live-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-memory.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-numa.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-session.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-shutdown.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-ssd.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-sto-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-storage-migration.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-storage-pools.png
  azure-stack/hci/manage/media/manage-cluster/cluster-settings-storage-spaces-direct.png
  azure-stack/hci/manage/media/manage-cluster/cluster-simulate-failure.png
  azure-stack/hci/manage/media/manage-cluster/remove-cluster.png
  azure-stack/hci/manage/media/manage-cluster/validate-cluster.png
  azure-stack/hci/manage/media/manage-cluster/validation-reports.png
Labels: do-not-merge

#1234 From private repo
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1238 fixed AzureRM cmdlets
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1236 Typo "** IP address**"→"**IP address**"
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1239 From private repo
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/media/cluster/create-cluster-wizard.png
  azure-stack/hci/overview.md
  azure-stack/operator/azure-stack-usage-related-faq.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1237 Typo "** SAS key**"→"**SAS key**"
  azure-stack/user/azure-stack-network-howto-backup-storage.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1235 Remove internal secret rotation variables
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1243 From private repo
  azure-stack/hci/manage/media/vm-load-balancing/periodic-balancing.png
  azure-stack/hci/manage/media/vm-load-balancing/server-added.png
  azure-stack/hci/manage/media/vm-load-balancing/vm-load-balancing.png
  azure-stack/hci/manage/vm-load-balancing.md
  azure-stack/hci/toc.yml
  azure-stack/user/TOC.yml
  azure-stack/user/ci-cd-github-action-login-cli.md
  azure-stack/user/media/ci-cd-github-action-login-cli/ash-github-actions-v1d1.svg
  azure-stack/user/media/ci-cd-github-action-login-cli/github-action-runner-listen.png
  azure-stack/user/media/ci-cd-github-action-login-cli/github-action-secret.png
  azure-stack/user/media/ci-cd-github-action-login-cli/github-action-success-screen.png
  azure-stack/user/media/ci-cd-github-action-login-cli/github-actions-review-log-summary.png
  azure-stack/user/media/ci-cd-github-action-login-cli/github-actions-self-hosted-runner.png
Labels: do-not-merge

#1245 From private repo
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/faq.md
Labels: do-not-merge

#1248 Typo "**Depends **"→"**Depends**"
  azure-stack/hci/concepts/quorum.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1251 From private repo
  azure-stack/asdk/asdk-validate-backup.md
  azure-stack/hci/deploy/deploy-vdi.md
  azure-stack/hci/toc.yml
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hub-asdk/subsvc, azure-stack/svc, do-not-merge

#1250 fixed cmdlet typos
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1249 Explanations are mixed up.
  azure-stack/operator/event-hubs-rp-manage.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1252 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/deploy/sql-server.md
  azure-stack/hci/deploy/trusted-enterprise-virtualization.md
  azure-stack/hci/deploy/virtual-desktop-infrastructure.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-mysql-resource-provider-11930.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-sql-resource-provider-11930.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1253 From private repo
  azure-stack/operator/azure-stack-help-and-support-overview.md
  azure-stack/operator/azure-stack-node-actions.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/media/ci-cd-github-action-login-cli/ash-github-actions-v1d1.svg
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1255 From private repo
  azure-stack/asdk/asdk-register.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/faq.md
  azure-stack/hci/release-information.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1256 From private repo
  azure-stack/hci/deploy/branch-office-edge.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-troubleshooting.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1257 From private repo
  azure-stack/hci/concepts/compare-azure-stack-hub.md
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/concepts/media/compare-windows-server/hci-scenarios.png
  azure-stack/hci/concepts/media/compare-windows-server/windows-server-scenarios.png
  azure-stack/hci/release-information.md
  azure-stack/hci/toc.yml
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1258 From private repo
  azure-stack/hci/concepts/utility-applications.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1260 From private repo
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1259 Need to modify ResourceManagerUrl for ASDK.
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1261 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/quorum.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/deployment-overview.md
  azure-stack/hci/deploy/deployment-quickstart.md
  azure-stack/hci/deploy/migrate-cluster-same-hardware.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/update-cluster/add-cau-role.png
  azure-stack/hci/manage/media/update-cluster/install-os-updates.png
  azure-stack/hci/manage/media/update-cluster/operating-system-updates.png
  azure-stack/hci/manage/media/witness/cloud-witness-1.png
  azure-stack/hci/manage/media/witness/cloud-witness-2.png
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/manage/witness.md
  azure-stack/hci/toc.yml
Labels: do-not-merge

#1263 From private repo
  azure-stack/hci/manage/media/register-wac/connect-to-aad.png
  azure-stack/hci/manage/media/register-wac/enter-code.png
  azure-stack/hci/manage/media/register-wac/register-wac.png
  azure-stack/hci/manage/media/register-wac/sign-in.png
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/reference/pep-2002/Set-SyslogServer.md
  azure-stack/reference/pep-2002/Set-Telemetry.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1265 From private repo
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/includes/iot-hub-connect-an-iot-edge-device-cert-common.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-acs-differences.md
  azure-stack/user/iot-hub-connect-iot-edge-device.md
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/copy-iot-hub-host-name.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-edge-service-check.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-edge-service-failed.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-edge-service-running.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-hub-root-ca-certificate-ssl-root-ca.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-hub-root-ca-certificate-ssl.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/iot-hub-root-ca-connection.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/linux-add-user.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/nano-edit-config-yml-certificates.png
  azure-stack/user/media/iot-hub-connect-an-iot-edge-device/nano-edit-config-yml-connection-string.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1269 From private repo
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/media/manage-azure-registration/azure-stack-hci-registration.png
  azure-stack/hci/manage/media/manage-azure-registration/registration-status.png
  azure-stack/operator/azure-stack-monitor-update.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/customer-replaceable-unit/emc-poweredge-tactical-indicators-and-codes.md
  azure-stack/ruggedized/customer-replaceable-unit/emc-poweredge-tactical-r640-server-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
Labels: do-not-merge

#1271 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/toc.yml
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1272 From private repo
  azure-stack/operator/known-issues.md
  azure-stack/ruggedized/customer-replaceable-unit/media/image-11.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-12.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-13.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-14.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-15.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-16.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-17.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-18-expanded.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-18-inline.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-19-inline.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-20-inline.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-21-expanded.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-21-inline.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-23.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-24.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-25.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-26.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-27.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-28.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-29.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-46.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-47.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-48.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-49.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-50.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-51.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-52.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-53.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-54.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-56.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-7.png
  azure-stack/ruggedized/media/network-introduction/edge-firewall-scenario.png
  azure-stack/ruggedized/media/network-introduction/expressroute-network-architecture-multi-tenant-60.png
  azure-stack/ruggedized/media/network-introduction/expressroute-network-architecture-multi-tenant.png
  azure-stack/ruggedized/media/network-introduction/expressroute-network-architecture.png
  azure-stack/ruggedized/media/network-introduction/perimeter-network-firewall-scenario-60.png
  azure-stack/ruggedized/media/network-introduction/perimeter-network-firewall-scenario.png
  azure-stack/ruggedized/media/network-introduction/physical-network-design-60.png
  azure-stack/ruggedized/media/network-introduction/physical-network-design.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1273 From private repo
  azure-stack/operator/azure-stack-change-subscription-owner.md
Labels: do-not-merge
