Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-05, with the labels that each got.

#1425 From private repo
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/hci/manage/monitor-cluster.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1429 From private repo
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/set-akshciconfig.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1431 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/new-akshcinetworksetting.md
  azure-stack/aks-hci/scale-cluster.md
  azure-stack/aks-hci/set-akshciclusternodecount.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/uninstall-akshcimonitoring.md
  azure-stack/hci/manage/azure-portal.md
  azure-stack/operator/relnotearchive/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1433 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1435 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/new-akshciproxysetting.md
  azure-stack/aks-hci/tutorial-kubernetes-prepare-azure-container-registry.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1439 Update ExpectedHash for OAW 4B
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1440 From private repo
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1441 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/user/azure-stack-acs-differences.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1442 AZH doesn't support Standard_GRS replication
  azure-stack/user/azure-stack-develop-templates.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1446 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/deploy-azure-container-registry.md
  azure-stack/aks-hci/disable-akshciarcconnection.md
  azure-stack/aks-hci/enable-akshciarcconnection.md
  azure-stack/aks-hci/install-akshciarconboarding.md
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/persistent-volume.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/concepts/deploy-persistent-memory.md
  azure-stack/hci/concepts/persistent-memory-direct-access.md
  azure-stack/hci/concepts/persistent-memory-health.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1447 From private repo
  azure-stack/operator/azure-stack-update-prepare-package.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1448 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/manage/media/configure-firewalls/firewalls-diagram.png
  azure-stack/hci/toc.yml
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1450 From private repo
  azure-stack/hci/index.yml
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/manage/languages.md
  azure-stack/user/TOC.yml
  azure-stack/user/event-hubs-overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1451 From private repo
  azure-stack/mdc/mdc-overview.md
  azure-stack/mdc/network-appendix.md
  azure-stack/mdc/network-introduction.md
  azure-stack/operator/azure-stack-app-service-overview.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/iot-hub-rp-manage.md
  azure-stack/operator/operator-access-workstation.md
  azure-stack/ruggedized/network-appendix.md
  azure-stack/ruggedized/network-configuration-lifecycle-management.md
  azure-stack/ruggedized/network-introduction.md
  azure-stack/ruggedized/ruggedized-overview.md
  azure-stack/user/azure-stack-compute-overview.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
  azure-stack/user/azure-stack-metrics-supported.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/event-hubs-overview.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1452 From private repo
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/media/concepts/architecture.png
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/hci/concepts/plan-software-defined-networking-infrastructure.md
  azure-stack/hci/deploy/cluster-set.md
  azure-stack/hci/manage/sdn-express.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1453 From private repo
  azure-stack/user/azure-stack-network-differences.md
  azure-stack/user/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1454 From private repo
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/get-akshciclusternetwork.md
  azure-stack/aks-hci/get-kubelet-logs.md
  azure-stack/aks-hci/kubernetes-helm.md
  azure-stack/aks-hci/media/container-service-serverless/figlet.png
  azure-stack/aks-hci/media/container-service-serverless/openfaas.png
  azure-stack/aks-hci/media/logs/billing-records.png
  azure-stack/aks-hci/media/logs/get-kva-config.png
  azure-stack/aks-hci/media/logs/get-moc-config.png
  azure-stack/aks-hci/node-repair.md
  azure-stack/aks-hci/openfaas.md
  azure-stack/aks-hci/support-policies.md
  azure-stack/aks-hci/supported-kubernetes-versions.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/view-logs.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1457 Update sdn-express.md
  azure-stack/hci/manage/sdn-express.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1459 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/disable-akshciarcconnection.md
  azure-stack/aks-hci/enable-akshciarcconnection.md
  azure-stack/aks-hci/new-akshciproxysetting.md
  azure-stack/aks-hci/set-akshciregistration.md
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/concepts/deploy-persistent-memory.md
  azure-stack/hci/concepts/persistent-memory-direct-access.md
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/diagnostic-log-collection.md
  azure-stack/operator/enable-multitenancy.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/relnotearchive/known-issues.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/ci-cd-github-action-login-cli.md
  azure-stack/user/ci-cd-github-action-webapp.md
  azure-stack/user/media/azure-stack-connect-cli/image1.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1460 From private repo
  azure-stack/operator/known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1462 From private repo
  azure-stack/asdk/asdk-post-deploy.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/operator/azure-stack-validate-identity.md
  azure-stack/operator/azure-stack-validate-registration.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/ci-cd-github-action-login-cli.md
  azure-stack/user/ci-cd-github-action-webapp.md
  azure-stack/user/delete-vm.md
  azure-stack/user/media/azure-stack-connect-cli/cli-response.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1463 From private repo
  azure-stack/hci/deploy/cluster-set.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/release-information.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-supported-os.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1467 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/get-akshciclusterupgrades.md
  azure-stack/aks-hci/get-akshciproxysetting.md
  azure-stack/aks-hci/get-kubelet-logs.md
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/remove-akshciproxysetting.md
  azure-stack/aks-hci/ssh-connection.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/aks-hci/tutorial-kubernetes-deploy-cluster.md
  azure-stack/aks-hci/tutorial-kubernetes-upgrade-cluster.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1468 From private repo
  azure-stack/aks-hci/add-akshcinode.md
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/concepts-support.md
  azure-stack/aks-hci/deploy-java-liberty-app.md
  azure-stack/aks-hci/get-akshcibillingstatus.md
  azure-stack/aks-hci/get-akshcicluster.md
  azure-stack/aks-hci/get-akshcicredential.md
  azure-stack/aks-hci/get-akshcilogs.md
  azure-stack/aks-hci/get-akshciregistration.md
  azure-stack/aks-hci/get-akshcistoragecontainer.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/install-akshciadauth.md
  azure-stack/aks-hci/install-akshcicsinfs.md
  azure-stack/aks-hci/install-akshcicsismb.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/media/deploy-java-app/deploy-succeeded.png
  azure-stack/aks-hci/monitor-logging.md
  azure-stack/aks-hci/new-akshcicluster.md
  azure-stack/aks-hci/new-akshciclusternetwork.md
  azure-stack/aks-hci/new-akshcinetworksetting.md
  azure-stack/aks-hci/remove-akshcinode.md
  azure-stack/aks-hci/repair-akshciclustercerts.md
  azure-stack/aks-hci/restart-cluster.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/tutorial-kubernetes-deploy-cluster.md
  azure-stack/aks-hci/tutorial-kubernetes-upgrade-cluster.md
  azure-stack/aks-hci/update-akshcicluster.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/redmineagile.png
  azure-stack/user/azure-stack-key-vault-manage-portal.md
  azure-stack/user/media/azure-stack-key-vault-manage-portal/image1.png
Labels: do-not-merge

#1471 Updates to stretch cluster
  azure-stack/hci/concepts/host-network-requirements.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1473 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/adapt-apps-mixed-os-clusters.md
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/concepts-support.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/disable-akshciarcconnection.md
  azure-stack/aks-hci/enable-akshciarcconnection.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/media/concepts/hyper-thread-hyperv-manager.png
  azure-stack/aks-hci/media/setup/check-wac-version.png
  azure-stack/aks-hci/media/setup/extension-manager.png
  azure-stack/aks-hci/new-akshcinetworksetting.md
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/pricing.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/tutorial-kubernetes-deploy-cluster.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/hci/media/overview/azure-stack-hci-solution.png
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/operator/media/azure-stack-hci/azure-stack-hci-solution.png
  azure-stack/operator/media/azure-stack-overview/azure-stack-job-roles.svg
  azure-stack/user/media/azure-stack-manage-vm-backup/vm_backupdataflow_01.png
  azure-stack/user/media/azure-stack-manage-vm-backup/vm_backupdataflow_02.png
  azure-stack/user/media/azure-stack-manage-vm-backup/vm_backupdataflow_03.png
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1475 From private repo
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/media/plan-networking/stretched-cluster-example.png
  azure-stack/hci/deploy/media/network-atc/network-atc-2-full-converge.png
  azure-stack/hci/deploy/media/network-atc/network-atc-3-separate-management-compute-storage.png
  azure-stack/hci/deploy/media/network-atc/network-atc-4-fully-disaggregated.png
  azure-stack/hci/deploy/media/network-atc/network-atc-5-fully-disaggregated-storage-only.png
  azure-stack/hci/deploy/media/network-atc/network-atc-6-disaggregated-management-compute.png
  azure-stack/hci/deploy/media/network-atc/network-atc-7-multiple-compute.png
  azure-stack/hci/deploy/network-atc.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/media/monitor-azure-portal/enable-log-analytics.png
  azure-stack/hci/manage/media/monitor-azure-portal/logs-capability.png
  azure-stack/hci/manage/media/monitor-azure-portal/monitoring-visualization.png
  azure-stack/hci/manage/media/preview-channel/feature-updates.png
  azure-stack/hci/manage/media/preview-channel/install-updates.png
  azure-stack/hci/manage/media/preview-channel/join-preview-channel.png
  azure-stack/hci/manage/media/preview-channel/joined-preview-channel.png
  azure-stack/hci/manage/media/preview-channel/readiness-check.png
  azure-stack/hci/manage/media/preview-channel/updates-in-progress.png
  azure-stack/hci/manage/media/thin-provisioning/fixed-provisioning.png
  azure-stack/hci/manage/media/thin-provisioning/storage-pool.gif
  azure-stack/hci/manage/media/thin-provisioning/thin-provisioning-wac.png
  azure-stack/hci/manage/media/thin-provisioning/thin-provisioning.gif
  azure-stack/hci/manage/media/thin-provisioning/thin-provisioning.png
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/manage/processor-compatibility-mode.md
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/hci/manage/use-gpu-with-clustered-vm.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1476 From private repo
  azure-stack/aks-hci/index.yml
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/hci/manage/monitor-cluster.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/toc.yml
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: do-not-merge

#1477 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/operator/azure-stack-registration.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1479 From private repo
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-stack-hci-insights.md
  azure-stack/hci/manage/media/azure-stack-hci-insights/cluster-performance-cpu-latency.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/cluster-performance-iops-throughput.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/drive-health.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/get-started.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/overview.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/virtual-machines.png
  azure-stack/hci/manage/media/azure-stack-hci-insights/volume-health.png
  azure-stack/hci/manage/preview-channel.md
  azure-stack/operator/azure-stack-diagnostic-test.md
  azure-stack/operator/azure-stack-quota-types.md
  azure-stack/user/azure-stack-quick-windows-portal.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1480 From private repo
  azure-stack/hci/deploy/network-atc.md
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/preview-channel.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1481 From private repo
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge
