Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-03, with the labels that each got.

#1336 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/encrypt-secrets.md
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/monitor-logging.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/toc.yml
  azure-stack/includes/resource-provider-va-package-download-common.md
  azure-stack/includes/resource-provider-va-package-download-disconnected.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/event-hubs-rp-install.md
  azure-stack/operator/iot-hub-rp-install.md
  azure-stack/operator/media/operator-access-workstation/check-hardware-lifecycle-host-version.png
  azure-stack/operator/media/operator-access-workstation/check-operator-access-workstation-vm-version.png
  azure-stack/operator/operator-access-workstation.md
  azure-stack/operator/resource-provider-apply-updates.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1337 From private repo
  azure-stack/hci/deploy/branch-office-edge.md
  azure-stack/hci/deploy/sql-server.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/manage/media/access-control-lists/apply-acl-network-interface.png
  azure-stack/hci/manage/media/access-control-lists/apply-acl-virtual-network.png
  azure-stack/hci/manage/media/access-control-lists/create-acl-rules.png
  azure-stack/hci/manage/media/access-control-lists/create-acl.png
  azure-stack/hci/manage/media/access-control-lists/delete-acl.png
  azure-stack/hci/manage/media/access-control-lists/get-acl-list.png
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/manage/update-cluster.md
  azure-stack/hci/manage/use-datacenter-firewall-windows-admin-center.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-add-new-user-aad.md
  azure-stack/operator/azure-stack-data-collection.md
  azure-stack/operator/azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-integrate-security.md
  azure-stack/operator/azure-stack-manage-permissions.md
  azure-stack/operator/azure-stack-pki-certs.md
  azure-stack/operator/azure-stack-prepare-pki-certs.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/operator/azure-stack-security-av.md
  azure-stack/operator/azure-stack-security-bitlocker.md
  azure-stack/operator/azure-stack-security-configuration.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/operator/azure-stack-validate-pki-certs.md
  azure-stack/operator/relnotearchive/release-notes-1904.md
  azure-stack/operator/relnotearchive/release-notes-1906.md
  azure-stack/operator/relnotearchive/release-notes-1907.md
  azure-stack/operator/relnotearchive/release-notes-1908.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1802.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1803.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1804.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1805.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1807.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1808.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1809.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1901.md
  azure-stack/user/ci-cd-github-action-login-cli.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1339 From private repo
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-linux.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-windows.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-support.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-upgrade.md
  azure-stack/user/kubernetes-aks-engine-container-storage-interface.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
  azure-stack/user/kubernetes-aks-engine-rotate-certs.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1341 From private repo
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/faq-old.md
  azure-stack/hci/faq.yml
  azure-stack/hci/manage/get-support.md
  azure-stack/hci/manage/media/register-wac/add-redirect-uris.png
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/toc.yml
  azure-stack/operator/known-issues.md
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1340 Update setup.md
  azure-stack/aks-hci/setup.md
Labels: do-not-merge

#1342 From private repo
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/faq-old.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1343 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/manage-azure-registration.md
  azure-stack/hci/release-information.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/azure-stack-update-oem.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/iot-hub-rp-prerequisites.md
  azure-stack/operator/media/azure-stack-update-prepare-package/image1.png
  azure-stack/operator/media/azure-stack-update-prepare-package/image2.png
  azure-stack/operator/media/azure-stack-update-prepare-package/image3.png
  azure-stack/operator/media/azure-stack-update-prepare-package/image4.png
  azure-stack/operator/media/azure-stack-update-prepare-package/image5.png
  azure-stack/operator/media/azure-stack-update-prepare-package/new-container-small.png
  azure-stack/operator/media/azure-stack-update-prepare-package/new-container.png
  azure-stack/operator/media/azure-stack-update-prepare-package/select-containers-small.png
  azure-stack/operator/media/azure-stack-update-prepare-package/select-containers.png
  azure-stack/operator/media/azure-stack-update-prepare-package/select-storage-small.png
  azure-stack/operator/media/azure-stack-update-prepare-package/select-storage.png
  azure-stack/operator/media/azure-stack-update-prepare-package/upload-blob.png
  azure-stack/operator/media/azure-stack-update-prepare-package/upload-package-small.png
  azure-stack/operator/media/azure-stack-update-prepare-package/upload-package.png
  azure-stack/operator/media/iot-hub-rp-prerequisites/certificate.png
  azure-stack/operator/relnotearchive/release-notes-1904.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1807.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1346 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/delete-volumes.md
  azure-stack/hci/manage/media/delete-volumes/delete-volume.png
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1348 From private repo
  azure-stack/hci/deploy/media/register/register-with-azure.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/operator/azure-stack-identity-architecture.md
  azure-stack/operator/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1349 Minor changes
  azure-stack/hci/concepts/host-network-requirements.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1351 From private repo
  azure-stack/hci/concepts/cache.md
  azure-stack/hci/concepts/configure-firewalls.md
  azure-stack/hci/concepts/data-collection.md
  azure-stack/hci/faq.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2002-67-175.md
  azure-stack/operator/hotfix-1-2005-32-106.md
  azure-stack/operator/hotfix-1-2008-27-118.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1352 From private repo
  azure-stack/hci/manage/get-support.md
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1354 From private repo
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/media/azure-stack-install-visual-studio/add-cloud.png
  azure-stack/user/media/azure-stack-install-visual-studio/image2.png
  azure-stack/user/media/azure-stack-install-visual-studio/image5.png
  azure-stack/user/media/azure-stack-install-visual-studio/image6.png
  azure-stack/user/media/azure-stack-install-visual-studio/image7.png
  azure-stack/user/media/azure-stack-install-visual-studio/sign-in-visual-studio.png
  azure-stack/user/media/azure-stack-install-visual-studio/uninstall-powershell.png
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-gre/s2svpntunnel.svg
  azure-stack/user/media/azure-stack-network-howto-vpn-tunnel-ipsec/s2svpntunnel.svg
Labels: do-not-merge

#1355 From private repo
  azure-stack/hci/concepts/security.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1356 From private repo
  azure-stack/hci/index.yml
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/operator/azure-stack-transparent-proxy.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1358 Update troubleshoot-credssp.md
  azure-stack/hci/manage/troubleshoot-credssp.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1359 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1360 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/drive-symmetry-considerations.md
  azure-stack/hci/concepts/fault-tolerance.md
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/hci/concepts/quorum.md
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/manage/delete-volumes.md
  azure-stack/hci/manage/extend-volumes.md
  azure-stack/hci/manage/witness.md
  azure-stack/mdc/integration-overview.md
  azure-stack/operator/azure-stack-app-service-before-you-get-started.md
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-powershell-plan-offer.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/integration-overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1361 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/calico-networking-policy.md
  azure-stack/aks-hci/concepts-container-networking.md
  azure-stack/aks-hci/concepts-networking.md
  azure-stack/aks-hci/concepts-node-networking.md
  azure-stack/aks-hci/create-kubernetes-cluster-powershell.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/encrypt-secrets.md
  azure-stack/aks-hci/get-akshciconfig.md
  azure-stack/aks-hci/get-akshcilogs.md
  azure-stack/aks-hci/get-akshciupdates.md
  azure-stack/aks-hci/index.yml
  azure-stack/aks-hci/install-akshciadauth.md
  azure-stack/aks-hci/install-akshciarconboarding.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/media/create-kubernetes-cluster/basics.png
  azure-stack/aks-hci/media/create-kubernetes-cluster/networking.png
  azure-stack/aks-hci/media/net/aks-cluster-ip.png
  azure-stack/aks-hci/media/net/aks-ingress.png
  azure-stack/aks-hci/media/net/aks-load-balancer.png
  azure-stack/aks-hci/media/net/aks-nodeport.png
  azure-stack/aks-hci/media/setup/host-configuration.png
  azure-stack/aks-hci/new-akshcicluster.md
  azure-stack/aks-hci/proxy.md
  azure-stack/aks-hci/restart-cluster.md
  azure-stack/aks-hci/scale-cluster.md
  azure-stack/aks-hci/secure-communication.md
  azure-stack/aks-hci/set-akshciconfig.md
  azure-stack/aks-hci/set-proxy-settings.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/system-requirements.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/hci/overview.md
Labels: do-not-merge

#1364 From private repo
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/monitor-logging.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/manage/media/use-csv-cache/in-memory-cache.png
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/manage/use-csv-cache.md
  azure-stack/hci/manage/witness.md
  azure-stack/operator/azure-stack-troubleshooting.md
  azure-stack/operator/operator-access-workstation.md
  azure-stack/operator/relnotearchive/release-notes-1904.md
  azure-stack/user/ci-cd-github-action-webapp.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1365 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/install-akshciadauth.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/restart-cluster.md
  azure-stack/aks-hci/set-proxy-settings.md
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/hci/concepts/plan-software-defined-networking-infrastructure.md
  azure-stack/mdc/network-deployment.md
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
  azure-stack/operator/azure-stack-mysql-resource-provider-maintain.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/ruggedized/oem-release-notes-rca.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/iaas-architecture-vm-windows.md
  azure-stack/user/kubernetes-aks-engine-container-storage-interface.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1366 From private repo
  azure-stack/asdk/asdk-cli.md
  azure-stack/hci/media/overview/azure-stack-hci-solution.png
  azure-stack/hci/overview.md
  azure-stack/includes/known-issue-az-install-1.md
  azure-stack/includes/known-issue-az-install-2.md
  azure-stack/includes/operator-note-owa.md
  azure-stack/mdc/azure-stack-version-profiles-azurecli-2-tzl.md
  azure-stack/operator/azure-stack-network-offer-backup-commvault.md
  azure-stack/operator/azure-stack-network-solutions-enable.md
  azure-stack/operator/azure-stack-overview.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/migrate-azurerm-az.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/ruggedized/user/azure-stack-version-profiles-azure-cli-2-tzl.md
  azure-stack/user/authenticate-azure-stack-hub.md
  azure-stack/user/azure-stack-deploy-template-portal.md
  azure-stack/user/azure-stack-deploy-template-powershell.md
  azure-stack/user/azure-stack-deploy-template-visual-studio.md
  azure-stack/user/azure-stack-dev-start-deploy-app.md
  azure-stack/user/azure-stack-dev-start-howto-deploy-linux.md
  azure-stack/user/azure-stack-dev-start-howto-ssh-public-key.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/azure-stack-dev-start-howto-vm-go.md
  azure-stack/user/azure-stack-dev-start-howto-vm-java.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
  azure-stack/user/azure-stack-dev-start-howto-vm-python.md
  azure-stack/user/azure-stack-dev-start-howto-vm-ruby.md
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-dev-start.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-network-howto-backup-storage.md
  azure-stack/user/azure-stack-network-howto-extend-datacenter.md
  azure-stack/user/azure-stack-network-howto-iscsi-storage.md
  azure-stack/user/azure-stack-network-howto-vnet-peering.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
  azure-stack/user/azure-stack-powershell-overview.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-resource-manager-deploy-template-vscode.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-version-profiles.md
  azure-stack/user/create-ssh-key-on-windows.md
  azure-stack/user/deploy-foundational-patterns.md
  azure-stack/user/network-howto-f5.md
  azure-stack/user/network-howto-vpn-tunnel-gre.md
  azure-stack/user/network-howto-vpn-tunnel-ipsec.md
  azure-stack/user/network-howto-vpn-tunnel.md
  azure-stack/user/user-overview.md
Labels: do-not-merge

#1367 From private repo
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/operator/azure-stack-overview.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1368 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/TOC.yml
  azure-stack/operator/diagnostic-log-collection.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/media/azure-stack-capacity-planning/add-a-node.png
  azure-stack/operator/release-notes.md
  azure-stack/operator/relnotearchive/known-issues-1904.md
  azure-stack/operator/relnotearchive/known-issues-1905.md
  azure-stack/operator/relnotearchive/known-issues-1906.md
  azure-stack/operator/relnotearchive/known-issues-1907.md
  azure-stack/operator/relnotearchive/known-issues-1908.md
  azure-stack/operator/relnotearchive/known-issues-1910.md
  azure-stack/operator/relnotearchive/known-issues.md
  azure-stack/operator/relnotearchive/release-notes-1904.md
  azure-stack/operator/relnotearchive/release-notes-1905.md
  azure-stack/operator/relnotearchive/release-notes-1906.md
  azure-stack/operator/relnotearchive/release-notes-1907.md
  azure-stack/operator/relnotearchive/release-notes-1908.md
  azure-stack/operator/relnotearchive/release-notes-1910.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1802.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1803.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1804.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1805.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1807.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1808.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1809.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1811.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1901.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1902.md
  azure-stack/operator/relnotearchive/release-notes-known-issues-1903.md
  azure-stack/operator/relnotearchive/release-notes.md
Labels: do-not-merge

#1081 Update azure-stack-vm-sizes.md
  azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1370 From private repo
  azure-stack/aks-hci/calico-networking-policy.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/prepare-windows-nodes-gmsa.md
  azure-stack/aks-hci/setup-powershell.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/aks-hci/troubleshoot.md
  azure-stack/hci/faq.yml
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1372 From private repo
  azure-stack/hci/release-information.md
  azure-stack/operator/azure-stack-usage-related-faq.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1373 Update expectedHash for OAW 3B package
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1374 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/azure-stack-servicing-policy.md
  azure-stack/operator/azure-stack-updates.md
  azure-stack/operator/operator-access-workstation.md
  azure-stack/user/azure-stack-considerations.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1376 From private repo
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/operator/azure-stack-add-scale-node.md
  azure-stack/operator/azure-stack-mysql-resource-provider-hosting-servers.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/diagnostic-log-collection.md
  azure-stack/user/azure-stack-dns.md
Labels: do-not-merge

#1378 From private repo
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/hci/overview.md
  azure-stack/index.yml
  azure-stack/operator/azure-stack-capacity-planning-compute.md
  azure-stack/operator/azure-stack-update-prepare-package.md
  azure-stack/operator/media/azure-stack-update-prepare-package/update-alert.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1379 From private repo
  azure-stack/aks-hci/media/setup/access-granted.png
  azure-stack/aks-hci/media/setup/dashboard.png
  azure-stack/aks-hci/media/setup/extension-manager.png
  azure-stack/aks-hci/media/setup/host-configuration.png
  azure-stack/aks-hci/setup.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
Labels: do-not-merge

#1380 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/manage/maintain-servers.md
  azure-stack/mdc/operator/container-registry-template-install-tzl.md
  azure-stack/mdc/operator/container-registry-template-rotate-secrets-tzl.md
  azure-stack/mdc/operator/container-registry-template-update-tzl.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/ruggedized/operator/container-registry-template-install-tzl.md
  azure-stack/ruggedized/operator/container-registry-template-rotate-secrets-tzl.md
  azure-stack/ruggedized/operator/container-registry-template-update-tzl.md
  azure-stack/user/azure-stack-dev-start-howto-vm-dotnet.md
  azure-stack/user/media/azure-stack-dev-start-howto-vm-dotnet/configure-web-deploy.png
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1381 From private repo
  azure-stack/includes/capacity-planning-overview.md
  azure-stack/operator/azure-stack-customer-journey.md
  azure-stack/operator/azure-stack-replace-component.md
  azure-stack/user/iaas-architecture-sql-n-tier-multi-region.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge
