Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-08, with the labels that each got.

#1561 Marketplace differences based on Cloud environment
  azure-stack/operator/azure-stack-marketplace-changes.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1593 Update azure-stack-kubernetes-aks-engine-known-issues.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1598 From private repo
  azure-stack/aks-hci/akshci.md
  azure-stack/aks-hci/concepts-container-networking.md
  azure-stack/aks-hci/enable-akshciarcconnection.md
  azure-stack/aks-hci/get-akshcinodepool.md
  azure-stack/aks-hci/get-akshciproxysetting.md
  azure-stack/aks-hci/kubernetes-concepts.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/new-akshcicluster.md
  azure-stack/aks-hci/new-akshcinodepool.md
  azure-stack/aks-hci/remove-akshcigmsacredentialspec.md
  azure-stack/aks-hci/remove-akshcinodepool.md
  azure-stack/aks-hci/repair-akshciclustercerts.md
  azure-stack/aks-hci/scale-cluster.md
  azure-stack/aks-hci/set-akshcicluster.md
  azure-stack/aks-hci/set-akshciconfig.md
  azure-stack/aks-hci/set-akshcinodepool.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/tutorial-kubernetes-deploy-cluster.md
  azure-stack/aks-hci/tutorial-kubernetes-scale.md
  azure-stack/aks-hci/tutorial-kubernetes-upgrade-cluster.md
  azure-stack/aks-hci/uninstall-akshcimonitoring.md
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/aks-hci/use-node-pools.md
  azure-stack/hci/manage/sdn-express.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-marketplace-changes.md
  azure-stack/operator/azure-stack-network.md
  azure-stack/operator/azure-stack-sql-resource-provider-hosting-servers.md
  azure-stack/operator/media/azure-stack-network/pvip-1-expanded.png
  azure-stack/operator/media/azure-stack-network/pvip-1.png
  azure-stack/operator/media/azure-stack-network/pvip-2-expanded.png
  azure-stack/operator/media/azure-stack-network/pvip-2.png
  azure-stack/user/TOC.yml
  azure-stack/user/azure-stack-dev-start-vscode-azure.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-known-issues.md
  azure-stack/user/dev-start-vscode-storage.md
  azure-stack/user/media/dev-start-vscode-storage/use-the-azure-storage-account-extension.png
Labels: do-not-merge

#1600 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/media/known-issues-windows-admin-center/wac-known-issue-description-auto-generated.png
  azure-stack/aks-hci/media/known-issues-windows-admin-center/wac-known-issue-incorrect-notification.png
  azure-stack/aks-hci/media/known-issues-windows-admin-center/wac-restart-to-resolve-timing-issues.png
  azure-stack/aks-hci/media/known-issues-windows-admin-center/wac-update-shows-previous-version.png
  azure-stack/hci/index.yml
  azure-stack/hci/manage/azure-site-recovery.md
  azure-stack/hci/manage/sdn-express.md
  azure-stack/hci/manage/use-azure-backup.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-download-azure-marketplace-item.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1601 From private repo
  azure-stack/hci/concepts/media/plan-networking/switchless-connectivity.png
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/overview.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1603 From private repo
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/azure-stack-network-solutions-enable.md
  azure-stack/user/azure-stack-network-howto-vnet-to-onprem.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet-stacks.md
  azure-stack/user/azure-stack-network-howto-vnet-to-vnet.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1604 From private repo
  azure-stack/aks-hci/media/wac-kubernetes-upgrade/kubernetes-cluster-update-now.png
  azure-stack/aks-hci/media/wac-kubernetes-upgrade/kubernetes-upgrade-settings.png
  azure-stack/aks-hci/media/wac-upgrade/available-module-version.png
  azure-stack/aks-hci/media/wac-upgrade/incompatible-version.png
  azure-stack/aks-hci/update-akshci-host-powershell.md
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/aks-hci/upgrade-kubernetes.md
  azure-stack/operator/azure-stack-sql-resource-provider-maintain.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1605 From private repo
  azure-stack/aks-hci/container-storage-interface-disks.md
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/deploy/network-atc.md
  azure-stack/operator/azure-stack-powershell-download.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1606 From private repo
  azure-stack/aks-hci/known-issues-windows-admin-center.md
  azure-stack/aks-hci/stop-start-cluster.md
  azure-stack/aks-hci/toc.yml
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/release-information.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1609 Typo "Visual Studio code"→"Visual Studio Code"
  azure-stack/user/dev-start-vscode-storage.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1612 Update known-issue-az-install-1.md
  azure-stack/includes/known-issue-az-install-1.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged

#1613 From private repo
  azure-stack/aks-hci/system-requirements.md
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/toc.yml
  azure-stack/index.yml
  azure-stack/operator/azure-stack-border-connectivity.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1614 From private repo
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/manage/health-service-actions.md
  azure-stack/hci/manage/health-service-cluster-performance-history.md
  azure-stack/hci/manage/health-service-faults.md
  azure-stack/hci/manage/health-service-overview.md
  azure-stack/hci/manage/health-service-settings.md
  azure-stack/user/gpu-deploy-sample-module.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1615 From private repo
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/operator/azure-stack-backup-enable-backup-console.md
  azure-stack/operator/azure-stack-backup-reference.md
  azure-stack/user/azure-stack-dev-start-howto-vm-nodejs.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1616 From private repo
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/new-akshciclusternetwork.md
  azure-stack/aks-hci/new-akshcinetworksetting.md
  azure-stack/aks-hci/new-akshcinodepool.md
  azure-stack/aks-hci/set-akshciconfig.md
  azure-stack/aks-hci/use-node-pools.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/user/azure-stack-vpn-s2s.md
  azure-stack/user/media/azure-stack-vpn-s2s/site-to-site.svg
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1617 From private repo
  .openpublishing.redirection.json
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1625 From private repo
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc
