Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-07, with the labels that each got.

#1541 From private repo
  azure-stack/operator/give-app-access-to-resources.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1543 From private repo
  azure-stack/aks-hci/monitor-logging.md
  azure-stack/aks-hci/overview.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/operator/azure-stack-add-vm-image.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc

#1548 From private repo
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/kernel-soft-reboot.md
  azure-stack/hci/manage/preview-channel.md
  azure-stack/hci/toc.yml
  azure-stack/operator/hotfix-1-2102-28-89.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1551 From private repo
  azure-stack/hci/manage/processor-compatibility-mode.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-app-service-release-notes-update-eight.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-five.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-four.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-one.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-seven.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-six.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-three.md
  azure-stack/operator/azure-stack-app-service-release-notes-update-two.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11300.md
  azure-stack/operator/azure-stack-mysql-resource-provider-11330.md
  azure-stack/operator/azure-stack-sql-resource-provider-11300.md
  azure-stack/operator/azure-stack-sql-resource-provider-11330.md
  azure-stack/operator/give-app-access-to-resources.md
  azure-stack/operator/release-notes.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
Labels: do-not-merge

#1554 From private repo
  .openpublishing.redirection.json
Labels: do-not-merge, review-team-triage

#1549 Update expected hash for OAW 6B refresh
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1552 Update cluster-set.md
  azure-stack/hci/deploy/cluster-set.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hci/subsvc, azure-stack/svc, ready-to-merge

#1556 From private repo
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/deploy/cluster-set.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/includes/known-issue-az-install-3.md
  azure-stack/includes/note-powershell-adfs.md
  azure-stack/index.yml
  azure-stack/mdc/TOC.yml
  azure-stack/mdc/azure-stack-version-profiles-azurecli-2-tzl.md
  azure-stack/operator/azure-stack-add-users-adfs.md
  azure-stack/operator/azure-stack-aks-engine.md
  azure-stack/operator/azure-stack-identity-overview.md
  azure-stack/operator/azure-stack-integrate-identity.md
  azure-stack/operator/azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-solution-template-kubernetes-cluster-add.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/ruggedized/TOC.yml
  azure-stack/ruggedized/user/azure-stack-version-profiles-azure-cli-2-tzl.md
  azure-stack/user/azure-stack-key-vault-store-credentials.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-deploy-cluster.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-set-up.md
  azure-stack/user/azure-stack-manage-permissions.md
  azure-stack/user/azure-stack-powershell-user-docker.md
  azure-stack/user/azure-stack-sql-server-vm-considerations.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
Labels: do-not-merge

#1557 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/toc.yml
  azure-stack/aks-hci/tutorial-kubernetes-upgrade-cluster.md
  azure-stack/aks-hci/update-aks-hci-concepts.md
  azure-stack/aks-hci/update-akshci-host-powershell.md
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/aks-hci/upgrade-kubernetes.md
  azure-stack/aks-hci/upgrade.md
  azure-stack/hci/concepts/stretched-clusters.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1558 Update container-storage-interface-disks.md
  azure-stack/aks-hci/container-storage-interface-disks.md
Labels: Change sent to author, aks-hci/subsvc, aq-pr-triaged, azure-stack/svc, ready-to-merge

#1563 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/concepts/deploy-persistent-memory.md
  azure-stack/hci/concepts/persistent-memory-health.md
  azure-stack/hci/toc.yml
Labels: do-not-merge

#1564 From private repo
  azure-stack/hci/deploy/deploy-manage-azure-stack-hci.md
  azure-stack/hci/manage/processor-compatibility-mode.md
  azure-stack/hci/overview.md
  azure-stack/hci/release-information.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1565 From private repo
  azure-stack/hci/deploy/validate.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1483 Azure Developer support plan for Azure Stack HCI
  azure-stack/hci/manage/get-support.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1566 From private repo
  azure-stack/mdc/TOC.yml
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-billing-faq.md
  azure-stack/operator/app-service-billing-faq.yml
  azure-stack/operator/azure-stack-updates.md
  azure-stack/ruggedized/TOC.yml
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1567 From private repo
  azure-stack/hci/manage/witness.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2005-42-126.md
  azure-stack/operator/hotfix-1-2008-40-148.md
  azure-stack/operator/release-notes.md
  azure-stack/ruggedized/customer-replaceable-unit/azure-stack-hub-hardware-diagram.md
  azure-stack/ruggedized/customer-replaceable-unit/media/hardware-diagram-front.png
  azure-stack/ruggedized/customer-replaceable-unit/media/hardware-diagram-rear.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-58.png
  azure-stack/ruggedized/customer-replaceable-unit/media/image-59.png
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1568 From private repo
  azure-stack/hci/manage/processor-compatibility-mode.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1569 From private repo
  azure-stack/includes/event-hubs-hub-update-banner.md
  azure-stack/includes/resource-provider-va-rotate-secrets-prereqs.md
  azure-stack/operator/event-hubs-rp-release-1-2012-10.md
  azure-stack/operator/event-hubs-rp-release-1-2012-20.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1560 Marketplace differences based on Cloud environment
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: Change sent to author, aq-pr-triaged, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1570 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/manage/cluster-powershell.md
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/monitor-azure-portal/select-option-1.png
  azure-stack/hci/manage/media/monitor-azure-portal/select-troubleshooting-scenario.png
  azure-stack/hci/manage/media/monitor-azure-portal/timezone-issue-1.png
  azure-stack/hci/manage/media/monitor-azure-portal/timezone-issue-2.png
  azure-stack/hci/manage/monitor-azure-portal.md
  azure-stack/user/azure-stack-network-howto-backup-commvault.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-net.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1571 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/deploy/deployment-overview.md
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/create-volumes.md
  azure-stack/hci/toc.yml
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1572 From private repo
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/configure-firewalls.md
  azure-stack/hci/manage/vm-powershell.md
  azure-stack/hci/manage/vm.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1573 From private repo
  azure-stack/hci/index.yml
  azure-stack/hci/release-information.md
  azure-stack/includes/event-hubs-secret-rotation-related-known-issues.md
  azure-stack/operator/azure-stack-create-and-publish-marketplace-item.md
  azure-stack/operator/event-hubs-rp-release-1-2012-10.md
  azure-stack/operator/event-hubs-rp-release-1-2012-20.md
  azure-stack/operator/media/azure-stack-integrate-dns/integrate-dns-01.svg
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1574 From private repo
  azure-stack/hci/manage/load-balancers.md
  azure-stack/hci/manage/media/software-load-balancer/backend-pool.png
  azure-stack/hci/manage/media/software-load-balancer/delete-load-balancer.png
  azure-stack/hci/manage/media/software-load-balancer/front-ip-balancer.png
  azure-stack/hci/manage/media/software-load-balancer/health-probe.png
  azure-stack/hci/manage/media/software-load-balancer/inbound-rules.png
  azure-stack/hci/manage/media/software-load-balancer/load-balancer-details.png
  azure-stack/hci/manage/media/software-load-balancer/new-load-balancer.png
  azure-stack/hci/manage/media/software-load-balancer/outbound-rules.png
  azure-stack/hci/manage/media/software-load-balancer/public-ip-balancer.png
  azure-stack/hci/manage/media/software-load-balancer/slb-rule.png
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-add-vm-image.md
  azure-stack/operator/azure-stack-tenant-resource-usage-api.md
  azure-stack/operator/azure-stack-usage-issues.md
  azure-stack/ruggedized/azure-stack-capacity-planning-overview.md
  azure-stack/ruggedized/operator/registration-tzl.md
  azure-stack/ruggedized/ruggedized-overview.md
  azure-stack/ruggedized/site-readiness.md
  azure-stack/user/azure-stack-compute-overview.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1575 From private repo
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/pricing.md
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/troubleshoot-windows-admin-center.md
  azure-stack/hci/manage/create-volumes.md
Labels: do-not-merge

#1576 From private repo
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/deploy/validate.md
  azure-stack/operator/azure-stack-compute-add-scalesets.md
  azure-stack/operator/azure-stack-redhat-create-upload-vhd.md
  azure-stack/user/azure-stack-install-visual-studio.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1577 From private repo
  azure-stack/user/gpu-vms-about.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1579 From private repo
  azure-stack/hci/manage/create-volumes.md
  azure-stack/operator/release-notes.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1580 From private repo
  azure-stack/aks-hci/media/wac-upgrade/available-module-version.png
  azure-stack/aks-hci/media/wac-upgrade/incompatible-version.png
  azure-stack/aks-hci/media/wac-upgrade/installed-extensions.png
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/user/azure-stack-validate-templates.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-java.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles-python.md
  azure-stack/user/azure-stack-version-profiles-ruby.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1583 From private repo
  azure-stack/hci/index.yml
  azure-stack/operator/azure-stack-apply-updates.md
  azure-stack/operator/media/azure-stack-apply-updates/dashboard-expanded.png
  azure-stack/operator/media/azure-stack-apply-updates/dashboard.png
  azure-stack/operator/media/azure-stack-apply-updates/image2.png
  azure-stack/operator/media/azure-stack-apply-updates/image4.png
  azure-stack/operator/media/azure-stack-apply-updates/image5.png
  azure-stack/operator/media/azure-stack-apply-updates/updates-2-expanded.png
  azure-stack/operator/media/azure-stack-apply-updates/updates-2.png
  azure-stack/operator/media/azure-stack-apply-updates/updates-3-expanded.png
  azure-stack/operator/media/azure-stack-apply-updates/updates-3.png
  azure-stack/operator/site-recovery-failback.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1584 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/media/wac-upgrade/available-module-version.png
  azure-stack/aks-hci/media/wac-upgrade/incompatible-version.png
  azure-stack/aks-hci/troubleshoot-known-issues.md
  azure-stack/hci/manage/azure-monitor.md
  azure-stack/hci/manage/thin-provisioning.md
  azure-stack/hci/toc.yml
  azure-stack/includes/event-hubs-hub-update-banner.md
  azure-stack/includes/event-hubs-secret-rotation-related-known-issues.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-linux.md
  azure-stack/operator/event-hubs-rp-release-1-2012-20.md
  azure-stack/operator/event-hubs-rp-release-1-2102-00.md
  azure-stack/user/azure-stack-connect-vpn.md
  azure-stack/user/azure-stack-rest-api-use.md
  azure-stack/user/network-virtual-appliance.md
  azure-stack/user/site-to-site.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1585 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/manage/health-service-actions.md
  azure-stack/hci/manage/health-service-overview.md
  azure-stack/hci/manage/health-service-settings.md
  azure-stack/hci/toc.yml
  azure-stack/operator/azure-stack-datacenter-integration.md
Labels: Change sent to author, azure-stack-hci/subsvc, azure-stack/svc, do-not-merge

#1587 From private repo
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/media/wac-upgrade/installed-extensions.png
  azure-stack/aks-hci/update-akshci-host-windows-admin-center.md
  azure-stack/hci/manage/sdn-express.md
Labels: Change sent to author, aks-hci/subsvc, azure-stack/svc, do-not-merge

#1589 From private repo
  azure-stack/operator/azure-stack-manage-storage-shares.md
  azure-stack/user/troubleshoot-vm-known-issues.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge

#1590 OAW 7B Expected Hash & Adding TimeServer parameter
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, ready-to-merge

#1591 From private repo
  azure-stack/includes/known-issue-az-install-4.md
  azure-stack/operator/azure-stack-powershell-install.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack-hub/subsvc, azure-stack/svc, do-not-merge
