Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2021-12, with the labels that each got.

#1754 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/create-kubernetes-cluster.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/setup.md
  azure-stack/hci/deploy/media/register/register-with-azure.png
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/azure-stack-manage-portals.md
  azure-stack/operator/hotfix-1-2102-30-111.md
  azure-stack/operator/release-notes.md
  azure-stack/partner/azure-stack-vaas-local-agent.md
  azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
  azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
  azure-stack/user/azure-stack-quick-create-vm-windows-cli.md
  azure-stack/user/azure-stack-quick-create-vm-windows-powershell.md
  azure-stack/user/azure-stack-quick-linux-portal.md
  azure-stack/user/azure-stack-quick-windows-portal.md
  azure-stack/user/event-hubs-quickstart-cluster-portal.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1193 Update Registration Validation with 2011
  azure-stack/operator/azure-stack-validate-registration.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1761 From private repo
  azure-stack/aks-hci/known-issues-installation.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
  azure-stack/aks-hci/supported-kubernetes-versions.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1762 From private repo
  azure-stack/includes/sql-mysql-rp-limit-access.md
  azure-stack/operator/azure-stack-mysql-resource-provider-20000.md
  azure-stack/operator/azure-stack-mysql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-mysql-resource-provider-update.md
  azure-stack/operator/azure-stack-sql-resource-provider-20000.md
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
  azure-stack/operator/azure-stack-sql-resource-provider-update.md
Labels: do-not-merge

#1755 Update to the document
  azure-stack/hci/manage/azure-site-recovery.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1701 Update device-return.md
  azure-stack/ruggedized/device-return.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged

#1403 Add cleanup instructions
  azure-stack/aks-hci/ad-sso.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc

#1636 Update update-akshci-host-powershell.md
  azure-stack/aks-hci/update-akshci-host-powershell.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc

#1767 From private repo
  azure-stack/aks-hci/connect-to-arc.md
  azure-stack/aks-hci/kubernetes-walkthrough-powershell-proxy.md
  azure-stack/hci/concepts/persistent-memory-health.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/includes/known-issue-aks-1.md
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/relnotearchive/release-notes.md
  azure-stack/user/TOC.yml
  azure-stack/user/aks-known-issues.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/index.yml
Labels: do-not-merge

#1769 Fixed link to PKI info
  azure-stack/operator/container-registries-install.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1770 Updated scripts
  azure-stack/operator/container-registries-install.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1771 Update asdk-download.md
  azure-stack/asdk/asdk-download.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub-asdk/subsvc

#1772 From private repo
  azure-stack/aks-hci/supported-kubernetes-versions.md
  azure-stack/includes/app-service-hub-update-banner.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/app-service-release-notes-2020-Q3.md
  azure-stack/operator/app-service-release-notes-2021-Q1.md
  azure-stack/operator/app-service-release-notes-2021-Q3.md
  azure-stack/operator/azure-stack-app-service-deploy.md
  azure-stack/operator/azure-stack-integrate-endpoints.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1758 Create witness.md
  azure-stack/hci/manage/witness.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1775 From private repo
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2102-30-116.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-profiles-azure-resource-manager-versions.md
  azure-stack/user/azure-stack-version-profile-nodejs.md
  azure-stack/user/azure-stack-version-profiles-go.md
  azure-stack/user/azure-stack-version-profiles-net.md
  azure-stack/user/azure-stack-version-profiles.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1778 From private repo
  azure-stack/operator/event-hubs-rp-remove.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1779 From private repo
  azure-stack/hci/release-information.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1443 Update troubleshoot-credssp.md
  azure-stack/hci/manage/troubleshoot-credssp.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1782 From private repo
  azure-stack/hci/manage/azure-benefits.md
  azure-stack/hci/manage/vm-activate.md
  azure-stack/includes/known-issue-az-install-3.md
  azure-stack/operator/event-hubs-rp-capacity-planning.md
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/operator/release-notes.md
  azure-stack/user/azure-stack-vm-considerations.md
  azure-stack/user/azure-stack-vm-sizes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1784 From private repo
  azure-stack/hci/manage/azure-benefits.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1787 From private repo
  azure-stack/operator/powershell-install-az-module.md
  azure-stack/user/azure-stack-vm-sizes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc
