Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-10, with the labels that each got.

#2035 Update register-with-azure.md
  azure-stack/hci/deploy/register-with-azure.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2037 Remove kubernetes sandbox
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/sandbox.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, needs-human-review

#2043 Use AZURE_STORAGE_ACCOUNT_NAME to avoid confusion
  azure-stack/aks-hci/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2047 Update thin-provisioning-conversion.md
  azure-stack/hci/manage/thin-provisioning-conversion.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, needs-human-review

#2057 Update emergency-vm-access.md
  azure-stack/user/emergency-vm-access.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge
