Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-02, with the labels that each got.

#1845 From private repo
  azure-stack/hci/concepts/physical-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1847 From private repo
  .openpublishing.redirection.json
  azure-stack/aks-hci/ad-sso.md
  azure-stack/aks-hci/backup-workload-cluster.md
  azure-stack/aks-hci/concepts-security.md
  azure-stack/aks-hci/container-security.md
  azure-stack/aks-hci/create-daemonsets.md
  azure-stack/aks-hci/create-deployments.md
  azure-stack/aks-hci/create-ingress-controller.md
  azure-stack/aks-hci/create-replicasets.md
  azure-stack/aks-hci/create-statefulset.md
  azure-stack/aks-hci/deploy-azure-container-registry.md
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/reference/ps/new-akshcinetworksetting.md
  azure-stack/aks-hci/reference/ps/set-akshciconfig.md
  azure-stack/aks-hci/secrets-store-csi-driver.md
  azure-stack/aks-hci/set-proxy-settings.md
  azure-stack/aks-hci/stop-start-cluster.md
  azure-stack/aks-hci/view-logs.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
  azure-stack/user/aks-how-to-push-an-app-cli.md
  azure-stack/user/aks-troubleshoot.md
Labels: do-not-merge

#1846 Remove OrangeHRM
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/orangehrm.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1849 Update azure-stack-vaas-release-notes.md
  azure-stack/partner/azure-stack-vaas-release-notes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1851 From private repo
  azure-stack/aks-hci/deploy-java-liberty-app.md
  azure-stack/aks-hci/kubernetes-helm.md
  azure-stack/aks-hci/openfaas.md
  azure-stack/operator/azure-stack-rotate-secrets.md
  azure-stack/operator/azure-stack-security-foundations.md
  azure-stack/ruggedized/oem-release-notes-rca.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1852 From private repo
  azure-stack/aks-hci/backup-workload-cluster.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1853 From private repo
  azure-stack/aks-hci/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1855 From private repo
  .openpublishing.redirection.json
  azure-stack/hci/concepts/compare-azure-stack-hub.md
  azure-stack/hci/concepts/software-defined-networking.md
  azure-stack/hci/deploy/create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/validate.md
  azure-stack/operator/TOC.yml
  azure-stack/operator/hotfix-1-2108-2-73.md
  azure-stack/operator/known-issues.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1856 From private repo
  azure-stack/aks-hci/concepts-support.md
  azure-stack/aks-hci/known-issues-installation.md
  azure-stack/aks-hci/known-issues-upgrade.md
  azure-stack/hci/concepts/choose-drives.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1397 Fix erratum
  azure-stack/aks-hci/ad-sso.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc

#1858 From private repo
  azure-stack/aks-hci/known-issues-security.md
  azure-stack/aks-hci/known-issues.md
  azure-stack/aks-hci/set-proxy-settings.md
  azure-stack/operator/service-plan-offer-subscription-overview.md
  azure-stack/user/azure-stack-kubernetes-aks-engine-overview.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1859 Removing a parameter that is not needed anymore
  azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1860 Update set-proxy-settings.md
  azure-stack/aks-hci/set-proxy-settings.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#1863 From private repo
  azure-stack/aks-hci/system-requirements.md
  azure-stack/hci/release-information.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1865 From private repo
  azure-stack/aks-hci/deploy-azure-container-registry.md
  azure-stack/aks-hci/known-issues-installation.md
  azure-stack/user/emergency-vm-access.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1867 From private repo
  azure-stack/aks-hci/reference/ps/new-akshciproxysetting.md
  azure-stack/operator/azure-stack-servicing-policy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc

#1872 fix typo OSCP to OCSP
  azure-stack/operator/azure-stack-disconnected-deployment.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#1877 Fixing typo's
  azure-stack/hci/concepts/compare-azure-stack-hub.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc

#1835 Update older Java SDK samples to point to consolidated sample repository
  azure-stack/user/azure-stack-version-profiles-java.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1883 OAW2B refresh
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1885 correct typos
  azure-stack/aks-hci/tutorial-kubernetes-prepare-application.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc
