Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-11, with the labels that each got.

#2067 Update create-pods.md
  AKS-Hybrid/create-pods.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#2066 Change documentation to Allow Cluster Administrator network firewall …
  azure-stack/hci/concepts/firewall-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2070 Detail quota-related issues in container-registry-troubleshoot.md.
  azure-stack/user/container-registry-troubleshoot.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2072 Added a note to advising to maintain same BIOS Config
  azure-stack/hci/deploy/register-with-azure.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2073 Update ad-sso.md
  AKS-Hybrid/ad-sso.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#2075 Update collect-diagnostic-data.md
  azure-stack/hci/manage/collect-diagnostic-data.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#1976 Fix #1975
  azure-stack/hci/concepts/nested-virtualization.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2082 Update deploy-arc-resource-bridge-using-command-line.md
  azure-stack/hci/manage/deploy-arc-resource-bridge-using-command-line.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2086 Remove Mahara
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/mahara.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, needs-human-review

#2088 Updating secret.yaml to avoid confusion
  AKS-Hybrid/prepare-windows-nodes-gmsa.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge
