Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-07, with the labels that each got.

#1968 Fix code blocks
  azure-stack/hci/deploy/create-cluster-powershell.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1977 Fix cmdlet name as it is missing a verb
  azure-stack/includes/get-pki-certs-csrs-new-cn-only.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged

#1850 Resiliency reserve and available memory for VMs clarification
  azure-stack/operator/azure-stack-capacity-planning-compute.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1972 adding warning note for QM SA Lifetime for site-to-site vpns
  azure-stack/user/azure-stack-vpn-s2s.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc
