Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-08, with the labels that each got.

#1986 Fix parameter name
  azure-stack/aks-hci/software-defined-networking.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc

#1983 Update azure-stack-vaas-set-up-resources.md
  azure-stack/partner/azure-stack-vaas-set-up-resources.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1990 Remove ReportServer Enterprise
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/reportserverenterprise.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1992 Typo "GitHub action workflow"→"GitHub Actions workflow"
  azure-stack/user/ci-cd-github-action-webapp.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1995 Fix link: Arc for servers network requirements
  azure-stack/aks-hci/system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc

#1996 Fix: "on" to "or"
  azure-stack/aks-hci/kubernetes-walkthrough-powershell.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#1997 Remove unnecessary last "s"
  azure-stack/aks-hci/multiple-load-balancers.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#1998 Fix port number for HTTP
  azure-stack/hci/concepts/firewall-requirements.md
  azure-stack/includes/recommended-urls-table.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc

#2000 Line 143, corrected command
  azure-stack/aks-hci/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#1999 Fix double quote characters in JSON
  azure-stack/hci/concepts/firewall-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2003 Fix command
  azure-stack/aks-hci/secrets-store-csi-driver.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#2002 Helm chart repository URL has changed
  azure-stack/aks-hci/secrets-store-csi-driver.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc

#2008 Remove edX since this product has been deprecated by Bitnami
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/codedx.png
  azure-stack/operator/media/azure-stack-marketplace-azure-items/openedx.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#2012 Update kubernetes-aks-engine-release-notes.md
  azure-stack/user/kubernetes-aks-engine-release-notes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc
