Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-06, with the labels that each got.

#1953 Update single-server.md
  azure-stack/hci/deploy/single-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1960 Example code has extra 's' in cmdlet name
  azure-stack/aks-hci/configure-custom-load-balancer.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc

#1963 Update deploy-arc-resource-bridge-using-command-line.md
  azure-stack/hci/manage/deploy-arc-resource-bridge-using-command-line.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc
