Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2022-03, with the labels that each got.

#1886 Remove horde
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/hordegroupwarewebmail.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1890 Update OAW 2B package expected hash value
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1895 Update azure-stack-get-pki-certs.md
  azure-stack/operator/azure-stack-get-pki-certs.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc

#1900 Cmdlet name is incorrect in Syntax section
  azure-stack/aks-hci/reference/ps/repair-akshcicerts.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc

#1901 Update azure-arc-enabled-virtual-machines.md
  azure-stack/hci/manage/azure-arc-enabled-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc

#1912 Remove Bitnami TestLink
  azure-stack/operator/azure-stack-marketplace-azure-items.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc

#1917 Remove Trac
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/trac.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc
