Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-11, with the labels that each got.

#2680 Update OAW package hash for 2306 release
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2637 ReFS deduplication and compression
  azure-stack/hci/manage/media/refs-deduplication-compression/select-refs-dedup-and-compression-settings.png
  azure-stack/hci/manage/media/refs-deduplication-compression/volume-properties.png
  azure-stack/hci/manage/refs-deduplication-and-compression.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2656 Added BitLocker updates from Carlos
  azure-stack/hci/concepts/secure-baseline.md
  azure-stack/hci/concepts/security-bitlocker.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2659 Analyze cluster metrics
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/cluster-metrics.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/create-alert-rule-action-tab.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/create-alert-rule-alerts-logic-section.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/create-alert-rule-details-tab.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/metrics-page.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/monitor-metrics.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/new-alert-rule.png
  azure-stack/hci/manage/media/monitor-cluster-with-metrics/select-a-signal.png
  azure-stack/hci/manage/monitor-cluster-with-metrics.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2664 Observability
  azure-stack/hci/concepts/media/observability/log-collection.png
  azure-stack/hci/concepts/media/observability/observability-components.png
  azure-stack/hci/concepts/observability.md
  azure-stack/hci/manage/get-support-for-deployment-issues.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2666 PR for new security article, artwork, and new TOC node
  azure-stack/hci/concepts/media/other-security-features/integration-of-azure-stack-hci-with-external-siem.png
  azure-stack/hci/concepts/other-security-features.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2672 Workbooks
  azure-stack/hci/manage/media/monitor-features/disable-feature-monitoring.png
  azure-stack/hci/manage/media/monitor-features/enable-feature-monitoring.png
  azure-stack/hci/manage/media/monitor-features/feature-not-enabled.png
  azure-stack/hci/manage/media/monitor-features/got-it-button.png
  azure-stack/hci/manage/media/monitor-features/jobs-tab.png
  azure-stack/hci/manage/media/monitor-features/overview-tab.png
  azure-stack/hci/manage/media/monitor-features/performance-tab.png
  azure-stack/hci/manage/media/monitor-features/refs-event-channel.png
  azure-stack/hci/manage/media/monitor-features/savings-tab.png
  azure-stack/hci/manage/monitor-features.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2690 Updates to the Monitor node entries
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#2694 Update azure-stack-manage-vm-protect.md
  azure-stack/user/azure-stack-manage-vm-protect.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2693 Updated screenshots
  azure-stack/hci/manage/media/monitor-features/got-it-button.png
  azure-stack/hci/manage/media/monitor-features/jobs-tab.png
  azure-stack/hci/manage/media/monitor-features/performance-tab.png
  azure-stack/hci/manage/media/monitor-features/savings-tab.png
  azure-stack/hci/manage/monitor-features.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2698 Edits for miscellaneous improvements
  azure-stack/hci/concepts/observability.md
  azure-stack/hci/deploy/deploy-via-portal.md
  azure-stack/hci/deploy/deployment-introduction.md
  azure-stack/hci/manage/refs-deduplication-and-compression.md
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2699 Updated FAQ with changes from Alpa, plus clarified version support det…
  azure-stack/hci/manage/azure-arc-vms-faq.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2709 Correction: KB5025230 displayed in the wrong position
  azure-stack/hci/release-information.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2714 removed accidental path description
  AKS-Hybrid/aks-edge-howto-use-storage-local-path.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2716 add PhysicalMachineNames to AD Checker. Remove -allowprerlease to mod…
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2661 Update hci-switch-wdac-policy-mode.md
  azure-stack/includes/hci-switch-wdac-policy-mode.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged

#2720 Updating docs to new amlfs client version
  azure-managed-lustre/includes/client-install-hpc-alma-86.md
  azure-managed-lustre/includes/client-install-rhel-7.md
  azure-managed-lustre/includes/client-install-rhel-8.md
  azure-managed-lustre/includes/client-install-ubuntu-18.md
  azure-managed-lustre/includes/client-install-ubuntu-20.md
  azure-managed-lustre/includes/client-install-ubuntu-22.md
  azure-managed-lustre/use-csi-driver-kubernetes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-managed-lustre/subsvc
