Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-06, with the labels that each got.

#2409 Update work-with-horizontal-autoscaler.md
  AKS-Hybrid/work-with-horizontal-autoscaler.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2411 Update blob-integration.md
  azure-managed-lustre/blob-integration.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-managed-lustre/subsvc

#2286 Update host-network-requirements.md
  azure-stack/hci/concepts/host-network-requirements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2416 Note about HTTPS inspection
  azure-stack/hci/concepts/firewall-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2408 Storage Spaces and pools edits
  azure-stack/hci/manage/cluster.md
  azure-stack/hci/manage/media/manage-cluster/storage-bus-layer.png
  azure-stack/hci/manage/media/manage-cluster/storage-pool.png
  azure-stack/hci/manage/media/storage-repair-speed/change-storage-repair-speed.png
  azure-stack/hci/manage/storage-repair-speed.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2414 Troubleshoot SDN deployment
  azure-stack/hci/deploy/sdn-wizard.md
  azure-stack/hci/manage/troubleshoot-sdn-deployment.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2389 Update site-recovery-deploy-source.md
  azure-stack/operator/site-recovery-deploy-source.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2412 Update app-service-release-notes-2302.md
  azure-stack/operator/app-service-release-notes-2302.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2422 Updates to the Insights article
  azure-stack/hci/manage/media/monitor-hci-single/data-collection-rule.png
  azure-stack/hci/manage/monitor-hci-single.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2430 Re-import certificates
  azure-stack/hci/manage/update-network-controller-certificates.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2432 Remote support content updates
  azure-stack/hci/manage/get-remote-support.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2436 Replaced Arc RB mention with Arc VM management
  azure-stack/hci/concepts/system-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2442 Update kubernetes-aks-engine-custom-vnet.md
  azure-stack/user/kubernetes-aks-engine-custom-vnet.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2450 Update work-with-autoscaler-profiles.md
  AKS-Hybrid/work-with-autoscaler-profiles.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2403 Arc integration validator
  azure-stack/hci/manage/media/environment-checker/arc-integration-validator-sample-failed.png
  azure-stack/hci/manage/media/environment-checker/arc-integration-validator-sample-passed.png
  azure-stack/hci/manage/use-environment-checker.md
  azure-stack/includes/hci-environment-checker-sp.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2447 Renew SDN infrastructure nodes certificates
  azure-stack/hci/manage/update-sdn-infrastructure-certificates.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2464 Update deploy-aks-service-hci.md
  AKS-Hybrid/deploy-aks-service-hci.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2466 Updated article title
  azure-stack/hci/manage/update-network-controller-certificates.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2471 Updated screenshot under the initial config step
  azure-stack/hci/deploy/deployment-tool-new-file.md
  azure-stack/hci/deploy/media/deployment-tool/new-file/deploy-new-step-1-authentication-code.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, needs-human-review

#2426 Configure proxy settings
  azure-stack/hci/concepts/firewall-requirements.md
  azure-stack/hci/deploy/register-with-azure.md
  azure-stack/hci/manage/configure-proxy-settings.md
  azure-stack/hci/manage/media/configure-proxy-settings/windows-admin-center-proxy.png
  azure-stack/hci/manage/witness.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2474 Note about UNC paths
  azure-stack/hci/deploy/sdn-wizard.md
  azure-stack/hci/manage/sdn-express.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2475 Added missing quotation mark in the cmd
  azure-stack/hci/manage/configure-proxy-settings.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge
