Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-05, with the labels that each got.

#2339 Update aks-edge-howto-connect-to-arc.md
  AKS-Hybrid/aks-edge-howto-connect-to-arc.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc

#2360 Update offline-download.md
  AKS-Hybrid/offline-download.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2366 Update release-notes.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2370 Update create-cluster-powershell.md
  azure-stack/hci/deploy/create-cluster-powershell.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2380 Update site-recovery-deploy.md
  azure-stack/operator/site-recovery-deploy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2387 Update aks-edge-concept-clusters-nodes.md
  AKS-Hybrid/aks-edge-concept-clusters-nodes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2388 Update site-recovery-deploy-target.md
  azure-stack/operator/site-recovery-deploy-target.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2379 Download the VHDX file
  azure-stack/hci/concepts/system-requirements.md
  azure-stack/hci/deploy/sdn-wizard.md
  azure-stack/hci/manage/sdn-express.md
  azure-stack/includes/hci-download-vhdx.md
  azure-stack/includes/media/sdn/download-vhdx.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2400 Update about OS language support in the SP docs--PR6
  azure-stack/hci/deploy/deployment-tool-set-up-first-server.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2392 Update about OS language support in the SP docs--PR1
  azure-stack/hci/whats-new.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2396 Update about OS language support in the SP docs--PR2
  azure-stack/hci/manage/whats-new-2303-preview.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2399 Update about OS language support in the SP docs--PR5
  azure-stack/hci/deploy/deployment-tool-prerequisites.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2398 Update about OS language support in the SP docs--PR4
  azure-stack/hci/deploy/deployment-tool-introduction.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2397 Update about OS language support in the SP docs--PR3
  azure-stack/hci/deploy/deployment-tool-install-os.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge
