Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-10, with the labels that each got.

#2605 Update plan-software-defined-networking-infrastructure.md
  azure-stack/hci/concepts/plan-software-defined-networking-infrastructure.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2601 Custom role updates
  azure-stack/hci/deploy/deployment-tool-set-up-first-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2613 Fixed formatting issue
  azure-stack/hci/deploy/deployment-tool-set-up-first-server.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2621 Refreshed and combined monitor cluster content
  .openpublishing.redirection.json
  azure-stack/hci/get-started.md
  azure-stack/hci/index.yml
  azure-stack/hci/manage/media/monitor-cluster/add-cluster.png
  azure-stack/hci/manage/media/monitor-cluster/choose-connection-type.png
  azure-stack/hci/manage/media/monitor-cluster/dashboard.png
  azure-stack/hci/manage/media/monitor-cluster/drives-inventory.png
  azure-stack/hci/manage/media/monitor-cluster/drives-summary.png
  azure-stack/hci/manage/media/monitor-cluster/performance-monitor-tool.png
  azure-stack/hci/manage/media/monitor-cluster/servers-inventory.png
  azure-stack/hci/manage/media/monitor-cluster/servers-summary.png
  azure-stack/hci/manage/media/monitor-cluster/virtual-switch-settings.png
  azure-stack/hci/manage/media/monitor-cluster/vms-inventory.png
  azure-stack/hci/manage/media/monitor-cluster/vms-summary.png
  azure-stack/hci/manage/media/monitor-cluster/volumes-inventory.png
  azure-stack/hci/manage/media/monitor-cluster/volumes-summary.png
  azure-stack/hci/manage/monitor-cluster.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/media/get-started/addcluster.png
  azure-stack/hci/media/get-started/chooseconnectiontype.png
  azure-stack/hci/media/get-started/dashboard-alerts.png
  azure-stack/hci/media/get-started/dashboard-performance.png
  azure-stack/hci/media/get-started/dashboard.png
  azure-stack/hci/media/get-started/drives-inventory.png
  azure-stack/hci/media/get-started/drives-summary.png
  azure-stack/hci/media/get-started/example-counter.png
  azure-stack/hci/media/get-started/high-latency-drive.png
  azure-stack/hci/media/get-started/high-latency-missing-disk.png
  azure-stack/hci/media/get-started/performance-monitor.png
  azure-stack/hci/media/get-started/servers-inventory.png
  azure-stack/hci/media/get-started/servers-summary.png
  azure-stack/hci/media/get-started/storage-usage.png
  azure-stack/hci/media/get-started/unused-drive.png
  azure-stack/hci/media/get-started/virtual-switch-settings.png
  azure-stack/hci/media/get-started/vms-inventory.png
  azure-stack/hci/media/get-started/vms-summary.png
  azure-stack/hci/media/get-started/volumes-inventory.png
  azure-stack/hci/media/get-started/volumes-summary.png
  azure-stack/hci/overview.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2622 Update aks-edge-howto-setup-nested-environment.md
  AKS-Hybrid/aks-edge-howto-setup-nested-environment.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2609 Edits based on single-server scenario testing
  azure-stack/hci/deploy/single-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2632 Update azure-benefits.md
  azure-stack/hci/manage/azure-benefits.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2646 Update azure-arc-vms-faq.yml
  azure-stack/hci/manage/azure-arc-vms-faq.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, needs-human-review

#2663 Updated applies to
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge
