Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-12, with the labels that each got.

#2725 Minor SDN updates
  azure-stack/hci/concepts/network-controller.md
  azure-stack/hci/manage/sdn-express.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2732 Update create-logical-networks.md
  azure-stack/hci/manage/create-logical-networks.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2706 Creating PR for new 23H2 article
  azure-stack/hci/manage/configure-proxy-settings-23h2.md
  azure-stack/hci/manage/configure-proxy-settings.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2769 Update aks-hci-network-system-requirements.md
  AKS-Hybrid/aks-hci-network-system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2734 New security article
  azure-stack/hci/..includes/hci-applies-to-supplemental-package-22h2.md
  azure-stack/hci/concepts/security-features.md
  azure-stack/hci/manage/manage-syslog-forwarding.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review
