Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-02, with the labels that each got.

#2163 Typo "udpate"→"update"
  azure-stack/operator/create-ui-definition.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2146 Working command to retrieve IPv4 DNS Servers
  AKS-Hybrid/aks-edge-deployment-config-json.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2174 Add argument -AcceptLicense when installing AksHci
  AKS-Hybrid/includes/install-akshci-ps.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#2175 Added ASDK note regarding no support for SQL RP
  azure-stack/operator/azure-stack-sql-resource-provider-deploy.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2102 Correction to feature name for SMB Bandwidth Limit
  azure-stack/hci/deploy/create-cluster-powershell.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2179 Update delete-vm.md
  azure-stack/user/delete-vm.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2191 Update troubleshoot-arc-enabled-vms.md
  azure-stack/hci/manage/troubleshoot-arc-enabled-vms.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, review-team-triage, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2131 Add digicert URLs to recommended list
  azure-stack/includes/hci-recommended-urls-table.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2215 Fix PowerShell Commands :eagle:
  azure-stack/hci/manage/update-network-controller-certificates.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2219 Update azure-stack-windows-server-faq-tzl.md
  azure-stack/ruggedized/operator/azure-stack-windows-server-faq-tzl.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2208 Fix the key of auto scaler profile configuration
  AKS-Hybrid/work-with-autoscaler-profiles.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#2223 Update azure-stack-windows-server-faq-tzl.yml
  azure-stack/mdc/operator/azure-stack-windows-server-faq-tzl.yml
Labels: azure-stack/svc, Change sent to author, ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review
