Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-08, with the labels that each got.

#2504 Assign a public IP to a VM
  azure-stack/hci/manage/assign-public-ip-to-vm.md
  azure-stack/hci/manage/media/assign-public-ip-address/assign-public-ip-address.png
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2519 Replaced screenshot
  azure-stack/hci/manage/assign-public-ip-to-vm.md
  azure-stack/hci/manage/media/assign-public-ip-address/assign-public-ip-address.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2523 Update docs to remove azurecni_stable workaround
  azure-managed-lustre/use-csi-driver-kubernetes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-managed-lustre/subsvc

#2517 Used conceptual tabs and made miscellaneous edits
  azure-stack/hci/manage/azure-enhanced-management-managed-identity.md
  azure-stack/hci/manage/vm-activate.md
  azure-stack/hci/manage/windows-server-azure-edition.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2527 Removed Windows Admin Center references from Arc VM docs
  azure-stack/hci/manage/azure-arc-vm-management-overview.md
  azure-stack/hci/manage/azure-arc-vm-management-prerequisites.md
  azure-stack/hci/manage/deploy-arc-resource-bridge-using-command-line.md
  azure-stack/hci/manage/uninstall-arc-resource-bridge.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2534 Main
  azure-stack/operator/site-recovery-deploy-target.md
  azure-stack/operator/site-recovery-deploy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc, needs-human-review

#2550 Updated Arc integration validator section
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2552 Note about username format
  azure-stack/hci/deploy/sdn-wizard.md
  azure-stack/hci/manage/sdn-express.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2503 Download OS
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/concepts/updates.md
  azure-stack/hci/deploy/deployment-tool-install-os.md
  azure-stack/hci/deploy/download-azure-stack-hci-software.md
  azure-stack/hci/deploy/media/download-azure-stack-hci-software/download-azure-stack-hci-page.png
  azure-stack/hci/deploy/media/download-azure-stack-hci-software/get-started-page-with-download-button.png
  azure-stack/hci/deploy/media/download-azure-stack-hci-software/search-azure-stack-hci.png
  azure-stack/hci/deploy/operating-system.md
  azure-stack/hci/deploy/tutorial-private-forest.md
  azure-stack/hci/get-started.md
  azure-stack/hci/overview.md
  azure-stack/hci/plan/choose-network-pattern.md
  azure-stack/hci/plan/single-server-ip-requirements.md
  azure-stack/hci/plan/two-node-decision-matrix.md
  azure-stack/hci/toc.yml
  azure-stack/hci/whats-new-in-hci-20h2.md
  azure-stack/hci/whats-new-in-hci-21h2.md
  azure-stack/includes/hci-deployment-tool-sp.md
  azure-stack/includes/hci-download-vhdx.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review
