Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-09, with the labels that each got.

#2582 Update multiple-load-balancers.md
  AKS-Hybrid/multiple-load-balancers.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2576 Update site-recovery-deploy.md
  azure-stack/operator/site-recovery-deploy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hub/subsvc

#2575 Volume resiliency note
  azure-stack/hci/manage/single-node-scale-out.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2532 Add uninstall example
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2587 Update azure-stack-network.md
  azure-stack/operator/azure-stack-network.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2588 Update deploy-aks-service-hci.md
  AKS-Hybrid/deploy-aks-service-hci.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2538 Update azure-site-recovery-capacity-planning.md
  azure-stack/operator/azure-site-recovery-capacity-planning.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2594 Updated applies to tag
  azure-stack/hci/manage/collect-logs.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2598 Update create-ingress-controller.md
  AKS-Hybrid/create-ingress-controller.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge
