Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2023-01, with the labels that each got.

#2108 Merge pull request #11661 from MicrosoftDocs/main
  AKS-Hybrid/reference/ps/set-akshciconfig.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2109 Update azure-stack-supported-os.md
  azure-stack/operator/azure-stack-supported-os.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2110 Update asdk-prepare-host.md
  azure-stack/asdk/asdk-prepare-host.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub-asdk/subsvc, qualifies-for-auto-merge

#2113 Clarifying domain for gMSA to avoid confusion
  AKS-Hybrid/prepare-windows-nodes-gmsa.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#2120 fix: incorrect variable name in Velero walkthrough
  AKS-Hybrid/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2125 Remove Bitnami images from Azure Stack docs
  azure-stack/operator/azure-stack-marketplace-azure-items.md
  azure-stack/operator/media/azure-stack-marketplace-azure-items/bitnami.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, needs-human-review

#2115 Az CLI certificate setup: compute sha1 hash using cer file
  azure-stack/asdk/asdk-cli.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub-asdk/subsvc, qualifies-for-auto-merge

#2137 Fix billing models for Get-AzsRegistrationToken cmdlet
  azure-stack/operator/azure-stack-registration.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2147 Typo "Azure Stack Hub HCI"→"Azure Stack HCI"
  azure-stack/hci/guided-quick-deploy-eval.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#2148 Update azure-stack-vaas-troubleshoot.md
  azure-stack/partner/azure-stack-vaas-troubleshoot.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2157 rm cmds which do not work well in remote support
  azure-stack/operator/remote-support.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2159 Changed k8s-extension creation flag
  azure-stack/hci/manage/deploy-arc-resource-bridge-using-command-line.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2160 Fix format and wrong RoleBinding subject kind
  AKS-Hybrid/ad-sso.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge
