Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-02, with the labels that each got.

#2846 Arc VM Feedback 01-29
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/partition-gpu.md
  azure-stack/hci/manage/processor-compatibility-mode.md
  azure-stack/hci/manage/use-gpu-with-clustered-vm.md
  azure-stack/hci/manage/vm-affinity.md
  azure-stack/hci/manage/vm-load-balancing.md
  azure-stack/hci/manage/vm-powershell.md
  azure-stack/hci/manage/vm.md
  azure-stack/includes/manage-arc-vm-2.md
  azure-stack/includes/manage-arc-vm.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2854 Arc VM Mgmt feedback 0201
  azure-stack/hci/manage/azure-arc-vm-management-overview.md
  azure-stack/hci/manage/azure-arc-vm-management-prerequisites.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2861 Update aks-create-clusters-cli.md
  AKS-Hybrid/aks-create-clusters-cli.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2863 Update meta author fields
  azure-stack/hci/deploy/branch-office-edge.md
  azure-stack/hci/deploy/sql-server.md
  azure-stack/hci/deploy/trusted-enterprise-virtualization.md
  azure-stack/hci/deploy/virtual-desktop-infrastructure.md
  azure-stack/hci/manage/monitor-hci-single.md
  azure-stack/hci/manage/replace-drives.md
  azure-stack/hci/manage/storage-repair-speed.md
  azure-stack/hci/manage/thin-provisioning-conversion.md
  azure-stack/hci/manage/upgrade-vm-windows-server-azure-edition.md
  azure-stack/hci/manage/use-csv-cache.md
  azure-stack/hci/manage/windows-server-azure-edition.md
  azure-stack/hci/plan/network-patterns-overview.md
  azure-stack/hci/plan/network-patterns-sdn-considerations.md
  azure-stack/hci/plan/single-server-components.md
  azure-stack/hci/plan/single-server-deployment.md
  azure-stack/hci/plan/single-server-ip-requirements.md
  azure-stack/hci/plan/two-node-components.md
  azure-stack/hci/plan/two-node-decision-matrix.md
  azure-stack/hci/plan/two-node-ip-requirements.md
  azure-stack/hci/plan/two-node-switched-converged.md
  azure-stack/hci/plan/two-node-switched-non-converged.md
  azure-stack/hci/plan/two-node-switchless-single-switch.md
  azure-stack/hci/plan/two-node-switchless-two-switches.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, needs-human-review

#2871 New and updated links.
  azure-stack/hci/concepts/security-features.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2873 Add PS note to register article
  azure-stack/hci/deploy/register-with-azure.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2878 Update index.md
  azure-stack/reference/pep/index.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, needs-human-review

#2884 Deploy>OS>add lightbox tags
  azure-stack/hci/deploy/operating-system.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2882 Deploy>cluster>media folder rename
  azure-stack/hci/deploy/create-cluster.md
  azure-stack/hci/deploy/media/create-cluster/create-cluster-atc-define-intents.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-atc-provide-network.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-atc-see-all-adaptor.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-atc-verify-adaptor.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-define-networks.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-management-adapters.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-network-controller.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-rdma.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-type.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-virtual-switches.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster-wizard.png
  azure-stack/hci/deploy/media/create-cluster/create-cluster.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2885 Deploy>validate>add lightbox tags
  azure-stack/hci/deploy/validate.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2893 Update OAW package hash for 2311 release
  azure-stack/operator/operator-access-workstation.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2778 Typo "a Azure Stack"→"an Azure Stack"
  azure-stack/ruggedized/integration-overview.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#2903 Add nested virtualization step
  azure-stack/hci/deploy/deployment-virtual.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2904 Update known-issues.md
  azure-stack/operator/known-issues.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2898 Rewrite of the CSI driver docs.
  azure-managed-lustre/amlfs-prerequisites.md
  azure-managed-lustre/use-csi-driver-kubernetes.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-managed-lustre/subsvc

#2887 New article for Azure Stack HCI dashboard.
  azure-stack/hci/concepts/azure-stack-hci-dashboard.md
  azure-stack/hci/concepts/media/azure-stack-hci-dashboard/azure-stack-hci-dashboard-alert-details.png
  azure-stack/hci/concepts/media/azure-stack-hci-dashboard/azure-stack-hci-dashboard-list-view.png
  azure-stack/hci/concepts/media/azure-stack-hci-dashboard/azure-stack-hci-dashboard-overview.png
  azure-stack/hci/concepts/media/azure-stack-hci-dashboard/azure-stack-hci-dashboard-workload-details.png
  azure-stack/hci/concepts/media/azure-stack-hci-dashboard/azure-stack-hci-dashboard-workloads.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2907 Cloud network considerations
  azure-stack/hci/concepts/cloud-network-considerations.md
  azure-stack/hci/concepts/media/cloud-network-considerations/network-decision-framework.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-1.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-2-summary.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-2.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-3-summary.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-3.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-4.png
  azure-stack/hci/concepts/media/cloud-network-considerations/step-5.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2909 Update firewall-requirements.md
  azure-stack/hci/concepts/firewall-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2933 Update aks-whats-new-23h2.md
  AKS-Hybrid/aks-whats-new-23h2.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2947 Update deployment-install-os.md
  azure-stack/hci/deploy/deployment-install-os.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2918 Update deploy-gpu-node-pool.md
  AKS-Hybrid/deploy-gpu-node-pool.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2922 updates for media references in manage -1.
  azure-stack/hci/manage/add-cluster.md
  azure-stack/hci/manage/add-server.md
  azure-stack/hci/manage/assign-public-ip-to-vm.md
  azure-stack/hci/manage/attach-gpu-to-linux-vm.md
  azure-stack/hci/manage/azure-benefits-esu.md
  azure-stack/hci/manage/azure-benefits.md
  azure-stack/hci/manage/azure-portal.md
  azure-stack/hci/manage/azure-site-recovery.md
  azure-stack/hci/manage/media/add-cluster/add-server.png
  azure-stack/hci/manage/media/add-cluster/remove-server.png
  azure-stack/hci/manage/media/assign-public-ip-to-vm/assign-public-ip-address.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2949 Updated syntax per SME request from Ram.
  azure-stack/hci/manage/trusted-launch-vm-import-key.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2919 updates for media references -5.
  azure-stack/hci/concepts/media/telemetry-and-diagnostics-overview/telemetry-diagnostics-extension-1.png
  azure-stack/hci/concepts/media/updates/feature-updates.png
  azure-stack/hci/concepts/telemetry-and-diagnostics-overview.md
  azure-stack/hci/concepts/understand-storage-resync.md
  azure-stack/hci/concepts/updates.md
  azure-stack/hci/concepts/utility-applications.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review
