Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-11, with the labels that each got.

#3392 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#3393 Removed references to SDN Express for 22H2 docs
  azure-stack/hci/manage/sdn-express.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-stack-hci/svc

#3394 Update known-issues.md
  azure-stack/operator/known-issues.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, azure-stack-hub/svc
