Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-03, with the labels that each got.

#2934 Enviro Checker media folder rename
  azure-stack/hci/manage/media/use-environment-checker/active-directory-validator-sample-failed.png
  azure-stack/hci/manage/media/use-environment-checker/active-directory-validator-sample-passed.png
  azure-stack/hci/manage/media/use-environment-checker/arc-integration-validator-sample-failed.png
  azure-stack/hci/manage/media/use-environment-checker/arc-integration-validator-sample-passed.png
  azure-stack/hci/manage/media/use-environment-checker/connectivity-validator-pass-thru-parameter.png
  azure-stack/hci/manage/media/use-environment-checker/connectivity-validator-sample-failed.png
  azure-stack/hci/manage/media/use-environment-checker/connectivity-validator-sample-passed.png
  azure-stack/hci/manage/media/use-environment-checker/error-connectivity-validation.png
  azure-stack/hci/manage/media/use-environment-checker/hardware-validator-sample-failed.png
  azure-stack/hci/manage/media/use-environment-checker/hardware-validator-sample-passed.png
  azure-stack/hci/manage/media/use-environment-checker/network-validator-sample-failed.png
  azure-stack/hci/manage/media/use-environment-checker/network-validator-sample-passed.png
  azure-stack/hci/manage/use-environment-checker.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2930 Network Controller media folder rename
  azure-stack/hci/manage/media/update-network-controller-certificates/screenshot-powershell-window-status.png
  azure-stack/hci/manage/media/update-network-controller-certificates/warning-after-certificates-generate.png
  azure-stack/hci/manage/update-network-controller-certificates.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2929 Trusted Launch media folder rename
  azure-stack/hci/manage/media/trusted-launch-vm-deploy/create-arc-vm-1.png
  azure-stack/hci/manage/media/trusted-launch-vm-deploy/create-arc-vm-2.png
  azure-stack/hci/manage/media/trusted-launch-vm-deploy/create-arc-vm-3.png
  azure-stack/hci/manage/trusted-launch-vm-deploy.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2938 VM Activate media folder rename + lightbox code
  azure-stack/hci/manage/media/vm-activate/apply-keys.gif
  azure-stack/hci/manage/media/vm-activate/avma-binding-process.png
  azure-stack/hci/manage/media/vm-activate/change.gif
  azure-stack/hci/manage/media/vm-activate/confirm-purchase.gif
  azure-stack/hci/manage/media/vm-activate/portal-purchase-expanded.png
  azure-stack/hci/manage/media/vm-activate/portal-purchase.png
  azure-stack/hci/manage/media/vm-activate/setup.gif
  azure-stack/hci/manage/media/vm-activate/vm-activate.png
  azure-stack/hci/manage/media/vm-activate/vm-activation-server.png
  azure-stack/hci/manage/media/vm-activate/windows-server-subscription.png
  azure-stack/hci/manage/vm-activate.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2939 Load Balancing add lightbox code
  azure-stack/hci/manage/vm-load-balancing.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2940 Manage VM media folder rename
  azure-stack/hci/manage/media/vm/host-metrics.png
  azure-stack/hci/manage/media/vm/new-vm.png
  azure-stack/hci/manage/media/vm/vm-affinity.png
  azure-stack/hci/manage/media/vm/vm-clone.png
  azure-stack/hci/manage/media/vm/vm-details.png
  azure-stack/hci/manage/media/vm/vm-domain-join.png
  azure-stack/hci/manage/media/vm/vm-export.png
  azure-stack/hci/manage/media/vm/vm-inventory.png
  azure-stack/hci/manage/media/vm/vm-more-azure.png
  azure-stack/hci/manage/media/vm/vm-more-import.png
  azure-stack/hci/manage/media/vm/vm-more-move.png
  azure-stack/hci/manage/media/vm/vm-move-storage.png
  azure-stack/hci/manage/media/vm/vm-settings-boot.png
  azure-stack/hci/manage/media/vm/vm-settings-checkout.png
  azure-stack/hci/manage/media/vm/vm-settings-checkpoint.png
  azure-stack/hci/manage/media/vm/vm-settings-disk.png
  azure-stack/hci/manage/media/vm/vm-settings-general.png
  azure-stack/hci/manage/media/vm/vm-settings-memory.png
  azure-stack/hci/manage/media/vm/vm-settings-network.png
  azure-stack/hci/manage/media/vm/vm-settings-processor.png
  azure-stack/hci/manage/media/vm/vm-settings-security.png
  azure-stack/hci/manage/vm.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2953 SW load balancer media folder rename
  azure-stack/hci/manage/media/troubleshoot-software-load-balancer/software-load-balancer-multiplexer-state.png
  azure-stack/hci/manage/troubleshoot-software-load-balancer.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2958 Update amlfs-lustre-client version to 2.15.4-42-gd6d405d.
  azure-managed-lustre/includes/client-install-hpc-alma-86.md
  azure-managed-lustre/includes/client-install-rhel-7.md
  azure-managed-lustre/includes/client-install-rhel-8.md
  azure-managed-lustre/includes/client-install-rhel-9.md
  azure-managed-lustre/includes/client-install-ubuntu-18.md
  azure-managed-lustre/includes/client-install-ubuntu-20.md
  azure-managed-lustre/includes/client-install-ubuntu-22.md
  azure-managed-lustre/includes/client-install-version-hpc-alma-86.md
  azure-managed-lustre/includes/client-install-version-rhel-7.md
  azure-managed-lustre/includes/client-install-version-rhel-8-9.md
  azure-managed-lustre/includes/client-install-version-ubuntu.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-managed-lustre/subsvc

#2941 Linux Sysprep media folder rename
  azure-stack/hci/manage/media/virtual-machine-image-linux-sysprep/ubuntu-virtual-machine-generation.png
  azure-stack/hci/manage/media/virtual-machine-image-linux-sysprep/ubuntu-virtual-machine-iso-option.png
  azure-stack/hci/manage/media/virtual-machine-image-linux-sysprep/ubuntu-virtual-machine-name.png
  azure-stack/hci/manage/media/virtual-machine-image-linux-sysprep/ubuntu-virtual-machine-secure-boot-disabled.png
  azure-stack/hci/manage/virtual-machine-image-linux-sysprep.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2917 Single node pattern link speed update
  azure-stack/hci/plan/single-server-deployment.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2914 updates for media references -3.
  azure-stack/hci/concepts/media/physical-network-requirements/switchless-connectivity.png
  azure-stack/hci/concepts/nested-resiliency.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/concepts/plan-volumes.md
  azure-stack/hci/concepts/quorum.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2868 Rename media folder - migrate
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/add-cluster-info-2.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/add-cluster-info.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/deployment-complete.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/download-source-appliance-2.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/download-target-appliance.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/enhanced-session-mode.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/enter-code-2.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/enter-code.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/generate-target-key.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/migrate-replicated-virtual-machine-1a.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/project-resources.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-1-basics.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-2-target.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-3-vm.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-4-target-2.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-4-target.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-5-compute.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-6-disks.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-7-review.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-77-review.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-discovered-servers.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-specify-intent.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replicate-start.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replication-screen.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/replications-page-2.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/source-os-download-iso.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/source-os-download-vhd.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/step-1-replicate.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/tab-basics.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/tab-review.png
  azure-stack/hci/migrate/media/migrate-hyperv-replicate/vcpu-settings.png
  azure-stack/hci/migrate/migrate-hyperv-replicate.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2966 Update deploy-gpu-node-pool.md
  AKS-Hybrid/deploy-gpu-node-pool.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2970 Update azure-stack-integrate-monitor.md
  azure-stack/operator/azure-stack-integrate-monitor.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2889 HCI Diagnostic Support Tool
  azure-stack/hci/manage/support-tools.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2916 updates for media references -4.
  azure-stack/hci/concepts/media/security-features/integration-of-azure-stack-hci-with-external-siem.png
  azure-stack/hci/concepts/media/software-load-balancer/slb-overview.png
  azure-stack/hci/concepts/media/software-load-balancer/slb-process.jpg
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/converged-full-stack.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/converged-minimal.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/customer-stories.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/efficiency-icon.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/fault-tolerance-icon.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/hyper-converged-minimal.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/manageability-icon.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/performance-icon.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/scalability-icon.png
  azure-stack/hci/concepts/media/storage-spaces-direct-overview/simplicity-icon.png
  azure-stack/hci/concepts/media/stretched-clusters/active-active-stretched-cluster.png
  azure-stack/hci/concepts/media/stretched-clusters/active-passive-stretched-cluster.png
  azure-stack/hci/concepts/security-features.md
  azure-stack/hci/concepts/software-load-balancer.md
  azure-stack/hci/concepts/storage-spaces-direct-overview.md
  azure-stack/hci/concepts/stretched-clusters.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2928 updates for media references in manage -4.
  azure-stack/hci/manage/manage-default-network-access-policies-virtual-machines.md
  azure-stack/hci/manage/manage-network-atc.md
  azure-stack/hci/manage/manage-volumes.md
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/add-to-monitoring.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/cluster-health.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/cluster-performance-cpu-latency.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/cluster-performance-iops-throughput.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/drive-health.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/export.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/get-started.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/grid-rows.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/overview.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/server-health.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/virtual-machine-state.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/virtual-machines.png
  azure-stack/hci/manage/media/monitor-hci-multi-23h2/volume-health.png
  azure-stack/hci/manage/media/refs-deduplication-and-compression/select-refs-deduplication-compression-settings.png
  azure-stack/hci/manage/media/refs-deduplication-and-compression/volume-properties.png
  azure-stack/hci/manage/media/register-windows-admin-center/add-redirect-uris.png
  azure-stack/hci/manage/media/register-windows-admin-center/connect-to-aad.png
  azure-stack/hci/manage/media/register-windows-admin-center/enter-code.png
  azure-stack/hci/manage/media/register-windows-admin-center/register-wac.png
  azure-stack/hci/manage/media/register-windows-admin-center/sign-in.png
  azure-stack/hci/manage/monitor-cluster.md
  azure-stack/hci/manage/monitor-hci-multi-23h2.md
  azure-stack/hci/manage/refs-deduplication-and-compression.md
  azure-stack/hci/manage/register-windows-admin-center.md
  azure-stack/hci/manage/repair-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2932 DC Firewall WAC media folder rename
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/apply-network-security-group-network-interface.png
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/apply-network-security-group-virtual-network.png
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/create-network-security-group-rules.png
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/create-network-security-group.png
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/delete-network-security-group.png
  azure-stack/hci/manage/media/use-datacenter-firewall-windows-admin-center/get-network-security-groups-list.png
  azure-stack/hci/manage/use-datacenter-firewall-windows-admin-center.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2937 Local Share media folder rename
  azure-stack/hci/manage/media/virtual-machine-image-local-share/add-vm-from-local-share.png
  azure-stack/hci/manage/media/virtual-machine-image-local-share/azure-arc-connected.png
  azure-stack/hci/manage/media/virtual-machine-image-local-share/create-an-image-create-button.png
  azure-stack/hci/manage/media/virtual-machine-image-local-share/create-an-image-from-local-share.png
  azure-stack/hci/manage/virtual-machine-image-local-share.md
  azure-stack/includes/hci-vm-image-prerequisites-local-share.md
  azure-stack/includes/media/hci-vm-image-prerequisites-local-share/azure-arc-connected.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2942 Storage Account media folder rename
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/add-image-from-azure-storage-account.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/added-vm-image.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/azure-arc-connected.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/create-an-image-create.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/create-an-image-storage-account-create.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/create-an-image-storage-account-review-create.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/deployment-in-progress.png
  azure-stack/hci/manage/media/virtual-machine-image-storage-account/failed-deployment.png
  azure-stack/hci/manage/virtual-machine-image-storage-account.md
  azure-stack/includes/hci-vm-image-prerequisites-storage-account.md
  azure-stack/includes/media/hci-vm-image-prerequisites-storage-account/azure-arc-connected.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2961 Update azure-site-recovery.md
  azure-stack/hci/manage/azure-site-recovery.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2976 Update deployment-prep-active-directory.md
  azure-stack/hci/deploy/deployment-prep-active-directory.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2911 updates for media references -2.
  azure-stack/hci/concepts/datacenter-firewall-overview.md
  azure-stack/hci/concepts/drive-symmetry-considerations.md
  azure-stack/hci/concepts/gateway-overview.md
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/media/datacenter-firewall-overview/overview-multitenant-firewall.png
  azure-stack/hci/concepts/media/gateway-overview/layer-3-forwarding-example.png
  azure-stack/hci/concepts/media/host-network-requirements/certified-for-windows-qualifications.png
  azure-stack/hci/concepts/media/host-network-requirements/four-node-cluster-1.png
  azure-stack/hci/concepts/media/host-network-requirements/four-node-cluster-2.png
  azure-stack/hci/concepts/media/host-network-requirements/stretched-cluster-example.png
  azure-stack/hci/concepts/media/host-network-requirements/stretched-cluster.png
  azure-stack/hci/concepts/media/host-network-requirements/switchless-connectivity.png
  azure-stack/hci/concepts/media/host-network-requirements/windows-certified.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2980 Added new troubleshooting section.
  azure-stack/hci/manage/manage-at-scale-dashboard.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2977 Deploy SDN via WAC for 23H2
  azure-stack/hci/deploy/sdn-wizard-23h2.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#2990 Arc server registration update
  azure-stack/hci/deploy/deployment-arc-register-server-permissions.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2973 Security updates for 23h2 - port from WS
  azure-stack/hci/security-update/hci-security-update-dec-2023.md
  azure-stack/hci/security-update/hci-security-update-feb-2024.md
  azure-stack/hci/security-update/hci-security-update-jan-2024.md
  azure-stack/hci/security-update/hci-security-update-nov-2023.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2992 Change networking Next Steps
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/physical-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2993 Update Applies to tag for networking patterns
  azure-stack/hci/plan/choose-network-pattern.md
  azure-stack/hci/plan/cloud-deployment-network-considerations.md
  azure-stack/hci/plan/network-patterns-overview.md
  azure-stack/hci/plan/network-patterns-sdn-considerations.md
  azure-stack/hci/plan/single-server-components.md
  azure-stack/hci/plan/single-server-deployment.md
  azure-stack/hci/plan/single-server-ip-requirements.md
  azure-stack/hci/plan/two-node-components.md
  azure-stack/hci/plan/two-node-decision-matrix.md
  azure-stack/hci/plan/two-node-ip-requirements.md
  azure-stack/hci/plan/two-node-switched-converged.md
  azure-stack/hci/plan/two-node-switched-non-converged.md
  azure-stack/hci/plan/two-node-switchless-single-switch.md
  azure-stack/hci/plan/two-node-switchless-two-switches.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2994 Change next steps for Compare WS
  azure-stack/hci/concepts/compare-windows-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3011 Correct the step index in prestage-cluster-service-host-create.md
  AKS-Hybrid/prestage-cluster-service-host-create.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc, qualifies-for-auto-merge

#3009 Private Link not supported
  azure-stack/hci/concepts/firewall-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2989 Stretched clusters note
  azure-stack/hci/concepts/compare-windows-server.md
  azure-stack/hci/concepts/firewall-requirements.md
  azure-stack/hci/concepts/host-network-requirements.md
  azure-stack/hci/concepts/physical-network-requirements.md
  azure-stack/hci/faq.yml
  azure-stack/hci/overview.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3023 Update scale-requirements.md
  AKS-Hybrid/scale-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#3012 FAQ update - remove WAC mention
  azure-stack/hci/faq.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review
