Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-09, with the labels that each got.

#3303 Add missing permission for custom role
  AKS-Hybrid/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#3264 Update utility-applications.md
  azure-stack/hci/concepts/utility-applications.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3331 Update K8/3 installer links for missing Windows node files
  AKS-Hybrid/aks-edge-howto-setup-machine.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#3322 Update deployment-introduction.md
  azure-stack/hci/deploy/deployment-introduction.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge
