Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-08, with the labels that each got.

#3271 Update about-upgrades-23h2.md
  azure-stack/hci/upgrade/about-upgrades-23h2.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3275 Update post-upgrade-steps.md
  azure-stack/hci/upgrade/post-upgrade-steps.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3278 Update install-solution-upgrade.md
  azure-stack/hci/upgrade/install-solution-upgrade.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc

#3273 Update upgrade-22h2-to-23h2-windows-admin-center.md
  azure-stack/hci/upgrade/upgrade-22h2-to-23h2-windows-admin-center.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3276 Update install-enable-network-atc.md
  azure-stack/hci/upgrade/install-enable-network-atc.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc

#3292 Fix kubernetes yaml indentation
  AKS-Hybrid/deploy-container-registry.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge
