Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-01, with the labels that each got.

#2777 Update index.yml (Typo "a Azure Stack"→"Azure Stack)
  azure-stack/user/index.yml
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#2780 Update aks-networks.md
  AKS-Hybrid/aks-networks.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#2739 PR for new 'manage-secure-baseline' article
  azure-stack/hci/manage/manage-secure-baseline.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2751 PR for new Manage WDAC article.
  azure-stack/hci/manage/manage-wdac.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2792 Update system-requirements.md
  AKS-Hybrid/system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2787 Updated links, added Secrets node to TOC, new Secrets article, plus c…
  azure-stack/hci/concepts/security-features.md
  azure-stack/hci/manage/manage-secrets-rotation.md
  azure-stack/hci/manage/manage-secure-baseline.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2799 Update concepts-storage.md
  AKS-Hybrid/concepts-storage.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2800 Update persistent-volume.md
  AKS-Hybrid/persistent-volume.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2805 Update concepts-storage.md
  AKS-Hybrid/concepts-storage.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2806 Update container-storage-interface-disks.md
  AKS-Hybrid/container-storage-interface-disks.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, needs-human-review

#2808 Update container-storage-interface-files.md
  AKS-Hybrid/container-storage-interface-files.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, needs-human-review

#2803 Removed 4 legacy security articles and created new redirects for them
  .openpublishing.redirection.json
  azure-stack/hci/concepts/other-security-features.md
  azure-stack/hci/concepts/secure-baseline.md
  azure-stack/hci/concepts/security-bitlocker.md
  azure-stack/hci/concepts/security-windows-defender-application-control.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2812 Update known-issues.yml
  AKS-Hybrid/known-issues.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aks-hci/subsvc, needs-human-review

#2597 Update manage-default-network-access-policies-virtual-machines.md
  azure-stack/hci/manage/manage-default-network-access-policies-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2604 Update configure-proxy-settings.md
  azure-stack/hci/manage/configure-proxy-settings.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2817 Added correction per SME suggestion from Ram.
  azure-stack/hci/update/whats-the-lifecycle-manager-23h2.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2686 Fix affinity rule scenario example in vm-affinity.md
  azure-stack/hci/manage/vm-affinity.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2832 Personal/jebearer/lts
  azure-managed-lustre/includes/client-install-ubuntu-18.md
  azure-managed-lustre/includes/client-install-ubuntu-22.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#2831 Update system-requirements.md
  AKS-Hybrid/system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#2810 Update configure-proxy-settings-23h2.md
  azure-stack/hci/manage/configure-proxy-settings-23h2.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2826 Updated content and artwork for storage path improvements.
  azure-stack/hci/manage/create-arc-virtual-machines.md
  azure-stack/hci/manage/create-storage-path.md
  azure-stack/hci/manage/manage-arc-virtual-machine-resources.md
  azure-stack/hci/manage/media/manage-arc-virtual-machine-resources/add-data-disk-2.png
  azure-stack/hci/manage/media/manage-arc-virtual-machine-resources/add-data-disk-4.png
  azure-stack/hci/manage/media/manage-vm-resources/add-new-disk.png
  azure-stack/hci/manage/media/manage-vm-resources/create-an-image-from-local-share.png
  azure-stack/hci/manage/media/manage-vm-resources/create-an-image-storage-account-review-create.png
  azure-stack/hci/manage/media/manage-vm-resources/create-an-image.png
  azure-stack/hci/manage/media/manage-vm-resources/create-new-disk.png
  azure-stack/hci/manage/media/manage-vm-resources/create-virtual-machines-instance-details.png
  azure-stack/hci/manage/media/manage-vm-resources/select-create-vm.png
  azure-stack/hci/manage/virtual-machine-image-azure-marketplace.md
  azure-stack/hci/manage/virtual-machine-image-local-share.md
  azure-stack/hci/manage/virtual-machine-image-storage-account.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#2843 Update content and artwork for security terms.
  azure-stack/hci/manage/collect-logs.md
  azure-stack/hci/manage/manage-bitlocker.md
  azure-stack/hci/manage/manage-secure-baseline.md
  azure-stack/hci/manage/manage-wdac.md
  azure-stack/hci/manage/media/manage-bitlocker/manage-bitlocker-network-protection.png
  azure-stack/hci/manage/media/manage-bitlocker/manage-bitlocker.png
  azure-stack/hci/manage/media/manage-secure-baseline/manage-secure-baseline.png
  azure-stack/hci/manage/media/manage-wdac/manage-wdac.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review
