Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-05, with the labels that each got.

#3098 Deploy via Portal changes
  azure-stack/hci/deploy/deploy-via-portal.md
  azure-stack/hci/deploy/deployment-prerequisites.md
  azure-stack/hci/deploy/media/deploy-via-portal/management-tab-2.png
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3110 Update protect-virtual-machines.md
  azure-stack/operator/protect-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3113 Update protect-virtual-machines.md
  azure-stack/operator/protect-virtual-machines.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3094 3-node switchless network pattern
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/logical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/network-atc.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/physical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/logical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/network-atc.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/physical-components-layout.png
  azure-stack/hci/plan/three-node-switchless-two-switches-single-link.md
  azure-stack/hci/plan/three-node-switchless-two-switches-two-links.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3123 Update azure-stack-manage-permissions.md
  azure-stack/user/azure-stack-manage-permissions.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3120 3-node switchless high-res image replacement
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/logical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/network-atc.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-dual-link/physical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/logical-components-layout.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/network-atc.png
  azure-stack/hci/plan/media/three-node-switchless-two-switches-single-link/physical-components-layout.png
  azure-stack/hci/plan/three-node-switchless-two-switches-single-link.md
  azure-stack/hci/plan/three-node-switchless-two-switches-two-links.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#3121 Cloud network vswitch naming
  azure-stack/hci/plan/cloud-deployment-network-considerations.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3130 Add note to Add, Repair server
  azure-stack/hci/manage/add-server.md
  azure-stack/hci/manage/repair-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3145 Update aks-whats-new-23h2.md
  AKS-Hybrid/aks-whats-new-23h2.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#3128 Update system-requirements.md
  AKS-Hybrid/system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge
