Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-06, with the labels that each got.

#3161 Update backup-workload-cluster.md
  AKS-Hybrid/backup-workload-cluster.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#3167 Update vm-powershell.md
  azure-stack/hci/manage/vm-powershell.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3169 Update scale-requirements.md
  AKS-Hybrid/scale-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#3168 Update deploy-gpu-node-pool.md
  AKS-Hybrid/deploy-gpu-node-pool.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, aks-hci/subsvc

#3133 ARM deployment troubleshooting section
  azure-stack/hci/deploy/deployment-azure-resource-manager-template.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3164 Add manual role permissions for add/repair server
  azure-stack/hci/manage/add-server.md
  azure-stack/hci/manage/repair-server.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3165 2405 rel notes update
  azure-stack/hci/known-issues-2405.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc

#3174 Update user-compute-upload-vhd.md
  azure-stack/includes/user-compute-upload-vhd.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#3183 Update deploy-via-portal.md
  azure-stack/hci/deploy/deploy-via-portal.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3186 Update azure-site-recovery-overview.md
  azure-stack/operator/azure-site-recovery-overview.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3160 6B 2024 Security update
  azure-stack/hci/security-update/hci-security-update-june-2024.md
  azure-stack/hci/toc.yml
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3170 Azure Arc gateway for 2405 preview
  azure-stack/hci/deploy/deployment-azure-arc-gateway.md
  azure-stack/hci/deploy/media/deployment-azure-arc-gateway/arc-gateway-component-diagram.png
  azure-stack/hci/deploy/media/deployment-azure-arc-gateway/connected-machine-agent-output.png
  azure-stack/hci/deploy/media/deployment-azure-arc-gateway/existing-deployment-workflow.png
  azure-stack/hci/deploy/media/deployment-azure-arc-gateway/new-deployment-workflow.png
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, needs-human-review

#3190 Stretched cluster requirements update
  azure-stack/hci/concepts/host-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3176 TVM overview guidance bullet
  azure-stack/hci/manage/trusted-launch-vm-overview.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge
