Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2024-04, with the labels that each got.

#3029 Update release-notes.md
  azure-stack/operator/release-notes.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3037 Update aks-vmware-cluster-architecture.md
  AKS-Hybrid/aks-vmware-cluster-architecture.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aks-hci/subsvc, qualifies-for-auto-merge

#3039 Update aks-vmware-system-requirements.md
  AKS-Hybrid/aks-vmware-system-requirements.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#3067 Update azure-site-recovery-capacity-planning.md
  azure-stack/operator/azure-site-recovery-capacity-planning.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc, qualifies-for-auto-merge

#3066 Update site-recovery-deploy-source.md
  azure-stack/operator/site-recovery-deploy-source.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, azure-stack-hub/subsvc

#3069 Update deploy-gpu-node-pool.md
  AKS-Hybrid/deploy-gpu-node-pool.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, aks-hci/subsvc, qualifies-for-auto-merge

#3063 Update deployment-prep-active-directory.md
  azure-stack/hci/deploy/deployment-prep-active-directory.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3064 Azure verification prereq changes
  azure-stack/hci/deploy/azure-verification.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc

#3076 Update configure-proxy-settings-23h2.md
  azure-stack/hci/manage/configure-proxy-settings-23h2.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, azure-stack-hci/subsvc, qualifies-for-auto-merge

#3075 Single server storage note
  azure-stack/hci/concepts/system-requirements-23h2.md
  azure-stack/hci/plan/single-server-deployment.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2019 Added latest diskspd version
  azure-stack/hci/manage/diskspd-overview.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2206 correct Health Settings default value
  azure-stack/hci/manage/health-service-settings.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2440 Update host-network-requirements.md
  azure-stack/hci/concepts/host-network-requirements.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2494 Update update-cluster.md
  azure-stack/hci/manage/update-cluster.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2537 Update manage-network-atc.md
  azure-stack/hci/manage/manage-network-atc.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge

#2844 Update azure-stack-sql-resource-provider-2-0-13.md
  azure-stack/operator/azure-stack-sql-resource-provider-2-0-13.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hub/subsvc, qualifies-for-auto-merge

#2960 Update update-cluster.md
  azure-stack/hci/manage/update-cluster.md
Labels: azure-stack/svc, Change sent to author, do-not-merge, aq-pr-triaged, azure-stack-hci/subsvc, qualifies-for-auto-merge
