Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2025-09, with the labels that each got.

#3836 Update oem-license.md - instance vs. clusters
  azure-local/oem-license.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-local/svc

#3839 Register Azure Stack HCI RP via the Azure portal
  azure-local/deploy/download-23h2-software.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3818 Removed public preview text from prereqs
  azure-local/deploy/deployment-local-identity-with-key-vault.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3869 Added KI for opt-in update and updated TOC entry for best practices article
  azure-local/TOC.yml
  azure-local/update/update-opt-enable.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-local/svc
