Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2025-02, with the labels that each got.

#3501 Update graph-api-retirement.md
  azure-stack/operator/graph-api-retirement.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-stack-hub/svc

#3525 Update compare-vm-management-capabilities.md
  azure-local/concepts/compare-vm-management-capabilities.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-local/svc

#3529 Update graph-api-retirement.md
  azure-stack/operator/graph-api-retirement.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-stack-hub/svc

#3531 Update OAW package hash for 2501 release
  azure-stack/operator/operator-access-workstation.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-stack-hub/svc

#3452 Update install-solution-upgrade.md
  azure-local/upgrade/install-solution-upgrade.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-stack-hci/svc
