Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2025-04, with the labels that each got.

#3557 Update firewall-requirements.md
  azure-local/concepts/firewall-requirements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3582 Update configure-custom-settings-active-directory.md
  azure-local/plan/configure-custom-settings-active-directory.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3584 Add missing 16G platform and fix URLs to point to Dell website
  azure-stack/operator/azure-stack-update-oem.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/svc

#3591 Update azure-stack-network-differences.md
  azure-stack/user/azure-stack-network-differences.md
Labels: Change sent to author, ready-to-merge, azure-stack-hub/svc

#3607 Update graph-api-retirement.md
  azure-stack/operator/graph-api-retirement.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-stack-hub/svc

#3611 Update links and text in ThirdPartyNotices.md per CELA request
  ThirdPartyNotices.md
Labels: do-not-merge, review-team-triage, needs-human-review
