Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2025-06, with the labels that each got.

#3687 Revised prereqs and reg key sections
  azure-local/upgrade/install-solution-upgrade.md
  azure-local/upgrade/upgrade-to-24h2-powershell.md
Labels: Change sent to author, ready-to-merge, azure-local/svc

#3679 Update validate-solution-upgrade-readiness.md
  azure-local/upgrade/validate-solution-upgrade-readiness.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3692 Update container-storage-interface-files.md
  AKS-Arc/container-storage-interface-files.md
Labels: Change sent to author, do-not-merge, azure-kubernetes-service-hybrid/svc

#3695 Removed one prereq from the install solution upgrade doc
  azure-local/upgrade/install-solution-upgrade.md
  azure-local/upgrade/media/install-solution-upgrade/verify-lcmextension-installed.png
Labels: Change sent to author, do-not-merge, needs-human-review, azure-local/svc

#3694 Revised KIs from prev releases
  azure-local/known-issues.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-local/svc

#3693 Update concepts-storage.md
  AKS-Arc/concepts-storage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-kubernetes-service-hybrid/svc

#3703 Update azure-verification.md
  azure-local/deploy/azure-verification.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-local/svc

#3700 Revised KIs from previous releases
  azure-local/known-issues.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-local/svc

#3706 2504 KI about timezone resetting to PST
  azure-local/known-issues.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-local/svc

#3709 Fixed broken link in the deploy via portal doc
  azure-local/deploy/deploy-via-portal.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-local/svc

#3712 Removed specific step for v2405.3 from Add/Repair a node articles
  azure-local/manage/add-server.md
  azure-local/manage/repair-server.md
Labels: Change sent to author, ready-to-merge, azure-local/svc
