Repository MicrosoftDocs/azure-stack-docs, pull requests merged in 2025-01, with the labels that each got.

#3440 Update RHEL9 docs only to 2.15.6
  azure-managed-lustre/client-install.md
  azure-managed-lustre/includes/client-install-version-rhel-8.md
  azure-managed-lustre/includes/client-install-version-rhel-9.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, triaged, aq-pr-triaged, needs-human-review

#3469 Update AMLFS client install to 2.15.6
  azure-managed-lustre/includes/client-install-version-hpc-alma-86.md
  azure-managed-lustre/includes/client-install-version-rhel-8.md
  azure-managed-lustre/includes/client-install-version-ubuntu.md
  azure-managed-lustre/includes/client-upgrade-version-rhel-alma.md
  azure-managed-lustre/includes/client-upgrade-version-ubuntu.md
Labels: azure-stack/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#3457 Update deployment-introduction.md
  azure-local/deploy/deployment-introduction.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-stack-hci/svc

#3485 Fixed typo
  azure-local/overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-local/svc
